.h0 {
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 11.2rem;
  line-height: 1.4em; }

h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 3.12rem;
  line-height: 1.4em;
  letter-spacing: 0.24px; }

h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2.87rem;
  line-height: 1.4em;
  letter-spacing: 0.24px; }

h3 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1.3em;
  letter-spacing: 0.24px; }

h4 {
  font-family: "Playfair Display";
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.6em; }

h5 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.6em;
  letter-spacing: 0.02rem; }

.p1 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 0.93rem;
  line-height: 2.2em; }

.p2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.83rem;
  line-height: 2.2em; }

.p3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 2.4em;
  letter-spacing: 0.5px; }

.p4 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 0.62rem;
  line-height: 2.2em;
  letter-spacing: 0.05rem; }

.img1 {
  font-family: "Crimson Text";
  font-weight: 400;
  font-size: 0.73rem;
  line-height: 1em;
  color: #D0D2D8; }

.a2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.47rem;
  line-height: 1em;
  color: #B8B8C7;
  letter-spacing: 0.22rem;
  text-transform: uppercase; }

.a3 {
  font-family: "Crimson Text";
  font-weight: 400;
  font-size: 0.62rem;
  line-height: 1.2em;
  color: #D0D2D8;
  position: absolute; }

a.cuteLink {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.55rem;
  line-height: 1em;
  color: #31313F;
  letter-spacing: 0.28rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.menuWrapper {
  left: -100%; }
  .menuWrapper.isOpen {
    left: 0; }

.menuWrapper nav li a {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8em; }

.slide svg {
  height: 100% !important; }
