@media (max-width: 640px) {
  html {
    font-size: 1.06vw; }
  @-ms-viewport {
    width: device-width; }
  .notMobile {
    display: none; }
  .wrapperMainInfo.fullwidth {
    max-height: 100%; }
    .wrapperMainInfo.fullwidth .headImage h2 {
      padding-left: 0%;
      padding-top: 0;
      width: 75%;
      margin: 0 auto;
      text-align: center; }
    .wrapperMainInfo.fullwidth .headImage h6 {
      padding-left: 16.5%;
      color: #fff;
      bottom: 7.54rem;
      font-size: 3.2rem; }
    .wrapperMainInfo.fullwidth .headImage .captionImg {
      display: none; }
  .wrapperMainInfo .indexNavWrapper {
    width: 20%;
    float: left;
    position: absolute;
    height: 100%; }
  .wrapperMainInfo .headImage {
    float: right;
    width: 79.166%;
    height: 100%;
    background: #fff no-repeat center center;
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    overflow: hidden; }
  .awardsState .firstWrapper {
    top: 6rem;
    right: 30px; }
    .awardsState .firstWrapper .cute-first {
      font-size: 55px; }
    .awardsState .firstWrapper .firstText {
      font-size: 2.23rem;
      margin-top: 2rem; }
  .menuWrapper .videoWrapp {
    -webkit-transition: visibility 0 0.3s;
    transition: visibility 0 0.3s; }
  .menuWrapper:not(.isOpen) .videoWrapp {
    visibility: hidden !important; }
  .menuWrapper nav {
    z-index: 99999;
    position: fixed;
    height: auto; }
    .menuWrapper nav:after, .menuWrapper nav:before {
      height: 100%; }
    .menuWrapper nav li {
      width: 42.5rem;
      height: 10.6rem; }
      .menuWrapper nav li:first-of-type:before {
        bottom: 10.6rem; }
      .menuWrapper nav li:last-of-type:before {
        bottom: -10.6rem; }
  .menuWrapper:after {
    z-index: 102;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    position: fixed; }
  .wrapperMainInfo {
    height: 94.4rem; }
    .wrapperMainInfo .headImage {
      width: 83.6%; }
    .wrapperMainInfo .captionImg {
      bottom: -7.4rem;
      font-size: 3.1rem; }
      .wrapperMainInfo .captionImg:before {
        left: -3.5rem;
        width: 2.5rem;
        top: 1.2rem; }
  .a2 {
    font-size: 2.2rem;
    margin: 0 0 1.2em 0;
    letter-spacing: 2.5px;
    display: inline-block; }
  .facebook {
    font-size: 11rem;
    top: 16rem;
    margin-left: -1.05rem; }
  .container {
    width: 77.5rem;
    margin-top: 19.7rem; }
  a.cuteLink, nav li:after {
    font-size: 2.6rem; }
  a.cuteLink {
    line-height: 1.5em; }
  nav li:after {
    position: relative;
    left: 1rem; }
  .wrapper nav {
    float: left;
    margin-top: 4rem !important; }
    .wrapper nav li {
      margin-right: 3rem;
      display: block;
      float: left; }
  .contentLinkText {
    padding-top: 6.4rem !important; }
    .contentLinkText h3 {
      float: right;
      width: 84%; }
    .contentLinkText.mobileNoMargin h3 {
      float: none;
      width: 100%; }
    .contentLinkText.mobileNoMargin nav {
      margin-left: 0 !important; }
  .contentLink:first-of-type nav {
    margin-left: 20%; }
  .contentLinksWrapper {
    width: 100%;
    padding-top: 0; }
    .contentLinksWrapper.casestudy {
      width: 79rem; }
      .contentLinksWrapper.casestudy .contentLink:not(:last-of-type) {
        margin-top: 0; }
  .facebook {
    float: none;
    position: absolute; }
  .h0 {
    font-size: 20rem;
    line-height: 0.6em;
    padding-bottom: 0.23em; }
  .p1, .p2, .p3 {
    font-size: 3.3rem; }
  h1 {
    font-size: 8rem; }
  h2 {
    font-size: 5.28rem; }
  h3 {
    font-size: 4.4rem;
    line-height: 1.5em; }
  h4 {
    font-size: 4rem; }
  h5 {
    font-size: 4rem; }
  .wrapperMainInfo .indexNavWrapper {
    display: none; }
  .plus {
    visibility: visible !important; }
    .plus:before {
      width: 100%; }
    .plus:after {
      height: 100%; }
  .contentLinksWrapper .contentLink {
    display: block;
    float: left;
    margin-bottom: 2.5rem;
    margin-top: 6rem; }
    .contentLinksWrapper .contentLink.col2, .contentLinksWrapper .contentLink.col3, .contentLinksWrapper .contentLink.col4 {
      width: 100%; }
    .contentLinksWrapper .contentLink.col1 {
      width: 100%; }
  .aboutMeWrapper {
    width: 79rem;
    padding-right: 2rem;
    padding-top: 12.2rem; }
    .aboutMeWrapper.indexAbout {
      margin-right: 2rem;
      width: 77rem; }
    .aboutMeWrapper.mobileMargin {
      margin-top: -15rem; }
    .aboutMeWrapper .aboutMeLeftCol {
      width: 100%;
      margin-bottom: 5.2rem; }
      .aboutMeWrapper .aboutMeLeftCol h2 br {
        display: none; }
    .aboutMeWrapper .aboutMeRightCol {
      width: 100%; }
      .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock {
        width: 100%;
        margin-bottom: 2.5rem; }
  .a3.tip {
    display: none; }
  .menuWrapper nav {
    top: auto;
    bottom: 20%; }
    .menuWrapper nav li a {
      font-size: 6.5rem; }
  .partnersWrapper {
    margin-right: 2.5rem;
    width: 81.5%; }
    .partnersWrapper h2 {
      margin-bottom: 5rem; }
  .partnersWrapper .partnerTable {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    padding-top: 5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .partnersWrapper .partnerTable .partner {
      width: 50%;
      text-align: center !important;
      vertical-align: middle;
      padding: 3rem 0; }
      .partnersWrapper .partnerTable .partner img {
        max-height: 18rem;
        max-width: 80%; }
  .lastProjectWrapper {
    width: 73rem;
    margin-bottom: 12.6rem; }
    .lastProjectWrapper .leftColLastProject {
      width: 100%;
      float: none; }
      .lastProjectWrapper .leftColLastProject .a3.tip {
        top: 5.55rem; }
    .lastProjectWrapper .rightColLastProject {
      margin-top: 4rem;
      width: 100%;
      float: left; }
  .fullImg {
    margin-top: 8.5rem;
    height: 57rem; }
    .fullImg.caseStudyFullImgM {
      margin-top: 12rem; }
  .betweenLine {
    margin-top: 4.7rem;
    margin-bottom: 3.72rem; }
  .container.bordered {
    width: 79.5rem; }
    .container.bordered:after {
      left: -5%;
      width: 105%; }
  .aboutMeWrapper.aboutSmallLeftCol {
    padding-top: 8.2rem; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
      width: 100%;
      margin-bottom: 3.2rem; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol {
      width: 100%; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco {
        position: static;
        float: none;
        width: 100%; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco {
          width: 22%;
          margin-bottom: 4rem; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco2 {
          width: 30%;
          margin-bottom: 4rem; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock {
        width: 100%;
        float: none;
        padding-left: 0; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 {
          font-size: 4.8rem; }
          .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 br {
            display: none; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock:nth-of-type(even) {
          padding-left: 0; }
  .caseStudyWrapper {
    width: 75.6rem;
    float: right;
    margin-right: 3.64rem;
    padding-top: 14rem;
    position: relative; }
    .caseStudyWrapper.paddingMobileIcon {
      padding-top: 30rem;
      margin-top: 5rem; }
    .caseStudyWrapper.project3 {
      width: 75.5rem; }
      .caseStudyWrapper.project3 .titleWrapper h3 {
        width: 100%;
        margin-top: 2rem; }
    .caseStudyWrapper .a2 {
      padding-bottom: 4.1754rem; }
    .caseStudyWrapper.middleWidth .titleWrapper {
      width: 100%; }
    .caseStudyWrapper.middleWidth .asideTextCaseStudy .p1 {
      width: 100%; }
    .caseStudyWrapper .titleWrapper .titleImgWrapper {
      position: absolute;
      top: 5rem;
      text-align: center;
      width: auto;
      height: 19.38rem;
      left: -8rem;
      right: 0;
      margin: auto; }
      .caseStudyWrapper .titleWrapper .titleImgWrapper img {
        width: 19.38rem; }
    .caseStudyWrapper .titleWrapper h3 {
      width: 91.5%;
      float: left;
      display: block;
      position: relative;
      top: -0.5rem;
      line-height: 1.6em;
      margin-top: 5rem;
      font-weight: bold; }
      .caseStudyWrapper .titleWrapper h3 i {
        font-style: normal; }
      .caseStudyWrapper .titleWrapper h3 br {
        display: none; }
    .caseStudyWrapper .asideTextCaseStudy {
      clear: both;
      padding-top: 6.6054rem; }
      .caseStudyWrapper .asideTextCaseStudy .p1 {
        width: 100%;
        float: none;
        padding-right: 5.42%; }
      .caseStudyWrapper .asideTextCaseStudy .bigIco {
        width: 100%;
        float: right;
        text-align: left; }
        .caseStudyWrapper .asideTextCaseStudy .bigIco img {
          width: 56rem;
          margin: 10rem 0; }
  .smallLogos {
    display: none; }
  .owl-item:last-of-type {
    margin-right: 0 !important; }
  .imagesProjectWrapper {
    overflow: hidden;
    padding-top: 47rem;
    background: none;
    margin-top: -40rem; }
    .imagesProjectWrapper.project3 {
      background-color: #F2F3F7;
      padding-top: 20.44rem;
      margin-top: -15rem; }
      .imagesProjectWrapper.project3 .tabletImg {
        display: block;
        margin: 0 auto;
        width: 89.74rem; }
      .imagesProjectWrapper.project3 .project3Wrapper {
        width: 89.64rem;
        margin: 0 auto;
        position: static;
        left: 0;
        padding-top: 4.69rem; }
      .imagesProjectWrapper.project3 .leftColoumn {
        float: none;
        width: 100%;
        text-align: center; }
        .imagesProjectWrapper.project3 .leftColoumn img:not(:first-of-type) {
          margin-top: 2.5rem; }
        .imagesProjectWrapper.project3 .leftColoumn img:last-of-type {
          margin-top: 1.56rem; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(1) {
          width: 100%; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(2) {
          width: 95%; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(3) {
          width: 100%; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(4) {
          width: 95%; }
      .imagesProjectWrapper.project3 .rightColoumn {
        float: right;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(1) {
          width: 100%; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(2) {
          width: 95%;
          margin-top: 2.5rem; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(3) {
          width: 44%;
          margin-left: 0;
          margin-top: 2.5rem;
          float: left;
          margin-right: 3%;
          margin-left: 4.5%; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(4) {
          width: 44%;
          margin-left: 0;
          margin-top: 2.5rem;
          float: left; }
    .imagesProjectWrapper.carOnFly {
      background: none !important; }
    .imagesProjectWrapper .mobileSliderWrapper {
      float: none;
      margin: -3rem auto 0 auto;
      height: 125.62rem;
      width: 63.5rem;
      padding-top: 6.2rem;
      background: none; }
      .imagesProjectWrapper .mobileSliderWrapper:after {
        width: 53.4rem;
        height: 114rem;
        background-size: 54rem;
        display: none; }
      .imagesProjectWrapper .mobileSliderWrapper .owl-item:first-of-type .slide {
        position: relative;
        z-index: 1; }
      .imagesProjectWrapper .mobileSliderWrapper .owl-item:first-of-type:before {
        content: "";
        width: 68.5rem;
        height: 132.62rem;
        background-image: url(/img/casestudy/1/mobile.png);
        background-repeat: no-repeat;
        position: absolute;
        left: -1rem;
        top: -18rem;
        background-size: 55rem; }
      .imagesProjectWrapper .mobileSliderWrapper .slide {
        height: 93.75rem;
        width: 53.2rem;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        margin-right: 0;
        background-position: center top; }
        .imagesProjectWrapper .mobileSliderWrapper .slide:first-of-type {
          margin-left: 0; }
        .imagesProjectWrapper .mobileSliderWrapper .slide svg {
          margin-top: -14.5rem; }
        .imagesProjectWrapper .mobileSliderWrapper .slide.onlyMob {
          display: block; }
        .imagesProjectWrapper .mobileSliderWrapper .slide.small {
          height: 74.75rem; }
    .imagesProjectWrapper .desktopImgWrapper {
      width: 100%;
      margin: 1.04rem auto 0 auto;
      overflow: hidden; }
      .imagesProjectWrapper .desktopImgWrapper .bigImg {
        width: 100%; }
      .imagesProjectWrapper .desktopImgWrapper .smallImg {
        width: 100%; }
      .imagesProjectWrapper .desktopImgWrapper img {
        float: none;
        display: block;
        margin-bottom: 5rem; }
        .imagesProjectWrapper .desktopImgWrapper img:nth-of-type(odd) {
          margin-right: 0; }
        .imagesProjectWrapper .desktopImgWrapper img:nth-of-type(4) {
          margin-top: 0; }
    .imagesProjectWrapper .otherMobile {
      display: none; }
  .casestudyTextWrapper {
    margin-top: 12.8rem;
    width: 75.5rem;
    margin-right: 3.5rem; }
    .casestudyTextWrapper .contentLinkText h3 {
      width: 100%;
      float: none;
      font-weight: bold;
      padding-bottom: 7rem; }
      .casestudyTextWrapper .contentLinkText h3 i {
        font-style: normal; }
  .video.play {
    height: 48rem; }
    .video.play i {
      font-size: 12rem; }
  .backstageWrapper {
    width: 79rem; }
    .backstageWrapper .backstage {
      width: 39.5rem;
      height: 39.5rem; }
      .backstageWrapper .backstage.backstageMore {
        font-size: 3.5rem;
        line-height: 39.5rem; }
  .imagesProject3WrapperAlt {
    height: 65.25rem; }
    .imagesProject3WrapperAlt .smallImgWrapper {
      top: auto;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 20rem;
      overflow: hidden; }
      .imagesProject3WrapperAlt .smallImgWrapper img {
        height: 20rem;
        width: auto;
        margin-right: 4rem; }
        .imagesProject3WrapperAlt .smallImgWrapper img:not(:last-of-type) {
          margin-bottom: 0; }
  .sharePageWrapper {
    top: 6rem;
    right: 1rem; }
  footer {
    padding-top: 12.81rem; }
    footer .footerWrapperContainer {
      width: 79.5rem; }
    footer .goTopWrapper {
      width: 7rem;
      height: 7rem;
      margin: 0 auto 10rem auto;
      display: block; }
    footer .footerNavWrapper {
      width: 79rem;
      margin-right: 0;
      margin-bottom: 18rem; }
      footer .footerNavWrapper h5:not(.noPadding) {
        padding-top: 3.7rem; }
      footer .footerNavWrapper .a2 {
        font-size: 2.5rem; }
    footer .asideFooter {
      width: 88%;
      padding-top: 4rem; }
      footer .asideFooter .footerSmall {
        font-size: 2.6rem;
        padding-bottom: 4rem;
        padding-right: 2rem; }
      footer .asideFooter .earthWrapper .map {
        width: 9.6rem;
        vertical-align: middle;
        position: relative;
        left: 2rem;
        height: 6.5rem; }
      footer .asideFooter .earthWrapper .p3 {
        vertical-align: middle;
        display: block;
        font-size: 2.1rem;
        color: black;
        margin-top: -0.8rem;
        margin-left: 0.7rem; }
    footer .footerWrapper {
      width: 63.5rem;
      margin-bottom: 0rem; }
      footer .footerWrapper h2 {
        width: 100%; }
        footer .footerWrapper h2:after {
          top: 4.1rem;
          right: 11rem; }
    footer .noTablet {
      display: none; }
    footer .footerNav {
      margin-top: 12rem; }
      footer .footerNav .a2 {
        margin-bottom: 0.5rem; }
      footer .footerNav.center {
        padding-left: 0; }
        footer .footerNav.center h5 {
          clear: both; }
        footer .footerNav.center div {
          float: left;
          margin-right: 1rem; }
          footer .footerNav.center div:after {
            content: ","; }
      footer .footerNav.col1 {
        width: 80%; }
      footer .footerNav.col2 {
        width: 80%; }
      footer .footerNav.col3 {
        width: 80%; }
      footer .footerNav.col4 {
        width: 80%; }
      footer .footerNav.col5 {
        width: 80%; }
  .projectsWrapper .projectsInfoWrapper {
    width: 64.4rem; }
    .projectsWrapper .projectsInfoWrapper h2 {
      width: 97%; }
      .projectsWrapper .projectsInfoWrapper h2:after {
        top: 4.1rem;
        right: 4.74rem; }
  .expProjectsWrapper {
    float: none; }
    .expProjectsWrapper .expProject {
      width: 100%;
      height: 65rem;
      margin: 0; }
      .expProjectsWrapper .expProject .expProjectInfoWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
      .expProjectsWrapper .expProject .expProjectText {
        width: 60rem;
        position: absolute;
        bottom: 5rem;
        left: 15rem; }
        .expProjectsWrapper .expProject .expProjectText h4 {
          font-size: 3.4rem; }
      .expProjectsWrapper .expProject .expProjectImg {
        width: 17.7rem;
        min-width: 65px;
        min-height: 74px;
        position: absolute;
        right: 10px;
        top: 10px; }
      .expProjectsWrapper .expProject .a3.tip {
        display: none; }
  .fullImg {
    margin-top: 0rem;
    height: 59.125rem; }
  .projectsWrapper .projects {
    width: 79.25rem; }
    .projectsWrapper .projects .left, .projectsWrapper .projects .right {
      float: none;
      width: 100%; }
    .projectsWrapper .projects .right .projectsUl:last-of-type li:first-of-type {
      border-bottom: 1px solid #DBDBEA; }
    .projectsWrapper .projects .projectsUl {
      overflow: hidden;
      height: 9rem; }
      .projectsWrapper .projects .projectsUl.isOpen {
        height: auto; }
        .projectsWrapper .projects .projectsUl.isOpen li:first-of-type {
          border-bottom: 1px solid #DBDBEA; }
      .projectsWrapper .projects .projectsUl.isOpen li:first-of-type .a2:after {
        -webkit-transform: rotateZ(45deg) translateY(-1rem);
        -ms-transform: rotate(45deg) translateY(-1rem);
        transform: rotateZ(45deg) translateY(-1rem); }
      .projectsWrapper .projects .projectsUl .linkLi .projectPlus {
        font-size: 6.7rem;
        width: 6.4rem;
        height: 6.4rem;
        left: -7rem;
        top: 0.14rem; }
      .projectsWrapper .projects .projectsUl li {
        height: 7.6rem;
        width: 100%;
        padding-left: 7.5rem; }
        .projectsWrapper .projects .projectsUl li:not(:first-of-type) {
          margin: 2rem 0; }
        .projectsWrapper .projects .projectsUl li:first-of-type {
          padding-top: 0;
          padding-bottom: 0;
          height: 9rem;
          border-top: 1px solid #DBDBEA;
          width: 100%;
          padding-left: 0;
          cursor: pointer; }
          .projectsWrapper .projects .projectsUl li:first-of-type:hover .a2:after {
            border-bottom: 1px solid #B09766;
            border-right: 1px solid #B09766; }
          .projectsWrapper .projects .projectsUl li:first-of-type .a2 {
            line-height: 9rem;
            font-size: 3rem;
            position: relative;
            width: 100%; }
            .projectsWrapper .projects .projectsUl li:first-of-type .a2:after {
              content: "";
              width: 2.3rem;
              height: 2.3rem;
              display: block;
              position: absolute;
              right: 1.45833rem;
              top: 0;
              bottom: 0;
              margin: auto;
              border-bottom: 1px solid #DBDBEA;
              border-right: 1px solid #DBDBEA;
              -webkit-transform: rotateZ(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotateZ(-45deg);
              -webkit-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              -webkit-transition: -webkit-transform 0.5s;
              transition: -webkit-transform 0.5s;
              transition: transform 0.5s;
              transition: transform 0.5s, -webkit-transform 0.5s; }
        .projectsWrapper .projects .projectsUl li.isActive {
          height: auto; }
  .bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1; }
  .bx-wrapper .bx-viewport {
    -webkit-transform: translatez(0);
    -ms-transform: translatez(0);
    transform: translatez(0); }
  .bx-viewport {
    padding-top: 9rem;
    height: 118rem !important; }
  .imagesProjectWrapperAlt .imgWrapper {
    position: relative;
    float: right; }
    .imagesProjectWrapperAlt .imgWrapper .number {
      display: none; }
    .imagesProjectWrapperAlt .imgWrapper.mediumImg {
      width: 51.86%;
      height: 25.74rem;
      margin-bottom: 1.6rem;
      margin-left: 4.5rem; }
    .imagesProjectWrapperAlt .imgWrapper.smallImg {
      width: 32%;
      margin-right: 1.09rem;
      height: 25.74rem;
      margin-bottom: 1.6rem; }
    .imagesProjectWrapperAlt .imgWrapper.bigImg {
      width: 100%;
      margin-bottom: 1.09rem;
      float: left;
      height: 67.19rem; }
    .imagesProjectWrapperAlt .imgWrapper.rightImg {
      width: 46.26%;
      float: left;
      height: 61.56rem; }
  .imagesProjectWrapperAlt .leftCol {
    width: 100%;
    float: left;
    margin-bottom: 4.5rem; }
  .imagesProjectWrapperAlt .rightCol {
    width: 88%;
    float: none;
    margin: 0 auto 5.5rem auto;
    overflow: hidden;
    position: relative; }
    .imagesProjectWrapperAlt .rightCol .goldLinksWrapper {
      width: 38.21%;
      font-size: 5.04rem;
      margin-top: 5rem;
      margin-left: 3.72rem;
      position: absolute;
      bottom: 0;
      left: 49%; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .linkUnderline {
        display: inline; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type {
        margin-bottom: 0rem;
        position: relative; }
        .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type:after {
          position: absolute;
          content: "+";
          left: -1.7rem;
          top: -8.7rem;
          font-size: 6.8rem;
          color: #31313F;
          line-height: 1em; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLink {
        overflow: hidden; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLinksText {
        color: #31313F;
        position: relative; }
  .imagesProjectWrapperAlt .coloumnText {
    margin-top: 4.06rem;
    clear: both;
    width: 74.01rem;
    float: right;
    margin-right: 4.4rem;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem; }
  .methState {
    width: 100rem;
    padding-left: 21rem;
    overflow: hidden;
    float: right;
    position: relative; }
    .methState .h0, .methState h1 {
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    .methState .squareImgMethodology {
      margin-bottom: 14rem;
      height: 80rem;
      width: 100rem; }
      .methState .squareImgMethodology ul {
        left: 0;
        bottom: 0;
        width: 100%; }
      .methState .squareImgMethodology li {
        width: 33.3%;
        height: 20rem;
        margin-right: 0 !important; }
    .methState .a3, .methState .smallText {
      display: none; }
    .methState .fullImg.methodologyFullImg,
    .methState .fullImg.methodologyFullImg2 {
      margin-top: 1.5rem;
      margin-left: -25rem;
      width: 100rem;
      margin-bottom: 10rem; }
    .methState h4 {
      padding-top: 4rem;
      width: 90%; }
    .methState .state4AfterImgText {
      float: none;
      width: 100%;
      padding-right: 4%;
      padding-bottom: 6rem; }
    .methState.isActive .h0, .methState.isActive h1 {
      color: #B09766; }
    .methState.isActive .methodologyState[class*=' state'] .h0 .openMethTab:after {
      height: 0;
      opacity: 0; }
    .methState .p3Wrapper {
      width: 100% !important; }
      .methState .p3Wrapper .p3:not(:first-of-type) {
        display: none; }
      .methState .p3Wrapper .p3 {
        width: 100% !important;
        padding-right: 4% !important;
        float: none !important;
        margin-right: 0 !important; }
    .methState:last-of-type {
      margin-bottom: 14rem; }
      .methState:last-of-type:after {
        position: absolute;
        content: "";
        left: 21rem;
        bottom: 0;
        width: 79rem;
        height: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:before {
      position: absolute;
      content: "";
      left: 21rem;
      top: 0;
      width: 79rem;
      height: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:not(.isActive) h4,
    .methState:not(.isActive) .p3Wrapper,
    .methState:not(.isActive) .goldLinksWrapper,
    .methState:not(.isActive) .methodologyFullImg,
    .methState:not(.isActive) .methodologyFullImg2,
    .methState:not(.isActive) .state4AfterImgText,
    .methState:not(.isActive) .squareImgMethodology,
    .methState:not(.isActive) .methodologyVideoWrapper,
    .methState:not(.isActive) .methodologyAboutVideoWrapper,
    .methState:not(.isActive) .methodologySmallImg,
    .methState:not(.isActive) .linkWrapp,
    .methState:not(.isActive) .fullImg {
      display: none; }
    .methState .methodologyState {
      display: block;
      margin-top: 6rem;
      padding-bottom: 6rem;
      width: 100%;
      float: none; }
      .methState .methodologyState[class^='state'], .methState .methodologyState[class*=' state'] {
        width: 100%;
        margin-right: 0rem; }
        .methState .methodologyState[class^='state'] .h0, .methState .methodologyState[class*=' state'] .h0 {
          float: none;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          position: relative;
          text-indent: -6.5rem;
          line-height: .6em;
          display: inline-block;
          width: auto;
          right: 0; }
          .methState .methodologyState[class^='state'] .h0 .openMethTab, .methState .methodologyState[class*=' state'] .h0 .openMethTab {
            display: block;
            width: 11.2rem;
            height: 11.2rem;
            position: absolute;
            right: -10rem;
            top: 3.8rem;
            cursor: pointer;
            border-color: #fff; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:hover, .methState .methodologyState[class*=' state'] .h0 .openMethTab:hover {
              border-color: #B09766; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:before, .methState .methodologyState[class*=' state'] .h0 .openMethTab:before {
              width: 11.2rem;
              height: 0px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              content: "";
              border-top-width: 1px;
              border-bottom-width: 0;
              border-left-width: 0;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:after, .methState .methodologyState[class*=' state'] .h0 .openMethTab:after {
              width: 0;
              height: 100%;
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              border-top-width: 0px;
              border-bottom-width: 0;
              border-left-width: 1px;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit;
              content: "";
              -webkit-transition: height 0.5s, opacity 0.5s;
              transition: height 0.5s, opacity 0.5s;
              opacity: 1; }
        .methState .methodologyState[class^='state'] .methodologyStateText:before, .methState .methodologyState[class*=' state'] .methodologyStateText:before {
          display: none; }
        .methState .methodologyState[class^='state'] .methodologyStateText, .methState .methodologyState[class*=' state'] .methodologyStateText {
          width: 100%;
          float: none;
          padding-top: 1.5rem !important; }
        .methState .methodologyState[class^='state'] .leftWrapper, .methState .methodologyState[class^='state'] .rightWrapper, .methState .methodologyState[class*=' state'] .leftWrapper, .methState .methodologyState[class*=' state'] .rightWrapper {
          float: none;
          width: 100%; }
        .methState .methodologyState[class^='state'] .leftColomn, .methState .methodologyState[class^='state'] .rightColomn, .methState .methodologyState[class*=' state'] .leftColomn, .methState .methodologyState[class*=' state'] .rightColomn {
          float: none !important;
          width: 100% !important; }
      .methState .methodologyState.state7, .methState .methodologyState.state2 {
        padding-top: 0; }
        .methState .methodologyState.state7 .rightWrapper, .methState .methodologyState.state2 .rightWrapper {
          padding-top: 1.5rem; }
      .methState .methodologyState.state5 .p3Wrapper {
        padding-top: 6rem;
        padding-bottom: 2rem; }
        .methState .methodologyState.state5 .p3Wrapper .a3 {
          display: block;
          position: static;
          font-size: 4rem;
          width: 100%;
          color: #B09766;
          padding-top: 5rem;
          padding-bottom: 5rem; }
      .methState .methodologyState.state6 .p3Wrapper {
        padding-top: 6rem;
        padding-bottom: 2rem; }
      .methState .methodologyState.state6 .methodologyVideoWrapper,
      .methState .methodologyState.state6 .methodologyVideo,
      .methState .methodologyState.state6 .methodologyContentLinksWrapper,
      .methState .methodologyState.state6 .methodologyAboutVideoWrapper {
        width: 100%;
        float: none;
        clear: both; }
      .methState .methodologyState.state6 .methodologyVideo {
        height: auto; }
        .methState .methodologyState.state6 .methodologyVideo .videoM {
          width: 56.25rem;
          position: static;
          display: block;
          height: 32.81rem;
          margin: 8rem 0 2rem 4rem; }
          .methState .methodologyState.state6 .methodologyVideo .videoM i {
            font-size: 10rem; }
      .methState .methodologyState.state6 .contentLinkText h3 {
        width: 100%;
        float: none; }
      .methState .methodologyState.state6 .contentLink:first-of-type nav {
        margin-left: 0; }
      .methState .methodologyState.state7 .methodologySmallImg {
        float: none;
        width: 80rem;
        height: 80rem;
        margin-left: -8.5rem;
        position: static; }
      .methState .methodologyState.state7 .leftWrapper .h0 {
        top: 0;
        left: 0; }
      .methState .methodologyState.state7 .rightColomn {
        clear: both; }
      .methState .methodologyState.state7 .mobileBlock {
        display: block;
        padding-top: 5rem;
        padding-bottom: 11rem; }
        .methState .methodologyState.state7 .mobileBlock br {
          display: none; }
      .methState .methodologyState.state7 .rightWrapper {
        padding-right: 0; }
        .methState .methodologyState.state7 .rightWrapper .linkWrapp {
          font-size: 6rem;
          margin-top: 12rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp .linkUnderline {
            color: #B09766;
            margin-left: 3rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp:before {
            font-size: 7rem;
            top: -10rem;
            left: 1rem;
            color: #B09766; }
      .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper {
        width: 100%;
        float: none;
        font-size: 7rem;
        padding-top: 14rem; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li {
          width: auto;
          display: inline-block; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type) {
          margin-bottom: 5.23rem;
          position: relative; }
          .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type):after {
            position: absolute;
            content: "+";
            left: auto;
            bottom: 0rem;
            right: -7rem;
            font-size: 7rem;
            color: #B09766;
            line-height: 1em; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLink {
          overflow: visible; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLinksText {
          color: #fff;
          display: block;
          margin-bottom: 10rem; }
  .servicesWrapper.project3 {
    margin-bottom: 12rem;
    margin-top: 12rem; }
  .servicesWrapper h4 {
    margin-top: 2.78rem;
    font-size: 5.5rem;
    margin-bottom: 7.54rem; }
  .servicesWrapper .servicesUl {
    width: auto;
    overflow: hidden;
    width: 74rem; }
    .servicesWrapper .servicesUl .li {
      width: 74rem;
      padding-right: 18rem;
      padding-left: 0rem;
      height: auto;
      margin-bottom: 0rem; }
      .servicesWrapper .servicesUl .li .number {
        height: 17.70rem;
        width: 17.70rem;
        line-height: 17.7rem;
        font-size: 7.35rem;
        margin-left: 0rem; }
      .servicesWrapper .servicesUl .li h5 {
        padding-top: 5rem;
        font-size: 5.45rem; }
      .servicesWrapper .servicesUl .li .p4 {
        padding-top: 0.5rem;
        font-size: 3rem;
        width: 100%; }
  .presentProjects {
    border-top: 1px solid #D0D2D8; }
    .presentProjects .project {
      width: 50%;
      float: left;
      height: auto; }
      .presentProjects .project .projectImg {
        display: none; }
      .presentProjects .project .projectInfo {
        height: 35rem;
        text-align: center;
        line-height: 42rem; }
        .presentProjects .project .projectInfo .onlyMob {
          display: inline;
          cursor: pointer; }
        .presentProjects .project .projectInfo .textWrapper {
          display: none; }
        .presentProjects .project .projectInfo .cute-arrowRight, .presentProjects .project .projectInfo .cute-arrowLeft {
          font-size: 10rem;
          color: #DBDBEA; }
  #fp-nav {
    display: none; }
  .fullpageWrapper .videoSection .fp-tableCell .h0 {
    font-size: 17rem;
    width: 65%;
    line-height: 1.2em; }
    .fullpageWrapper .videoSection .fp-tableCell .h0 .a3.tip {
      display: none; }
  .fullpageWrapper .infoSection .methodologyState {
    padding-bottom: 1rem; }
    .fullpageWrapper .infoSection .methodologyState .h0 {
      margin-top: 5rem; }
    .fullpageWrapper .infoSection .methodologyState .methodologyStateText {
      width: 100%;
      float: none;
      padding-top: 2.8rem;
      clear: left; }
      .fullpageWrapper .infoSection .methodologyState .methodologyStateText h1 {
        font-size: 6rem;
        width: 100%; }
      .fullpageWrapper .infoSection .methodologyState .methodologyStateText .p3Wrapper .p3 {
        display: none;
        width: 100%;
        font-size: 2.4rem; }
        .fullpageWrapper .infoSection .methodologyState .methodologyStateText .p3Wrapper .p3 br {
          display: none; }
    .fullpageWrapper .infoSection .methodologyState.state6 {
      bottom: 0rem;
      position: static; }
      .fullpageWrapper .infoSection .methodologyState.state6 .contentLinksWrapper .contentLink:first-of-type nav {
        margin-left: 0; }
      .fullpageWrapper .infoSection .methodologyState.state6 .contentLinksWrapper .contentLink:first-of-type {
        padding-left: 0rem; }
      .fullpageWrapper .infoSection .methodologyState.state6 h3 {
        font-size: 3.6rem;
        width: 100%;
        float: none; }
      .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper {
        width: 100%; }
        .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
          width: 100%;
          float: none;
          clear: both; }
        .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo {
          width: 100%;
          height: auto; }
          .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo .videoM {
            top: auto;
            position: static;
            display: block;
            width: 40rem;
            margin: 4rem auto 0 auto;
            height: 20rem; }
            .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo .videoM i {
              font-size: 7rem; }
      .fullpageWrapper .infoSection .methodologyState.state6 .methodologyAboutVideoWrapper {
        float: none;
        width: 100%; }
  .fullpageWrapper .imageSection {
    background-color: #021224; }
    .fullpageWrapper .imageSection .imgYellow {
      background: transparent no-repeat center center;
      background-size: cover;
      width: 68.07%;
      height: 80%;
      margin: -3.5% auto 0 auto;
      position: relative; }
      .fullpageWrapper .imageSection .imgYellow .a3.tip {
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        bottom: -4rem;
        top: auto;
        color: #FFCA00; }
        .fullpageWrapper .imageSection .imgYellow .a3.tip:before {
          left: 0;
          right: 0;
          top: -1rem;
          margin: auto;
          width: 1.3rem; }
  .video-frame {
    height: 56.25rem !important; }
    .video-frame .video iframe {
      height: 56.25rem !important; }
  .awardsState {
    padding-bottom: 85rem; }
    .awardsState .awardWrapper {
      background-size: 200% 167%;
      background-position: center -11rem; }
    .awardsState h4 {
      font-size: 5.2rem; }
    .awardsState h6 {
      font-size: 1.5rem;
      width: 85%;
      display: none; }
    .awardsState .contentLinksWrapper .contentLink:first-of-type {
      padding-left: 0; }
    .awardsState .methodologyState.state6 .methodologyVideoWrapper {
      padding-left: 5%; }
    .awardsState .methodologyState.state6 h3 {
      font-size: 1.4rem; }
    .awardsState .whiteBg {
      padding-bottom: 2rem; }
    .awardsState .methodologyState .whiteBg {
      background-color: #fff;
      overflow: hidden; }
    .awardsState .methodologyState.state1 {
      width: 80%;
      margin: 0 auto;
      float: none; }
    .awardsState .methodologyState .h0 {
      color: #fff;
      width: auto; }
    .awardsState .methodologyState h4 {
      padding-top: 0; }
    .awardsState .methodologyState .methodologyStateText {
      text-align: left; }
      .awardsState .methodologyState .methodologyStateText h1 {
        color: #fff; }
      .awardsState .methodologyState .methodologyStateText .p3Wrapper .p3 {
        color: #fff; }
    .awardsState .methodologyState.state6 {
      margin-top: 0; }
      .awardsState .methodologyState.state6 .contentLinksWrapper {
        width: 100%;
        padding-right: 0; }
        .awardsState .methodologyState.state6 .contentLinksWrapper .contentLink {
          text-align: left;
          margin-top: 0; }
          .awardsState .methodologyState.state6 .contentLinksWrapper .contentLink .contentLinkText {
            padding-top: 0 !important; }
      .awardsState .methodologyState.state6 h3 {
        color: black;
        text-align: left;
        font-size: 1.16rem;
        line-height: 1.45em; }
      .awardsState .methodologyState.state6 .contentLinkText {
        padding-top: 1rem; }
        .awardsState .methodologyState.state6 .contentLinkText:before {
          display: none; }
        .awardsState .methodologyState.state6 .contentLinkText ul {
          text-align: left; }
          .awardsState .methodologyState.state6 .contentLinkText ul a {
            color: black; }
      .awardsState .methodologyState.state6 .methodologyVideoWrapper {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0;
        float: none; }
        .awardsState .methodologyState.state6 .methodologyVideoWrapper .videoM {
          left: auto;
          bottom: auto;
          top: 1.3rem;
          right: 1.3rem; }
          .awardsState .methodologyState.state6 .methodologyVideoWrapper .videoM i {
            font-size: 7rem; }
        .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
          width: 100%;
          float: none; }
          .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper h3 {
            font-size: 3.3rem;
            float: none;
            width: 100%;
            text-align: center; }
        .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo {
          width: 100%;
          float: none;
          height: auto; }
          .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo .videoM {
            width: 56.25rem;
            position: static;
            display: block;
            height: 32.81rem;
            margin: 4rem auto; }
            .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo .videoM i {
              font-size: 10rem; }
        .awardsState .methodologyState.state6 .methodologyVideoWrapper nav {
          float: none;
          margin: 0;
          width: 100%;
          text-align: center; }
          .awardsState .methodologyState.state6 .methodologyVideoWrapper nav li {
            float: none;
            text-align: center; }
      .awardsState .methodologyState.state6 .methodologyAboutVideoWrapper {
        display: none; }
        .awardsState .methodologyState.state6 .methodologyAboutVideoWrapper .contentLinksWrapper {
          margin-top: 0rem; }
  .awardWrapper {
    background-position: center top; }
    .awardWrapper h6 {
      font-size: 2rem;
      display: none; }
    .awardWrapper h4 {
      font-size: 5.5rem; }
    .awardWrapper .textAwards {
      padding-bottom: 1.4rem; }
  .owl-carousel, .owl-stage-outer, .owl-stage {
    width: 1px;
    min-width: 100%; } }
