@media only screen and (min-width: 1025px) {
  html {
    font-size: 1vw; }
  h2 {
    font-size: 2.9rem; }
  .owl-stage {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    cursor: default !important; }
  .smallImgWrapper .owl-stage {
    width: 11.98rem !important; }
    .smallImgWrapper .owl-stage .owl-item {
      margin-top: 2.13rem; }
  .project3 .servicesUl .owl-stage {
    width: 100% !important; }
  .project3 .servicesUl .owl-item:nth-of-type(8n+4) {
    margin-right: 13.33rem; }
  .project3 .servicesUl .owl-item:nth-of-type(8n+5) {
    margin-left: 13.33rem; } }
