@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  html {
    font-size: 1.07vw; }
  h2 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .noTablet {
    display: none; }
  .h0 {
    font-size: 7rem; }
  html {
    font-size: 1.1vw; }
  h2 {
    font-size: 3.45rem; }
  h3 {
    font-size: 2.7rem;
    line-height: 1.55em; }
  h4 {
    font-size: 2.4rem; }
  h5 {
    font-size: 2rem; }
  .p1 {
    font-size: 1.55rem; }
  .p2 {
    font-size: 1.5rem; }
  .p3 {
    font-size: 1.5rem; }
  .a2 {
    font-size: 0.88rem; }
  .a3 {
    font-size: 1.1rem; }
  .aboutContainer .aboutMeRightBlock {
    margin-top: 3rem; }
  .aboutContainer .aboutMeRightBlock h4 br {
    display: none; }
  .backstageWrapper {
    width: 75rem; }
    .backstageWrapper .backstage {
      width: 37.5rem;
      height: 37.5rem; }
      .backstageWrapper .backstage.backstageMore {
        font-size: 3.5rem;
        line-height: 37.5rem; }
  .wrapperMainInfo .headImage {
    width: 75rem; }
  .menuWrapper nav {
    top: 10%;
    bottom: auto; }
  .captionImg {
    bottom: -2.45rem; }
    .captionImg:before {
      left: -2.2rem;
      width: 1.9rem;
      top: 0.7rem; }
  .img1 {
    font-size: 1.43rem; }
  .container {
    margin-top: 9.9rem;
    width: 78rem; }
  .wrapperMainInfo {
    height: 59.125rem; }
    .wrapperMainInfo .indexNavWrapper {
      display: none; }
  .plus {
    visibility: visible !important; }
    .plus:before {
      width: 100%; }
    .plus:after {
      height: 100%; }
  .facebook {
    position: absolute;
    float: none;
    margin-left: 3rem;
    margin-top: 9.4rem;
    height: 4.4rem; }
  .aboutMeWrapper {
    width: 75rem;
    padding-right: 2rem;
    padding-top: 9.2rem; }
    .aboutMeWrapper.imagesProject3Text {
      width: 49.5rem; }
    .aboutMeWrapper.aboutSmallLeftCol {
      width: 71.2rem; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
        width: 100%; }
      .aboutMeWrapper.aboutSmallLeftCol h2 a.linkUnderline:hover:after {
        width: 0%; }
      .aboutMeWrapper.aboutSmallLeftCol h2 a.linkUnderline:after {
        bottom: 0.2em;
        color: #DBDBEA;
        -webkit-transition: width 0.5s;
        transition: width 0.5s; }
      .aboutMeWrapper.aboutSmallLeftCol .p1 a {
        text-decoration: underline;
        color: #DBDBEA;
        display: inline-block; }
        .aboutMeWrapper.aboutSmallLeftCol .p1 a:hover {
          text-decoration: none; }
        .aboutMeWrapper.aboutSmallLeftCol .p1 a span {
          color: #31313F; }
    .aboutMeWrapper .aboutMeLeftCol {
      width: 100%;
      float: none;
      position: relative; }
    .aboutMeWrapper .aboutMeRightCol {
      width: 100%;
      float: none;
      position: relative;
      padding-top: 4rem; }
      .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock {
        width: 50%;
        float: left; }
        .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock:nth-of-type(odd) {
          padding-right: 5%; }
  .contentLinksWrapper {
    width: 75rem;
    padding-right: 2rem;
    margin-bottom: -6.5rem; }
    .contentLinksWrapper .contentLink {
      display: block;
      float: left;
      margin-bottom: 6.5rem; }
      .contentLinksWrapper .contentLink:first-of-type {
        padding-left: 5rem; }
      .contentLinksWrapper .contentLink .contentLinkText {
        padding-top: 4.4rem; }
        .contentLinksWrapper .contentLink .contentLinkText:before {
          top: 2.68rem; }
        .contentLinksWrapper .contentLink .contentLinkText nav {
          margin-top: 1.45rem; }
      .contentLinksWrapper .contentLink.col2, .contentLinksWrapper .contentLink.col3, .contentLinksWrapper .contentLink.col4 {
        width: 100%;
        padding-right: 0; }
      .contentLinksWrapper .contentLink.col1 {
        width: 50%; }
        .contentLinksWrapper .contentLink.col1:nth-of-type(odd) {
          padding-left: 4rem; }
  .aboutMeWrapper.aboutSmallLeftCol {
    width: 73rem;
    padding-top: 2.2rem;
    margin-right: 1.5em; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
      width: 100%;
      margin-bottom: 3.2rem; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol {
      width: 100%; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco {
        position: static;
        float: none;
        width: 100%; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco {
          width: 12%;
          margin-bottom: 2rem; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco2 {
          width: 15%;
          margin-bottom: 2rem; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock {
        width: 100%;
        float: none;
        padding-left: 0; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 {
          font-size: 1.8rem; }
          .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 br {
            display: none; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock:nth-of-type(even) {
          padding-left: 0; }
  .menuWrapper nav {
    height: 37rem; }
    .menuWrapper nav li a {
      font-size: 3.5rem; }
  .a3.tip {
    width: 12.2rem;
    left: -15.5rem;
    top: 2.24rem; }
    .a3.tip:before {
      width: 3.6rem; }
  .partnersWrapper {
    padding-right: 2rem;
    width: 75rem;
    float: right;
    margin-right: 0; }
    .partnersWrapper .p2 {
      padding-top: 4.2rem; }
  .partnersWrapper {
    padding-bottom: 8.3rem;
    margin-top: 2.4rem; }
    .partnersWrapper .partnerTable {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: auto;
      padding-top: 5rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: auto; }
      .partnersWrapper .partnerTable .partner {
        width: 33%;
        text-align: center !important;
        vertical-align: middle;
        padding: 2.4rem 0; }
        .partnersWrapper .partnerTable .partner img {
          max-height: 8rem;
          max-width: 57%; }
  .mapWrapper {
    margin-top: -15.2rem;
    height: 67.3rem; }
  .lastProjectWrapper {
    padding-right: 2rem;
    width: 75rem;
    margin-right: 0; }
    .lastProjectWrapper .leftColLastProject {
      width: 100%;
      float: none; }
      .lastProjectWrapper .leftColLastProject .a3.tip {
        top: 5.55rem; }
    .lastProjectWrapper .rightColLastProject {
      margin-top: 4rem;
      width: 100%;
      float: none; }
      .lastProjectWrapper .rightColLastProject .p3 {
        padding-top: 0rem; }
  .expProjectsWrapper {
    float: none;
    margin-top: 5rem; }
    .expProjectsWrapper .expProject {
      width: 100%;
      height: 57.8rem; }
      .expProjectsWrapper .expProject .expProjectInfoWrapper {
        left: 2.23rem;
        bottom: 1.54rem; }
      .expProjectsWrapper .expProject .expProjectText {
        width: 55rem; }
        .expProjectsWrapper .expProject .expProjectText h4 {
          font-size: 1.6rem;
          line-height: 2.1rem;
          margin-top: 1rem; }
      .expProjectsWrapper .expProject .expProjectImg {
        width: 8.7rem;
        min-width: 70px;
        min-height: 74px; }
        .expProjectsWrapper .expProject .expProjectImg img {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto; }
      .expProjectsWrapper .expProject .a3.tip {
        display: none; }
  .fullImg {
    margin-top: 0rem;
    height: 59.125rem; }
  footer .footerNavWrapper {
    width: 75rem;
    margin-bottom: 11rem;
    float: right; }
    footer .footerNavWrapper .a2 {
      font-size: 0.9rem; }
  footer .footerWrapperContainer {
    width: 75rem; }
  footer .goTopWrapper {
    display: block; }
  footer .footerWrapper {
    margin: 0 0 9.6rem 0;
    width: 55.4rem; }
    footer .footerWrapper .tip {
      left: -17.5rem; }
    footer .footerWrapper h2 {
      width: 80%; }
      footer .footerWrapper h2:after {
        top: 3.1rem;
        right: 5rem; }
  footer .asideFooter {
    width: 92%; }
    footer .asideFooter .footerSmall {
      font-size: 1.1rem; }
    footer .asideFooter .earthWrapper .map {
      width: 3.6rem;
      vertical-align: middle;
      height: 6.5rem; }
    footer .asideFooter .earthWrapper .p3 {
      vertical-align: middle;
      font-size: 1.1rem;
      color: black;
      margin-top: -0.8rem;
      margin-left: 0.7rem; }
  footer .footerNav.center {
    padding-left: 7%; }
  footer .footerNav h5:not(.noPadding) {
    padding-top: 3.7rem; }
  footer .footerNav.col1 {
    width: 9.09%; }
  footer .footerNav.col2 {
    width: 18.18%; }
  footer .footerNav.col3 {
    width: 31.815%; }
  footer .footerNav.col4 {
    width: 36.36%; }
  footer .footerNav.col5 {
    width: 36.36%; }
  a.cuteLink, .wrapper nav li:after {
    font-size: 0.9rem;
    letter-spacing: 0.5rem; }
  .projectsWrapper .projects {
    width: 75rem; }
    .projectsWrapper .projects .right .projectsUl:last-of-type li:first-of-type {
      border-bottom: 1px solid #DBDBEA; }
    .projectsWrapper .projects .positionWrapper {
      width: 92%; }
    .projectsWrapper .projects .left, .projectsWrapper .projects .right {
      float: none;
      width: 100%; }
    .projectsWrapper .projects .projectsUl {
      overflow: hidden;
      height: 5rem; }
      .projectsWrapper .projects .projectsUl.isOpen {
        height: auto; }
        .projectsWrapper .projects .projectsUl.isOpen li:first-of-type {
          border-bottom: 1px solid #DBDBEA; }
      .projectsWrapper .projects .projectsUl.isOpen li:first-of-type .a2:after {
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg); }
      .projectsWrapper .projects .projectsUl .linkLi .projectPlus {
        font-size: 1.7rem;
        width: 2.4rem;
        height: 2.4rem;
        left: -3rem;
        top: 0.34rem; }
      .projectsWrapper .projects .projectsUl li {
        height: 2.6rem;
        width: 100%;
        padding-left: 3rem; }
        .projectsWrapper .projects .projectsUl li:not(:first-of-type) {
          margin: 1rem 0; }
        .projectsWrapper .projects .projectsUl li:nth-of-type(2) {
          margin-top: 2.5rem; }
        .projectsWrapper .projects .projectsUl li:last-of-type {
          margin-bottom: 2.5rem; }
        .projectsWrapper .projects .projectsUl li:first-of-type {
          padding-top: 0;
          padding-bottom: 0;
          height: 5rem;
          border-top: 1px solid #DBDBEA;
          width: 100%;
          padding-left: 0;
          cursor: pointer; }
          .projectsWrapper .projects .projectsUl li:first-of-type:hover .a2:after {
            border-bottom: 1px solid #B09766;
            border-right: 1px solid #B09766; }
          .projectsWrapper .projects .projectsUl li:first-of-type .a2 {
            line-height: 5rem;
            font-size: 1.35rem;
            position: relative; }
            .projectsWrapper .projects .projectsUl li:first-of-type .a2:after {
              content: "";
              width: 1.1rem;
              height: 1.1rem;
              display: block;
              position: absolute;
              right: 0.78rem;
              top: 0;
              bottom: 0;
              margin: auto;
              border-bottom: 1px solid #DBDBEA;
              border-right: 1px solid #DBDBEA;
              -webkit-transform: rotateZ(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotateZ(-45deg);
              -webkit-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              -webkit-transition: -webkit-transform 0.5s;
              transition: -webkit-transform 0.5s;
              transition: transform 0.5s;
              transition: transform 0.5s, -webkit-transform 0.5s; }
        .projectsWrapper .projects .projectsUl li.isActive {
          height: auto; }
  .projectsWrapper {
    padding-top: 10.59rem; }
    .projectsWrapper .projectsInfoWrapper {
      width: 57.4rem; }
      .projectsWrapper .projectsInfoWrapper h2 {
        width: 85%; }
        .projectsWrapper .projectsInfoWrapper h2:after {
          top: 2.85rem;
          right: 9.64rem;
          width: 7.77rem; }
  .methState {
    width: 100rem;
    padding-left: 25rem;
    margin-top: 3rem;
    overflow: hidden;
    float: right;
    position: relative; }
    .methState .h0, .methState h1 {
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    .methState .squareImgMethodology {
      margin-bottom: 14rem;
      height: 80rem;
      width: 100rem; }
      .methState .squareImgMethodology ul {
        left: 0;
        bottom: 0;
        width: 100%; }
      .methState .squareImgMethodology li {
        width: 33.3%;
        height: 20rem;
        margin-right: 0 !important; }
    .methState .a3, .methState .smallText {
      display: none; }
    .methState .fullImg.methodologyFullImg,
    .methState .fullImg.methodologyFullImg2 {
      margin-top: 1.5rem;
      margin-left: -25rem;
      width: 100rem;
      margin-bottom: 10rem; }
    .methState h4 {
      padding-top: 4rem;
      width: 90%; }
    .methState .state4AfterImgText {
      float: none;
      width: 100%;
      padding-right: 4%;
      padding-bottom: 6rem; }
    .methState.isActive .h0, .methState.isActive h1 {
      color: #B09766; }
    .methState.isActive .methodologyState[class*=' state'] .h0 .openMethTab:after {
      height: 0;
      opacity: 0; }
    .methState .p3Wrapper {
      width: 100% !important; }
      .methState .p3Wrapper .p3:not(:first-of-type) {
        display: none; }
      .methState .p3Wrapper .p3 {
        width: 100% !important;
        padding-right: 4% !important;
        float: none !important;
        margin-right: 0 !important; }
    .methState:last-of-type {
      margin-bottom: 14rem; }
      .methState:last-of-type:after {
        position: absolute;
        content: "";
        left: 21rem;
        bottom: 0;
        width: 79rem;
        height: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:before {
      position: absolute;
      content: "";
      left: 21rem;
      top: 0;
      width: 79rem;
      height: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:not(.isActive) h4,
    .methState:not(.isActive) .p3Wrapper,
    .methState:not(.isActive) .goldLinksWrapper,
    .methState:not(.isActive) .methodologyFullImg,
    .methState:not(.isActive) .methodologyFullImg2,
    .methState:not(.isActive) .state4AfterImgText,
    .methState:not(.isActive) .squareImgMethodology,
    .methState:not(.isActive) .methodologyVideoWrapper,
    .methState:not(.isActive) .methodologyAboutVideoWrapper,
    .methState:not(.isActive) .methodologySmallImg,
    .methState:not(.isActive) .linkWrapp,
    .methState:not(.isActive) .fullImg {
      display: none; }
    .methState .methodologyState {
      display: block;
      margin-top: 3rem;
      padding-bottom: 3rem;
      width: 100%;
      float: none; }
      .methState .methodologyState[class^='state'], .methState .methodologyState[class*=' state'] {
        width: 100%;
        margin-right: 0rem; }
        .methState .methodologyState[class^='state'] .h0, .methState .methodologyState[class*=' state'] .h0 {
          float: none;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          position: relative;
          text-indent: -2.4rem;
          line-height: .6em;
          display: inline-block;
          width: auto;
          right: 0; }
          .methState .methodologyState[class^='state'] .h0 .openMethTab, .methState .methodologyState[class*=' state'] .h0 .openMethTab {
            display: block;
            width: 4.2rem;
            height: 4.2rem;
            position: absolute;
            right: -5rem;
            top: 0.8rem;
            cursor: pointer;
            border-color: #fff; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:hover, .methState .methodologyState[class*=' state'] .h0 .openMethTab:hover {
              border-color: #B09766; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:before, .methState .methodologyState[class*=' state'] .h0 .openMethTab:before {
              width: 4.2rem;
              height: 0px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              content: "";
              border-top-width: 1px;
              border-bottom-width: 0;
              border-left-width: 0;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:after, .methState .methodologyState[class*=' state'] .h0 .openMethTab:after {
              width: 0;
              height: 100%;
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              border-top-width: 0px;
              border-bottom-width: 0;
              border-left-width: 1px;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit;
              content: "";
              -webkit-transition: height 0.5s, opacity 0.5s;
              transition: height 0.5s, opacity 0.5s;
              opacity: 1; }
        .methState .methodologyState[class^='state'] .methodologyStateText:before, .methState .methodologyState[class*=' state'] .methodologyStateText:before {
          display: none; }
        .methState .methodologyState[class^='state'] .methodologyStateText, .methState .methodologyState[class*=' state'] .methodologyStateText {
          width: 100%;
          float: none;
          padding-top: 1.5rem !important; }
        .methState .methodologyState[class^='state'] .leftWrapper, .methState .methodologyState[class^='state'] .rightWrapper, .methState .methodologyState[class*=' state'] .leftWrapper, .methState .methodologyState[class*=' state'] .rightWrapper {
          float: none;
          width: 100%; }
        .methState .methodologyState[class^='state'] .leftColomn, .methState .methodologyState[class^='state'] .rightColomn, .methState .methodologyState[class*=' state'] .leftColomn, .methState .methodologyState[class*=' state'] .rightColomn {
          float: none !important;
          width: 100% !important; }
      .methState .methodologyState.state7, .methState .methodologyState.state2 {
        padding-top: 0; }
        .methState .methodologyState.state7 .rightWrapper, .methState .methodologyState.state2 .rightWrapper {
          padding-top: 1.5rem; }
      .methState .methodologyState.state5 .p3Wrapper {
        padding-top: 6rem;
        padding-bottom: 2rem; }
        .methState .methodologyState.state5 .p3Wrapper .a3 {
          display: block;
          position: static;
          font-size: 4rem;
          width: 100%;
          color: #B09766;
          padding-top: 5rem;
          padding-bottom: 5rem; }
      .methState .methodologyState.state6 .p3Wrapper {
        padding-top: 6rem;
        padding-bottom: 2rem; }
      .methState .methodologyState.state6 .methodologyVideoWrapper,
      .methState .methodologyState.state6 .methodologyVideo,
      .methState .methodologyState.state6 .methodologyContentLinksWrapper,
      .methState .methodologyState.state6 .methodologyAboutVideoWrapper {
        width: 100%;
        float: none;
        clear: both; }
      .methState .methodologyState.state6 .methodologyVideo {
        height: auto; }
        .methState .methodologyState.state6 .methodologyVideo .video {
          width: 56.25rem;
          position: static;
          display: block;
          height: 32.81rem;
          margin: 8rem 0 2rem 4rem; }
      .methState .methodologyState.state6 .contentLinkText h3 {
        width: 100%;
        float: none; }
      .methState .methodologyState.state6 .contentLink:first-of-type nav {
        margin-left: 0; }
      .methState .methodologyState.state7 .methodologySmallImg {
        float: none;
        width: 80rem;
        height: 80rem;
        margin-left: -8.5rem;
        position: static; }
      .methState .methodologyState.state7 .leftWrapper .h0 {
        top: 0;
        left: 0; }
      .methState .methodologyState.state7 .rightColomn {
        clear: both; }
      .methState .methodologyState.state7 .mobileBlock {
        display: block;
        padding-top: 5rem;
        padding-bottom: 11rem; }
        .methState .methodologyState.state7 .mobileBlock br {
          display: none; }
      .methState .methodologyState.state7 .rightWrapper {
        padding-right: 0; }
        .methState .methodologyState.state7 .rightWrapper .linkWrapp {
          font-size: 6rem;
          margin-top: 12rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp .linkUnderline {
            color: #B09766;
            margin-left: 3rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp:before {
            font-size: 7rem;
            top: -10rem;
            left: 1rem;
            color: #B09766; }
      .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper {
        width: 50%;
        float: right;
        font-size: 7rem;
        padding-top: 14rem; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li {
          width: auto;
          display: inline-block; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type) {
          margin-bottom: 5.23rem;
          position: relative; }
          .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type):after {
            position: absolute;
            content: "+";
            left: auto;
            bottom: 0rem;
            right: -7rem;
            font-size: 7rem;
            color: #B09766;
            line-height: 1em; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLink {
          overflow: visible; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLinksText {
          color: #fff;
          display: block;
          margin-bottom: 10rem; } }

@media (max-width: 640px) {
  html {
    font-size: 1.06vw; }
  @-ms-viewport {
    width: device-width; }
  .wrapperMainInfo.fullwidth .headImage h2 {
    padding-left: 0%;
    padding-top: 0;
    width: 75%;
    margin: 0 auto;
    text-align: center; }
  .wrapperMainInfo.fullwidth .headImage h6 {
    padding-left: 16.5%;
    color: #fff;
    bottom: 7.54rem;
    font-size: 3.2rem; }
  .wrapperMainInfo.fullwidth .headImage .captionImg {
    display: none; }
  .wrapperMainInfo .indexNavWrapper {
    width: 20%;
    float: left;
    position: absolute;
    height: 100%; }
  .wrapperMainInfo .headImage {
    float: right;
    width: 79.166%;
    height: 100%;
    background: #fff no-repeat center center;
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    overflow: hidden; }
  .menuWrapper .videoWrapp {
    -webkit-transition: visibility 0 0.3s;
    transition: visibility 0 0.3s; }
  .menuWrapper:not(.isOpen) .videoWrapp {
    visibility: hidden !important; }
  .menuWrapper nav {
    z-index: 99999;
    position: fixed;
    height: 70rem; }
  .menuWrapper:after {
    z-index: 102;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    position: fixed; }
  .wrapperMainInfo {
    height: 94.4rem; }
    .wrapperMainInfo .headImage {
      width: 83.6%; }
    .wrapperMainInfo .captionImg {
      bottom: -7.4rem;
      font-size: 3.1rem; }
      .wrapperMainInfo .captionImg:before {
        left: -3.5rem;
        width: 2.5rem;
        top: 1.2rem; }
  .a2 {
    font-size: 2.2rem;
    margin: 0 0 1.2em 0;
    letter-spacing: 2.5px;
    display: inline-block; }
  .facebook {
    height: 13rem;
    top: 16rem;
    margin-left: -1.05rem; }
  .container {
    width: 77.5rem;
    margin-top: 19.7rem; }
  a.cuteLink, nav li:after {
    font-size: 2.6rem; }
  a.cuteLink {
    line-height: 1.5em; }
  nav li:after {
    position: relative;
    left: 1rem; }
  .wrapper nav {
    float: left;
    margin-top: 4rem !important; }
    .wrapper nav li {
      margin-right: 3rem;
      display: block;
      float: left; }
  .contentLinkText {
    padding-top: 6.4rem !important; }
    .contentLinkText h3 {
      float: right;
      width: 84%; }
    .contentLinkText.mobileNoMargin h3 {
      float: none;
      width: 100%; }
    .contentLinkText.mobileNoMargin nav {
      margin-left: 0 !important; }
  .contentLink:first-of-type nav {
    margin-left: 20%; }
  .contentLinksWrapper {
    width: 100%;
    padding-top: 0; }
    .contentLinksWrapper.casestudy {
      width: 79rem; }
  .facebook {
    float: none;
    position: absolute; }
  .h0 {
    font-size: 20rem;
    line-height: 0.6em;
    padding-bottom: 0.23em; }
  .p1, .p2, .p3 {
    font-size: 3.3rem; }
  h1 {
    font-size: 8rem; }
  h2 {
    font-size: 5.28rem; }
  h3 {
    font-size: 4.4rem;
    line-height: 1.5em; }
  h4 {
    font-size: 4rem; }
  h5 {
    font-size: 4rem; }
  .wrapperMainInfo .indexNavWrapper {
    display: none; }
  .plus {
    visibility: visible !important; }
    .plus:before {
      width: 100%; }
    .plus:after {
      height: 100%; }
  .contentLinksWrapper .contentLink {
    display: block;
    float: left;
    margin-bottom: 2.5rem;
    margin-top: 6rem; }
    .contentLinksWrapper .contentLink.col2, .contentLinksWrapper .contentLink.col3, .contentLinksWrapper .contentLink.col4 {
      width: 100%; }
    .contentLinksWrapper .contentLink.col1 {
      width: 100%; }
  .aboutMeWrapper {
    width: 79rem;
    padding-right: 2rem;
    padding-top: 12.2rem; }
    .aboutMeWrapper.indexAbout {
      margin-right: 2rem;
      width: 77rem; }
    .aboutMeWrapper.mobileMargin {
      margin-top: -15rem; }
    .aboutMeWrapper .aboutMeLeftCol {
      width: 100%;
      margin-bottom: 5.2rem; }
      .aboutMeWrapper .aboutMeLeftCol h2 br {
        display: none; }
    .aboutMeWrapper .aboutMeRightCol {
      width: 100%; }
      .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock {
        width: 100%;
        margin-bottom: 2.5rem; }
  .a3.tip {
    display: none; }
  .menuWrapper nav {
    top: auto;
    bottom: 20%; }
    .menuWrapper nav li a {
      font-size: 6.5rem; }
  .partnersWrapper {
    margin-right: 2.5rem;
    width: 81.5%; }
    .partnersWrapper h2 {
      margin-bottom: 5rem; }
  .partnersWrapper .partnerTable {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    padding-top: 5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .partnersWrapper .partnerTable .partner {
      width: 50%;
      text-align: center !important;
      vertical-align: middle;
      padding: 3rem 0; }
      .partnersWrapper .partnerTable .partner img {
        max-height: 18rem;
        max-width: 80%; }
  .lastProjectWrapper {
    width: 73rem;
    margin-bottom: 12.6rem; }
    .lastProjectWrapper .leftColLastProject {
      width: 100%;
      float: none; }
      .lastProjectWrapper .leftColLastProject .a3.tip {
        top: 5.55rem; }
    .lastProjectWrapper .rightColLastProject {
      margin-top: 4rem;
      width: 100%;
      float: left; }
  .fullImg {
    margin-top: 8.5rem;
    height: 57rem; }
    .fullImg.caseStudyFullImgM {
      margin-top: 12rem; }
  .betweenLine {
    margin-top: 4.7rem;
    margin-bottom: 3.72rem; }
  .container.bordered {
    width: 79.5rem; }
    .container.bordered:after {
      left: -5%;
      width: 105%; }
  .aboutMeWrapper.aboutSmallLeftCol {
    padding-top: 8.2rem; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
      width: 100%;
      margin-bottom: 3.2rem; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol {
      width: 100%; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco {
        position: static;
        float: none;
        width: 100%; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco {
          width: 22%;
          margin-bottom: 4rem; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco2 {
          width: 30%;
          margin-bottom: 4rem; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock {
        width: 100%;
        float: none;
        padding-left: 0; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 {
          font-size: 4.8rem; }
          .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 br {
            display: none; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock:nth-of-type(even) {
          padding-left: 0; }
  .caseStudyWrapper {
    width: 75.6rem;
    float: right;
    margin-right: 3.64rem;
    padding-top: 30rem;
    position: relative; }
    .caseStudyWrapper .a2 {
      padding-bottom: 4.1754rem; }
    .caseStudyWrapper .titleWrapper .titleImgWrapper {
      position: absolute;
      top: 5rem;
      text-align: center;
      width: auto;
      height: 19.38rem;
      left: -5rem;
      right: 0;
      margin: auto; }
      .caseStudyWrapper .titleWrapper .titleImgWrapper img {
        width: 19.38rem; }
    .caseStudyWrapper .titleWrapper h3 {
      width: 91.5%;
      float: left;
      display: block;
      position: relative;
      top: -0.5rem;
      line-height: 1.6em;
      margin-top: 5rem;
      font-weight: bold; }
      .caseStudyWrapper .titleWrapper h3 i {
        font-style: normal; }
      .caseStudyWrapper .titleWrapper h3 br {
        display: none; }
    .caseStudyWrapper .asideTextCaseStudy {
      clear: both;
      padding-top: 6.6054rem; }
      .caseStudyWrapper .asideTextCaseStudy .p1 {
        width: 100%;
        float: none;
        padding-right: 5.42%; }
      .caseStudyWrapper .asideTextCaseStudy .bigIco {
        width: 100%;
        float: right;
        text-align: left; }
        .caseStudyWrapper .asideTextCaseStudy .bigIco img {
          width: 56rem;
          margin: 10rem 0; }
  .imagesProjectWrapper {
    overflow: hidden;
    padding-top: 7rem;
    background: none;
    margin-top: 0; }
    .imagesProjectWrapper .mobileSliderWrapper {
      min-width: 100%;
      float: left;
      margin: -9rem auto 0 15.5rem;
      height: 125.62rem;
      width: 54.69rem;
      width: 9999999px;
      background-size: 53.5rem;
      padding-top: 6.2rem; }
      .imagesProjectWrapper .mobileSliderWrapper:after {
        width: 53.4rem;
        height: 114rem;
        background-size: 54rem;
        display: none; }
      .imagesProjectWrapper .mobileSliderWrapper .slide {
        height: 93.75rem;
        width: 53.2rem;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        margin-right: 10.72rem;
        background-position: center top; }
        .imagesProjectWrapper .mobileSliderWrapper .slide:first-of-type {
          margin-left: 0; }
        .imagesProjectWrapper .mobileSliderWrapper .slide.onlyMob {
          display: block; }
    .imagesProjectWrapper .desktopImgWrapper {
      width: 100%;
      margin: 1.04rem auto 0 auto;
      overflow: hidden; }
      .imagesProjectWrapper .desktopImgWrapper .bigImg {
        width: 100%; }
      .imagesProjectWrapper .desktopImgWrapper .smallImg {
        width: 100%; }
      .imagesProjectWrapper .desktopImgWrapper img {
        float: none;
        display: block;
        margin-bottom: 5rem; }
        .imagesProjectWrapper .desktopImgWrapper img:nth-of-type(odd) {
          margin-right: 0; }
        .imagesProjectWrapper .desktopImgWrapper img:nth-of-type(4) {
          margin-top: 0; }
    .imagesProjectWrapper .otherMobile {
      display: none; }
  .casestudyTextWrapper {
    width: 75.5rem;
    margin-right: 3.5rem; }
    .casestudyTextWrapper .contentLinkText h3 {
      width: 100%;
      float: none;
      font-weight: bold;
      padding-bottom: 7rem; }
      .casestudyTextWrapper .contentLinkText h3 i {
        font-style: normal; }
  .backstageWrapper {
    width: 79rem; }
    .backstageWrapper .backstage {
      width: 39.5rem;
      height: 39.5rem; }
      .backstageWrapper .backstage.backstageMore {
        font-size: 3.5rem;
        line-height: 39.5rem; }
  footer {
    padding-top: 12.81rem; }
    footer .footerWrapperContainer {
      width: 79.5rem; }
    footer .goTopWrapper {
      width: 7rem;
      height: 7rem;
      margin: 0 auto 10rem auto;
      display: block; }
    footer .footerNavWrapper {
      width: 79rem;
      margin-right: 0;
      margin-bottom: 18rem; }
      footer .footerNavWrapper h5:not(.noPadding) {
        padding-top: 3.7rem; }
      footer .footerNavWrapper .a2 {
        font-size: 2.5rem; }
    footer .asideFooter {
      width: 88%;
      padding-top: 4rem; }
      footer .asideFooter .footerSmall {
        font-size: 2.6rem;
        padding-bottom: 4rem;
        padding-right: 2rem; }
      footer .asideFooter .earthWrapper .map {
        width: 9.6rem;
        vertical-align: middle;
        position: relative;
        left: 2rem;
        height: 6.5rem; }
      footer .asideFooter .earthWrapper .p3 {
        vertical-align: middle;
        display: block;
        font-size: 2.1rem;
        color: black;
        margin-top: -0.8rem;
        margin-left: 0.7rem; }
    footer .footerWrapper {
      width: 63.5rem;
      margin-bottom: 0rem; }
      footer .footerWrapper h2 {
        width: 100%; }
        footer .footerWrapper h2:after {
          top: 4.1rem;
          right: 11rem; }
    footer .noTablet {
      display: none; }
    footer .footerNav {
      margin-top: 12rem; }
      footer .footerNav .a2 {
        margin-bottom: 0.5rem; }
      footer .footerNav.center {
        padding-left: 0; }
        footer .footerNav.center h5 {
          clear: both; }
        footer .footerNav.center div {
          float: left;
          margin-right: 1rem; }
          footer .footerNav.center div:after {
            content: ","; }
      footer .footerNav.col1 {
        width: 80%; }
      footer .footerNav.col2 {
        width: 80%; }
      footer .footerNav.col3 {
        width: 80%; }
      footer .footerNav.col4 {
        width: 80%; }
      footer .footerNav.col5 {
        width: 80%; }
  .projectsWrapper .projectsInfoWrapper {
    width: 64.4rem; }
    .projectsWrapper .projectsInfoWrapper h2 {
      width: 97%; }
      .projectsWrapper .projectsInfoWrapper h2:after {
        top: 4.1rem;
        right: 4.74rem; }
  .expProjectsWrapper {
    float: none; }
    .expProjectsWrapper .expProject {
      width: 100%;
      height: 65rem;
      margin: 0; }
      .expProjectsWrapper .expProject .expProjectInfoWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
      .expProjectsWrapper .expProject .expProjectText {
        width: 60rem;
        position: absolute;
        bottom: 5rem;
        left: 15rem; }
        .expProjectsWrapper .expProject .expProjectText h4 {
          font-size: 3.4rem; }
      .expProjectsWrapper .expProject .expProjectImg {
        width: 17.7rem;
        min-width: 65px;
        min-height: 74px;
        position: absolute;
        right: 10px;
        top: 10px; }
      .expProjectsWrapper .expProject .a3.tip {
        display: none; }
  .fullImg {
    margin-top: 0rem;
    height: 59.125rem; }
  .projectsWrapper .projects {
    width: 79.25rem; }
    .projectsWrapper .projects .left, .projectsWrapper .projects .right {
      float: none;
      width: 100%; }
    .projectsWrapper .projects .right .projectsUl:last-of-type li:first-of-type {
      border-bottom: 1px solid #DBDBEA; }
    .projectsWrapper .projects .projectsUl {
      overflow: hidden;
      height: 9rem; }
      .projectsWrapper .projects .projectsUl.isOpen {
        height: auto; }
        .projectsWrapper .projects .projectsUl.isOpen li:first-of-type {
          border-bottom: 1px solid #DBDBEA; }
      .projectsWrapper .projects .projectsUl.isOpen li:first-of-type .a2:after {
        -webkit-transform: rotateZ(45deg) translateY(-1rem);
        -ms-transform: rotate(45deg) translateY(-1rem);
        transform: rotateZ(45deg) translateY(-1rem); }
      .projectsWrapper .projects .projectsUl .linkLi .projectPlus {
        font-size: 6.7rem;
        width: 6.4rem;
        height: 6.4rem;
        left: -7rem;
        top: 0.14rem; }
      .projectsWrapper .projects .projectsUl li {
        height: 7.6rem;
        width: 100%;
        padding-left: 7.5rem; }
        .projectsWrapper .projects .projectsUl li:not(:first-of-type) {
          margin: 2rem 0; }
        .projectsWrapper .projects .projectsUl li:first-of-type {
          padding-top: 0;
          padding-bottom: 0;
          height: 9rem;
          border-top: 1px solid #DBDBEA;
          width: 100%;
          padding-left: 0;
          cursor: pointer; }
          .projectsWrapper .projects .projectsUl li:first-of-type:hover .a2:after {
            border-bottom: 1px solid #B09766;
            border-right: 1px solid #B09766; }
          .projectsWrapper .projects .projectsUl li:first-of-type .a2 {
            line-height: 9rem;
            font-size: 3rem;
            position: relative;
            width: 100%; }
            .projectsWrapper .projects .projectsUl li:first-of-type .a2:after {
              content: "";
              width: 2.3rem;
              height: 2.3rem;
              display: block;
              position: absolute;
              right: 1.45833rem;
              top: 0;
              bottom: 0;
              margin: auto;
              border-bottom: 1px solid #DBDBEA;
              border-right: 1px solid #DBDBEA;
              -webkit-transform: rotateZ(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotateZ(-45deg);
              -webkit-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              -webkit-transition: -webkit-transform 0.5s;
              transition: -webkit-transform 0.5s;
              transition: transform 0.5s;
              transition: transform 0.5s, -webkit-transform 0.5s; }
        .projectsWrapper .projects .projectsUl li.isActive {
          height: auto; }
  .bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1; }
  .bx-wrapper .bx-viewport {
    -webkit-transform: translatez(0);
    -ms-transform: translatez(0);
    transform: translatez(0); }
  .bx-viewport {
    padding-top: 9rem;
    height: 118rem !important; }
  .imagesProjectWrapperAlt .imgWrapper {
    position: relative;
    float: right; }
    .imagesProjectWrapperAlt .imgWrapper.mediumImg {
      width: 44.86%;
      height: 19.74rem;
      margin-bottom: 1.6rem; }
      .imagesProjectWrapperAlt .imgWrapper.mediumImg .number {
        bottom: -1rem; }
    .imagesProjectWrapperAlt .imgWrapper.smallImg {
      width: 26%;
      margin-right: 1.09rem;
      height: 19.74rem;
      margin-bottom: 1.6rem; }
      .imagesProjectWrapperAlt .imgWrapper.smallImg .number {
        bottom: -1rem; }
    .imagesProjectWrapperAlt .imgWrapper.bigImg {
      width: 100%;
      margin-bottom: 1.09rem;
      float: left;
      height: 67.19rem; }
      .imagesProjectWrapperAlt .imgWrapper.bigImg .number {
        top: -1.3rem; }
    .imagesProjectWrapperAlt .imgWrapper.rightImg {
      width: 100%;
      height: 29.22rem; }
      .imagesProjectWrapperAlt .imgWrapper.rightImg .number {
        top: -1.3rem;
        left: 0;
        right: auto; }
    .imagesProjectWrapperAlt .imgWrapper .number {
      position: absolute;
      right: 0;
      font-family: "Playfair Display";
      color: #31313F;
      font-size: 0.83rem;
      font-weight: 300;
      line-height: 1em; }
  .imagesProjectWrapperAlt .leftCol {
    width: 75.94%;
    float: left; }
  .imagesProjectWrapperAlt .rightCol {
    width: 19.22%;
    float: right;
    margin: 26.04rem 1.25% auto 0; }
    .imagesProjectWrapperAlt .rightCol .goldLinksWrapper {
      width: 38.21%;
      float: left;
      font-size: 1.04rem;
      margin-top: 5rem;
      margin-left: 1.72rem; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .linkUnderline {
        display: inline; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type {
        margin-bottom: 3.23rem;
        position: relative; }
        .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type:after {
          position: absolute;
          content: "+";
          left: -0.4rem;
          top: -1.7rem;
          font-size: 1.4rem;
          color: #31313F;
          line-height: 1em; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLink {
        overflow: hidden; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLinksText {
        color: #31313F;
        position: relative; }
  .imagesProjectWrapperAlt .coloumnText {
    margin-top: 4.06rem;
    clear: both;
    width: 74.01rem;
    float: right;
    margin-right: 4.4rem;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem; }
  .methState {
    width: 100rem;
    padding-left: 21rem;
    overflow: hidden;
    float: right;
    position: relative; }
    .methState .h0, .methState h1 {
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    .methState .squareImgMethodology {
      margin-bottom: 14rem;
      height: 80rem;
      width: 100rem; }
      .methState .squareImgMethodology ul {
        left: 0;
        bottom: 0;
        width: 100%; }
      .methState .squareImgMethodology li {
        width: 33.3%;
        height: 20rem;
        margin-right: 0 !important; }
    .methState .a3, .methState .smallText {
      display: none; }
    .methState .fullImg.methodologyFullImg,
    .methState .fullImg.methodologyFullImg2 {
      margin-top: 1.5rem;
      margin-left: -25rem;
      width: 100rem;
      margin-bottom: 10rem; }
    .methState h4 {
      padding-top: 4rem;
      width: 90%; }
    .methState .state4AfterImgText {
      float: none;
      width: 100%;
      padding-right: 4%;
      padding-bottom: 6rem; }
    .methState.isActive .h0, .methState.isActive h1 {
      color: #B09766; }
    .methState.isActive .methodologyState[class*=' state'] .h0 .openMethTab:after {
      height: 0;
      opacity: 0; }
    .methState .p3Wrapper {
      width: 100% !important; }
      .methState .p3Wrapper .p3:not(:first-of-type) {
        display: none; }
      .methState .p3Wrapper .p3 {
        width: 100% !important;
        padding-right: 4% !important;
        float: none !important;
        margin-right: 0 !important; }
    .methState:last-of-type {
      margin-bottom: 14rem; }
      .methState:last-of-type:after {
        position: absolute;
        content: "";
        left: 21rem;
        bottom: 0;
        width: 79rem;
        height: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:before {
      position: absolute;
      content: "";
      left: 21rem;
      top: 0;
      width: 79rem;
      height: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:not(.isActive) h4,
    .methState:not(.isActive) .p3Wrapper,
    .methState:not(.isActive) .goldLinksWrapper,
    .methState:not(.isActive) .methodologyFullImg,
    .methState:not(.isActive) .methodologyFullImg2,
    .methState:not(.isActive) .state4AfterImgText,
    .methState:not(.isActive) .squareImgMethodology,
    .methState:not(.isActive) .methodologyVideoWrapper,
    .methState:not(.isActive) .methodologyAboutVideoWrapper,
    .methState:not(.isActive) .methodologySmallImg,
    .methState:not(.isActive) .linkWrapp,
    .methState:not(.isActive) .fullImg {
      display: none; }
    .methState .methodologyState {
      display: block;
      margin-top: 6rem;
      padding-bottom: 6rem;
      width: 100%;
      float: none; }
      .methState .methodologyState[class^='state'], .methState .methodologyState[class*=' state'] {
        width: 100%;
        margin-right: 0rem; }
        .methState .methodologyState[class^='state'] .h0, .methState .methodologyState[class*=' state'] .h0 {
          float: none;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          position: relative;
          text-indent: -6.5rem;
          line-height: .6em;
          display: inline-block;
          width: auto;
          right: 0; }
          .methState .methodologyState[class^='state'] .h0 .openMethTab, .methState .methodologyState[class*=' state'] .h0 .openMethTab {
            display: block;
            width: 11.2rem;
            height: 11.2rem;
            position: absolute;
            right: -10rem;
            top: 3.8rem;
            cursor: pointer;
            border-color: #fff; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:hover, .methState .methodologyState[class*=' state'] .h0 .openMethTab:hover {
              border-color: #B09766; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:before, .methState .methodologyState[class*=' state'] .h0 .openMethTab:before {
              width: 11.2rem;
              height: 0px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              content: "";
              border-top-width: 1px;
              border-bottom-width: 0;
              border-left-width: 0;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:after, .methState .methodologyState[class*=' state'] .h0 .openMethTab:after {
              width: 0;
              height: 100%;
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              border-top-width: 0px;
              border-bottom-width: 0;
              border-left-width: 1px;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit;
              content: "";
              -webkit-transition: height 0.5s, opacity 0.5s;
              transition: height 0.5s, opacity 0.5s;
              opacity: 1; }
        .methState .methodologyState[class^='state'] .methodologyStateText:before, .methState .methodologyState[class*=' state'] .methodologyStateText:before {
          display: none; }
        .methState .methodologyState[class^='state'] .methodologyStateText, .methState .methodologyState[class*=' state'] .methodologyStateText {
          width: 100%;
          float: none;
          padding-top: 1.5rem !important; }
        .methState .methodologyState[class^='state'] .leftWrapper, .methState .methodologyState[class^='state'] .rightWrapper, .methState .methodologyState[class*=' state'] .leftWrapper, .methState .methodologyState[class*=' state'] .rightWrapper {
          float: none;
          width: 100%; }
        .methState .methodologyState[class^='state'] .leftColomn, .methState .methodologyState[class^='state'] .rightColomn, .methState .methodologyState[class*=' state'] .leftColomn, .methState .methodologyState[class*=' state'] .rightColomn {
          float: none !important;
          width: 100% !important; }
      .methState .methodologyState.state7, .methState .methodologyState.state2 {
        padding-top: 0; }
        .methState .methodologyState.state7 .rightWrapper, .methState .methodologyState.state2 .rightWrapper {
          padding-top: 1.5rem; }
      .methState .methodologyState.state5 .p3Wrapper {
        padding-top: 6rem;
        padding-bottom: 2rem; }
        .methState .methodologyState.state5 .p3Wrapper .a3 {
          display: block;
          position: static;
          font-size: 4rem;
          width: 100%;
          color: #B09766;
          padding-top: 5rem;
          padding-bottom: 5rem; }
      .methState .methodologyState.state6 .p3Wrapper {
        padding-top: 6rem;
        padding-bottom: 2rem; }
      .methState .methodologyState.state6 .methodologyVideoWrapper,
      .methState .methodologyState.state6 .methodologyVideo,
      .methState .methodologyState.state6 .methodologyContentLinksWrapper,
      .methState .methodologyState.state6 .methodologyAboutVideoWrapper {
        width: 100%;
        float: none;
        clear: both; }
      .methState .methodologyState.state6 .methodologyVideo {
        height: auto; }
        .methState .methodologyState.state6 .methodologyVideo .video {
          width: 56.25rem;
          position: static;
          display: block;
          height: 32.81rem;
          margin: 8rem 0 2rem 4rem; }
      .methState .methodologyState.state6 .contentLinkText h3 {
        width: 100%;
        float: none; }
      .methState .methodologyState.state6 .contentLink:first-of-type nav {
        margin-left: 0; }
      .methState .methodologyState.state7 .methodologySmallImg {
        float: none;
        width: 80rem;
        height: 80rem;
        margin-left: -8.5rem;
        position: static; }
      .methState .methodologyState.state7 .leftWrapper .h0 {
        top: 0;
        left: 0; }
      .methState .methodologyState.state7 .rightColomn {
        clear: both; }
      .methState .methodologyState.state7 .mobileBlock {
        display: block;
        padding-top: 5rem;
        padding-bottom: 11rem; }
        .methState .methodologyState.state7 .mobileBlock br {
          display: none; }
      .methState .methodologyState.state7 .rightWrapper {
        padding-right: 0; }
        .methState .methodologyState.state7 .rightWrapper .linkWrapp {
          font-size: 6rem;
          margin-top: 12rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp .linkUnderline {
            color: #B09766;
            margin-left: 3rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp:before {
            font-size: 7rem;
            top: -10rem;
            left: 1rem;
            color: #B09766; }
      .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper {
        width: 100%;
        float: none;
        font-size: 7rem;
        padding-top: 14rem; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li {
          width: auto;
          display: inline-block; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type) {
          margin-bottom: 5.23rem;
          position: relative; }
          .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type):after {
            position: absolute;
            content: "+";
            left: auto;
            bottom: 0rem;
            right: -7rem;
            font-size: 7rem;
            color: #B09766;
            line-height: 1em; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLink {
          overflow: visible; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLinksText {
          color: #fff;
          display: block;
          margin-bottom: 10rem; } }
