h1, h2, h3, h4, h5, h6, .h0, .p1, .p2, .p3 {
  color: #31313F; }

.h0 {
  font: normal normal 11.2rem/1.4em "Playfair Display";
  letter-spacing: 0.03em; }

h1 {
  font: 400 3.12rem/1.4em "Playfair Display";
  letter-spacing: 0.24px; }

h2, .h2 {
  font: 400 2.87rem/1.41em "Playfair Display";
  letter-spacing: 0.24px; }

h2 i, h3 i {
  font-style: italic; }

h2 b, h3 b {
  font-weight: 700; }

h3, .h3 {
  font: 400 1.35rem/1.3em "Playfair Display";
  letter-spacing: 0.24px; }

h4, .h4 {
  font: 300 1.15rem/1.63em "Playfair Display"; }

h5, .h5 {
  font: 400 0.93rem/1.6em "Playfair Display";
  letter-spacing: 0.02rem; }

h6, .h6 {
  font: 400 0.83rem/1.3em "Playfair Display";
  letter-spacing: 0.02rem; }

.p1 {
  font: 300 0.93rem/2.2em "Open Sans"; }

.p2 {
  font: 400 0.83rem/2.2em "Open Sans"; }

.p3 {
  font: 400 0.67rem/2.4em "Open Sans";
  letter-spacing: 0.5px; }

.p4 {
  font: 300 0.57rem/2.2em "Playfair Display";
  letter-spacing: 0.05rem; }

.img1 {
  font: normal 0.73rem/1em "Crimson Text";
  color: #D0D2D8; }

.a2 {
  font: normal 0.47rem/1em "Open Sans";
  color: #B8B8C7;
  letter-spacing: 0.22rem;
  text-transform: uppercase; }

.a3 {
  font: normal 0.62rem/1.2em "Crimson Text";
  color: #D0D2D8;
  position: absolute; }

.cuteLink {
  font: 400 0.55rem/1em "Open Sans";
  color: #31313F;
  letter-spacing: 0.28rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.linkUnderline {
  color: #31313F;
  position: relative;
  display: inline;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer; }
  .linkUnderline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0em;
    width: 100%;
    height: 0px;
    border-color: inherit;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-style: solid;
    border-color: inherit;
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s; }

.p1 .linkUnderline:after {
  bottom: 0.06em; }

nav li:not(:last-of-type):after {
  content: " / "; }

.underline {
  position: relative; }
  .underline:before {
    position: absolute;
    content: "";
    width: 100%;
    display: inline-block;
    height: 1px;
    background-color: #31313F;
    left: 0;
    bottom: -0.14em; }

@-webkit-keyframes filter {
  from {
    -webkit-filter: blur(20px);
    filter: blur(20px); }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px); } }

@keyframes filter {
  from {
    -webkit-filter: blur(20px);
    filter: blur(20px); }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px); } }

@-webkit-keyframes indexNav {
  from {
    padding-top: 8.5vw;
    opacity: 0; }
  to {
    padding-top: 9.5vw;
    opacity: 1; } }

@keyframes indexNav {
  from {
    padding-top: 8.5vw;
    opacity: 0; }
  to {
    padding-top: 9.5vw;
    opacity: 1; } }

@-webkit-keyframes filterBody {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  to {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0; } }

@keyframes filterBody {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  to {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

.relative {
  position: relative; }

a, a:hover {
  text-decoration: none;
  color: #31313F; }

body, html, .wrapper, .slimScrollDiv {
  width: 100%;
  height: 100%; }

.wrapper,
.slimScrollDiv {
  min-height: 100%; }

html {
  font-size: 1vw; }

@font-face {
  font-family: 'cute';
  src: url("/fonts/cute.ttf?mgettj") format("truetype"), url("/fonts/cute.woff?mgettj") format("woff"), url("/fonts/cute.svg?mgettj#cute") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="cute-"], [class*=" cute-"] {
  font-family: 'cute' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cute-video:before {
  content: "\e900"; }

.cute-play:before {
  content: "\e901"; }

.cute-fb:before {
  content: "\e902"; }

.cute-fbHover:before {
  content: "\e903"; }

.cute-pr1:before {
  content: "\e904"; }

.cute-pr2:before {
  content: "\e905"; }

.cute-pr3:before {
  content: "\e906"; }

.cute-arrowLeft:before {
  content: "\e907"; }

.cute-arrowRight:before {
  content: "\e908"; }

.cute-shareFb:before {
  content: "\e909"; }

.cute-first:before {
  content: "\e90a"; }

body {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  overflow: hidden;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent; }
  body.blur {
    background-color: transparent !important;
    -webkit-animation: filterBody 0.5s linear 1;
    animation: filterBody 0.5s linear 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.rythm {
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 22px;
  z-index: 999999; }
  .rythm li {
    height: 1.35rem;
    border-bottom: 1px solid black;
    background-color: rgba(231, 120, 11, 0.3); }

.indicate {
  bottom: 0;
  position: absolute; }

.onlyMob {
  display: none; }

body.reverseColor {
  background-color: #021224; }
  body.reverseColor .h0, body.reverseColor .p1, body.reverseColor .p2, body.reverseColor .p3, body.reverseColor h1, body.reverseColor h2, body.reverseColor h3, body.reverseColor h4, body.reverseColor h5, body.reverseColor h6, body.reverseColor .linkUnderline, body.reverseColor a.cuteLink {
    color: #fff; }
  body.reverseColor .linkUnderline.goldLink {
    color: #B09766; }
    body.reverseColor .linkUnderline.goldLink:hover {
      color: #fff !important; }
  body.reverseColor h4 {
    font-family: "Open Sans"; }
  body.reverseColor .aboutMeRightBlock h4 {
    font-family: "Playfair Display"; }
  body.reverseColor .wrapper .plus.isActive:hover {
    border-color: #fff !important; }
  body.reverseColor .captionImg {
    color: rgba(255, 255, 255, 0.3); }
    body.reverseColor .captionImg:before {
      background-color: rgba(255, 255, 255, 0.2); }
  body.reverseColor .container.bordered:after {
    background-color: rgba(255, 255, 255, 0.2); }
  body.reverseColor .aboutMeWrapper .a3 {
    color: rgba(255, 255, 255, 0.5); }
    body.reverseColor .aboutMeWrapper .a3:before {
      background-color: rgba(255, 255, 255, 0.3); }
  body.reverseColor footer .a2 {
    color: rgba(255, 255, 255, 0.5); }
  body.reverseColor footer .betweenLine {
    border-color: transparent; }
  body.reverseColor footer a {
    color: #fff; }
  body.reverseColor footer .goTopWrapper:hover .goTop {
    border-color: #fff; }
  body.reverseColor footer .goTopWrapper .goTop {
    border-color: #B09766; }
  body.reverseColor footer .asideFooter {
    border-top-color: rgba(255, 255, 255, 0.3); }
    body.reverseColor footer .asideFooter .earthWrapper .p3 {
      color: #fff; }
    body.reverseColor footer .asideFooter .earthWrapper .map {
      fill: #B09766; }
  body.reverseColor footer .footerSmall {
    color: rgba(255, 255, 255, 0.7); }
  body.reverseColor footer .footerWrapper h2:after {
    border-top-color: transparent; }
  body.reverseColor footer .footerWrapper .tip {
    color: rgba(255, 255, 255, 0.5); }
    body.reverseColor footer .footerWrapper .tip:before {
      background-color: transparent; }
  body.reverseColor .contentLinksWrapper .contentLink .contentLinkText:before {
    background-color: rgba(255, 255, 255, 0.2); }

.plus {
  position: fixed;
  top: 2.8rem;
  left: 2.31rem;
  width: 10.5rem;
  height: 10.5rem;
  -webkit-transform: translateZ(1px) rotateX(0deg);
  transform: translateZ(1px) rotateX(0deg);
  -webkit-transition: visibility 0s 1s, -webkit-transform 0.5s;
  transition: visibility 0s 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, visibility 0s 1s;
  transition: transform 0.5s, visibility 0s 1s, -webkit-transform 0.5s;
  z-index: 3;
  cursor: pointer;
  visibility: hidden;
  border-color: #D2D800; }
  .plus:after {
    content: '';
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
    border-color: inherit;
    -webkit-transition: height 1s, border-color 1s;
    transition: height 1s, border-color 1s; }
  .plus:before {
    content: '';
    width: 0;
    height: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: inherit;
    -webkit-transition: width 1s, border-color 1s;
    transition: width 1s, border-color 1s; }

.menuWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  left: -1000%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  background-color: rgba(255, 255, 255, 0.82);
  -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
  transition: opacity 0.6s, visibility 0s 0.6s;
  /*	&:after {
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;
		background-color: rgba(255,255,255,0.65);
	}*/ }
  .menuWrapper.isOpen {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.6s, visibility 0s 0s;
    transition: opacity 0.6s, visibility 0s 0s;
    z-index: 100;
    left: 0; }
  .menuWrapper .videoWrapp {
    width: 100%;
    height: 100%; }
  .menuWrapper nav {
    position: absolute;
    left: 19rem;
    top: 0;
    margin: auto;
    bottom: 0;
    z-index: 103;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    height: 21.6rem; }
    .menuWrapper nav:before {
      width: 100rem;
      content: "";
      left: 100%;
      position: absolute;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.82);
      top: 0; }
    .menuWrapper nav:after {
      width: 100rem;
      top: 0;
      content: "";
      right: 100%;
      position: absolute;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.82); }
    .menuWrapper nav li {
      display: block;
      width: 14.4rem;
      height: 3.6rem;
      position: relative; }
      .menuWrapper nav li:first-of-type:before {
        width: 300rem;
        left: -100rem;
        bottom: 100%;
        position: absolute;
        content: "";
        background-color: rgba(255, 255, 255, 0.82);
        display: block;
        height: 100rem; }
      .menuWrapper nav li:last-of-type:before {
        width: 300rem;
        left: -100rem;
        top: 100%;
        position: absolute;
        content: "";
        background-color: rgba(255, 255, 255, 0.82);
        display: block;
        height: 100rem; }
      .menuWrapper nav li img {
        width: 100%;
        height: 100%;
        display: block; }
      .menuWrapper nav li:after {
        display: none; }
      .menuWrapper nav li a {
        font: normal 2rem/1.8em "Playfair Display";
        color: #936C3E;
        -webkit-transition: color 0.5s;
        transition: color 0.5s; }
        .menuWrapper nav li a:hover {
          color: #021224; }
        .menuWrapper nav li a b, .menuWrapper nav li a i {
          display: none; }

.wrapperMainInfo {
  height: 50.625rem;
  width: 100%;
  position: relative;
  max-height: 94%; }
  .wrapperMainInfo.fullwidth {
    display: table;
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden; }
    .wrapperMainInfo.fullwidth .share {
      position: absolute;
      right: 20rem;
      top: 20rem;
      color: #fff; }
    .wrapperMainInfo.fullwidth .headImage {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      float: none;
      height: 100%; }
      .wrapperMainInfo.fullwidth .headImage h2 {
        padding-left: 20%;
        color: #fff;
        padding-top: 3%; }
      .wrapperMainInfo.fullwidth .headImage h6 {
        padding-left: 20%;
        color: #fff;
        position: absolute;
        bottom: 3.54rem; }
      .wrapperMainInfo.fullwidth .headImage .captionImg {
        right: auto;
        left: 20%;
        margin-left: 1.16rem; }
  .wrapperMainInfo .indexNavWrapper {
    width: 20%;
    float: left;
    position: absolute;
    height: 100%; }
  .wrapperMainInfo .headImage {
    float: right;
    width: 79.166%;
    height: 100%;
    background: #fff no-repeat center center;
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    overflow: hidden; }

.indexNav {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(-90deg) translateY(100%);
  -ms-transform: rotate(-90deg) translateY(100%);
  transform: rotate(-90deg) translateY(100%);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  width: 100rem;
  height: 20rem;
  padding-top: 9.5rem; }
  .indexNav nav {
    padding-top: 1.3rem;
    position: absolute; }

nav li {
  display: inline; }
  nav li:after {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.55rem;
    line-height: 1em;
    color: #31313F;
    letter-spacing: 0.21rem; }

.captionImg {
  bottom: -2.44rem;
  right: 3.64rem;
  position: absolute; }
  .captionImg:before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 0.9375rem;
    left: -1.16rem;
    top: 0.32rem;
    background-color: #D0D2D8; }

.container {
  float: right;
  width: 80.5rem;
  margin-top: 7.873rem;
  position: relative; }
  .container.bordered:after {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #DBDBEA;
    position: absolute;
    -webkit-transition: width 1.5s;
    transition: width 1.5s; }
  .container.bordered.isActive:after {
    width: 100%; }

.slimScrollBar,
.slimScrollRail {
  -webkit-transition: width 0.7s 0.7s;
  transition: width 0.7s 0.7s;
  opacity: 1 !important;
  display: block !important; }
  .slimScrollBar.isActive, .slimScrollBar:hover,
  .slimScrollRail.isActive,
  .slimScrollRail:hover {
    width: 10px !important;
    -webkit-transition: width 0.7s;
    transition: width 0.7s; }

.slimScrollBar.transition {
  -webkit-transition: top 0.7s;
  transition: top 0.7s; }

.scrollHover {
  width: 2.5rem;
  height: 100%;
  position: absolute;
  right: 0;
  display: block;
  top: 0;
  z-index: 90; }

.facebook {
  float: left;
  margin-top: 6.25rem;
  margin-left: 3.95rem;
  font-size: 3.23rem;
  color: #31313F; }

.aboutContainer .fullImg {
  margin-top: 6rem; }

.contentLinksWrapper {
  width: 71.84rem;
  padding-right: 3.64rem;
  float: right;
  display: table;
  padding-top: 3rem; }
  .contentLinksWrapper.casestudy {
    width: 79.14rem;
    padding-top: 7rem;
    margin-bottom: -1rem; }
    .contentLinksWrapper.casestudy .p1 {
      position: relative;
      top: 1.5rem; }
  .contentLinksWrapper .contentLink {
    display: table-cell;
    position: relative; }
    .contentLinksWrapper .contentLink:not(:last-of-type) {
      padding-right: 4.5%; }
    .contentLinksWrapper .contentLink.col1 {
      width: 25%; }
    .contentLinksWrapper .contentLink.col2 {
      width: 50%; }
    .contentLinksWrapper .contentLink.col3 {
      width: 75%; }
    .contentLinksWrapper .contentLink.col4 {
      width: 100%; }
    .contentLinksWrapper .contentLink .contentLinkText {
      padding-top: 1.4rem;
      position: relative; }
      .contentLinksWrapper .contentLink .contentLinkText.isActive:before {
        width: 100%; }
      .contentLinksWrapper .contentLink .contentLinkText:before {
        position: absolute;
        content: "";
        top: 0.64rem;
        width: 100%;
        height: 1px;
        background-color: #DBDBEA;
        -webkit-transition: width 1.5s;
        transition: width 1.5s; }
      .contentLinksWrapper .contentLink .contentLinkText nav {
        margin-top: 0.35rem; }

.aboutMeWrapper {
  width: 79.14rem;
  float: right;
  padding-top: 10.2rem;
  padding-right: 3.64rem; }
  .aboutMeWrapper.smallPadding {
    padding-top: 5.46rem; }
    .aboutMeWrapper.smallPadding .p1 {
      padding-top: 2.6rem; }
  .aboutMeWrapper.topBorder {
    position: relative;
    margin-top: 3.4rem; }
    .aboutMeWrapper.topBorder:before {
      content: "";
      width: 100%;
      height: 0;
      border-top: 1px solid #DBDBEA;
      position: absolute;
      top: 0;
      left: 0; }
    .aboutMeWrapper.topBorder .abs {
      position: absolute;
      padding-bottom: 0;
      top: -3rem; }
  .aboutMeWrapper.caseStudyMargin {
    margin-top: 4.5rem; }
  .aboutMeWrapper .p1 {
    padding-top: 3.2rem; }
  .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
    width: 59%; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol h2 a.linkUnderline:hover:after {
      width: 0%; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol h2 a.linkUnderline:after {
      bottom: 0.2em;
      color: #DBDBEA;
      -webkit-transition: width 0.5s;
      transition: width 0.5s; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol .p1 a {
      text-decoration: underline;
      color: #DBDBEA;
      display: block; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol .p1 a:hover {
        text-decoration: none; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol .p1 a span {
        color: #31313F; }
  .aboutMeWrapper .aboutMeLeftCol {
    width: 69.2%;
    float: left;
    position: relative; }
  .aboutMeWrapper .a2 {
    padding-bottom: 2.6rem; }
  .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol {
    width: 36%; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock {
      padding-left: 35%;
      position: relative; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .p3 {
      padding-top: 0.2rem; }
  .aboutMeWrapper .contactIco {
    position: absolute;
    left: 0;
    top: 10%;
    text-align: center;
    width: 35%; }
    .aboutMeWrapper .contactIco #contactIco {
      width: 51%; }
    .aboutMeWrapper .contactIco #contactIco2 {
      width: 70%; }
  .aboutMeWrapper .aboutMeRightCol {
    width: 26.54%;
    float: right;
    padding-top: 1.33rem; }
    .aboutMeWrapper .aboutMeRightCol .p3 {
      padding-top: 1.16rem;
      line-height: 2.5em; }
    .aboutMeWrapper .aboutMeRightCol.isActive svg {
      visibility: visible; }
    .aboutMeWrapper .aboutMeRightCol svg {
      visibility: hidden; }
    .aboutMeWrapper .aboutMeRightCol.grayBorders .aboutMeRightBlock:not(:last-of-type) {
      border-bottom: 1px solid #DBDBEA;
      padding-bottom: 2rem; }
    .aboutMeWrapper .aboutMeRightCol.grayBorders .aboutMeRightBlock:not(:first-of-type) {
      margin-top: 3rem; }
    .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock:not(:last-of-type) {
      padding-bottom: 2.25rem; }

.a3.tip {
  position: absolute;
  left: -10.5rem;
  width: 8.2rem;
  top: 1.65rem;
  text-align: right; }
  .a3.tip:before {
    content: "";
    background-color: #D0D2D8;
    width: 2.08rem;
    height: 1px;
    right: 0;
    position: absolute;
    top: -0.8em; }

.partnersWrapper {
  width: 1000px;
  width: 67.5rem;
  margin-right: 11.65rem;
  float: right;
  padding-top: 7.4rem;
  padding-bottom: 9.3rem;
  position: relative;
  z-index: 1; }
  .partnersWrapper h2 {
    padding-top: 5.34rem; }
  .partnersWrapper .p2 {
    padding-top: 4.27rem; }
  .partnersWrapper .partnerTable {
    height: 100px;
    height: 5rem;
    padding-top: 6.77rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 106%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .partnersWrapper .partner {
    text-align: center; }
    .partnersWrapper .partner:first-of-type {
      text-align: left; }
    .partnersWrapper .partner:last-of-type {
      text-align: right; }
    .partnersWrapper .partner img {
      max-height: 5rem; }

.social a {
  font-style: italic; }

.footerNavWrapper .linkUnderline:after {
  bottom: -1.5px; }

.lastProjectWrapper {
  width: 72.92rem;
  margin-right: 6.2rem;
  float: right;
  margin-bottom: 0.6rem; }
  .lastProjectWrapper .a2 {
    padding-bottom: 2.29rem; }
  .lastProjectWrapper.paddingTop {
    padding-top: 6.41vw; }
  .lastProjectWrapper .leftColLastProject {
    width: 47.7%;
    float: left;
    position: relative; }
    .lastProjectWrapper .leftColLastProject .tip {
      top: 3.65rem; }
    .lastProjectWrapper .leftColLastProject nav {
      padding-top: 1.25rem; }
  .lastProjectWrapper .rightColLastProject {
    float: right;
    width: 21.35rem;
    text-align: left; }
    .lastProjectWrapper .rightColLastProject .p3 {
      padding-top: 1.72rem; }

.fullImg {
  width: 100%;
  height: 38.125rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
  overflow: hidden;
  margin-top: 6.5rem;
  display: inline-block;
  float: right; }
  .fullImg.isActive {
    opacity: 1; }

.video-target {
  display: block;
  clear: both; }

footer {
  clear: both;
  padding-top: 7.81rem; }
  footer a {
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
  footer .goTopWrapper {
    width: 4rem;
    height: 4rem;
    margin: 0 auto 5.5rem auto;
    clear: both;
    display: none;
    cursor: pointer; }
    footer .goTopWrapper:hover .goTop {
      border-color: black !important; }
    footer .goTopWrapper .goTop {
      border-color: #D9DD00;
      border-left-width: 1px;
      border-top-width: 1px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-style: solid;
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
  footer.footerBorder {
    position: relative; }
    footer.footerBorder:before {
      content: "";
      width: 100%;
      height: 0px;
      border-top: 1px solid #DBDBEA;
      position: absolute;
      top: 4rem;
      left: 0; }
  footer .footerWrapperContainer {
    width: 79.5rem;
    float: right; }
  footer .footerWrapper {
    width: 58.35rem;
    margin-bottom: 9.6rem;
    position: relative; }
    footer .footerWrapper .tip {
      top: auto;
      bottom: 1.26rem;
      left: -21rem; }
    footer .footerWrapper h2 {
      width: 62%;
      position: relative; }
      footer .footerWrapper h2:after {
        position: absolute;
        content: '';
        right: 2.74rem;
        top: 2.1rem;
        width: 6.77rem;
        height: 0;
        display: block;
        border-top: 1px solid #31313F; }
  footer .footerNavWrapper {
    width: 58.35rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 16.1rem;
    overflow: hidden; }
  footer .footerNav {
    float: left;
    padding-right: 3.5%; }
    footer .footerNav h5:not(.noPadding) {
      padding-top: 1.7rem; }
    footer .footerNav .seconda2 {
      padding-top: 3.125rem; }
    footer .footerNav.col1 {
      width: 7.14%; }
    footer .footerNav.col2 {
      width: 14.28%; }
    footer .footerNav.col3 {
      width: 21.42%; }
    footer .footerNav.col4 {
      width: 28.56%; }
    footer .footerNav.col5 {
      width: 35.7%; }
    footer .footerNav.col6 {
      width: 42.84%; }
    footer .footerNav.col7 {
      width: 49.98%; }
    footer .footerNav.col8 {
      width: 57.12%; }
    footer .footerNav.center {
      padding-left: 3%; }
      footer .footerNav.center a {
        font-style: italic; }
  footer .asideFooter {
    width: 90.625rem;
    margin: 2rem auto;
    border-top: 1px solid #D0D2D8;
    overflow: hidden;
    padding-top: 2rem; }
    footer .asideFooter .footerSmall {
      font-size: 0.7rem;
      float: right;
      padding-bottom: 1.5rem; }
    footer .asideFooter .earthWrapper {
      float: left; }
      footer .asideFooter .earthWrapper .map {
        width: 2rem;
        vertical-align: middle;
        height: 1.4rem; }
      footer .asideFooter .earthWrapper .p3 {
        vertical-align: middle;
        color: black;
        margin-top: -0.5rem;
        margin-left: 0.7rem; }

.betweenLine {
  width: 50%;
  height: 0;
  border-top: 1px solid #D0D2D8;
  margin-top: 1.72rem;
  margin-bottom: 1.72rem; }

.fullImg.methodologyFullImg {
  margin-top: -12rem; }

.fullImg.methodologyFullImg2 {
  margin-top: -26rem;
  position: relative; }
  .fullImg.methodologyFullImg2 .a3.tip {
    left: 9.6rem;
    bottom: 4.17rem;
    top: auto;
    right: auto;
    color: rgba(255, 255, 255, 0.5); }
    .fullImg.methodologyFullImg2 .a3.tip:before {
      background-color: rgba(255, 255, 255, 0.2); }

.fullImg.smallPadding {
  margin-top: 0rem;
  margin-bottom: 1rem; }

.methodologySmallImg {
  width: 36.46rem;
  height: 36.46rem;
  float: left;
  background: transparent no-repeat center center;
  background-size: cover;
  margin-top: 6.25rem;
  position: absolute;
  left: 0;
  top: -1.8rem; }

.squareImgMethodology {
  background: transparent no-repeat center center;
  background-size: cover;
  width: 89.9rem;
  float: right;
  height: 59.9rem;
  margin-top: -5.5rem;
  position: relative; }
  .squareImgMethodology ul {
    position: absolute;
    left: 3.91rem;
    bottom: 3.91rem; }
    .squareImgMethodology ul li {
      float: left;
      width: 10.73rem;
      height: 7.188rem;
      background: transparent no-repeat center center;
      background-size: cover; }
      .squareImgMethodology ul li:not(:last-of-type) {
        margin-right: 0.512rem; }

.state4AfterImgText {
  width: 47rem;
  float: right;
  margin-right: 4.7rem;
  margin-top: 1rem; }

.methWrapp {
  float: none;
  clear: both; }

.methodologyState {
  display: block;
  margin-top: 30px;
  padding-bottom: 50px; }
  .methodologyState .openMethTab {
    display: none; }
  .methodologyState.state1 {
    width: 65.1rem;
    float: right;
    margin-right: 25rem; }
    .methodologyState.state1 .h0 {
      width: 45.5%;
      float: left; }
    .methodologyState.state1 .methodologyStateText {
      width: 54%;
      float: right; }
  .methodologyState.state2 {
    width: 58.2rem;
    float: right;
    margin-right: 18.96rem;
    position: relative;
    padding-top: 4rem; }
    .methodologyState.state2 .leftWrapper {
      width: 34.62%;
      float: left;
      position: relative; }
      .methodologyState.state2 .leftWrapper .h0 {
        width: auto;
        -webkit-transform: rotateZ(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
        transform: rotateZ(-90deg) translateX(-100%);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        float: none;
        line-height: 1em;
        display: inline-block;
        position: absolute;
        right: -24rem;
        top: 0; }
    .methodologyState.state2 .rightWrapper {
      width: 65%;
      float: right; }
      .methodologyState.state2 .rightWrapper .methodologyStateText {
        float: right;
        width: 30.7%;
        padding-top: 0;
        margin-right: 13%;
        position: relative; }
        .methodologyState.state2 .rightWrapper .methodologyStateText:before {
          position: absolute;
          content: "";
          top: -1.82rem;
          left: 0;
          width: 173%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2); }
      .methodologyState.state2 .rightWrapper .p3Wrapper {
        padding-top: 0; }
      .methodologyState.state2 .rightWrapper .goldLinksWrapper {
        width: 19.3%;
        float: right;
        font-size: 1.04rem; }
        .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type) {
          margin-bottom: 3.23rem;
          position: relative;
          margin-right: 9rem; }
          .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type):after {
            position: absolute;
            content: "+";
            left: -0.4rem;
            bottom: -2.7rem;
            font-size: 1.4rem;
            color: #B09766;
            line-height: 1em; }
        .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLink {
          overflow: hidden; }
        .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLinksText {
          color: #fff; }
  .methodologyState.state3 {
    width: 93.7rem;
    float: right;
    margin-right: 3.125rem; }
    .methodologyState.state3 .h0 {
      width: 36.45%; }
    .methodologyState.state3 .methodologyStateText {
      width: 63%; }
    .methodologyState.state3 .p3Wrapper {
      position: relative; }
      .methodologyState.state3 .p3Wrapper .goldLink {
        overflow: hidden; }
      .methodologyState.state3 .p3Wrapper .a3 {
        position: absolute;
        width: 12.76rem;
        text-align: right;
        top: 4.1rem;
        left: -18rem;
        color: rgba(255, 255, 255, 0.5); }
  .methodologyState.state4 {
    width: 84.4rem;
    float: right;
    margin-right: 6.25rem;
    position: relative;
    z-index: 1; }
    .methodologyState.state4 .leftWrapper {
      width: 34.62%;
      float: left; }
      .methodologyState.state4 .leftWrapper .methodologyStateText {
        width: 92%;
        padding-top: 8.14rem; }
        .methodologyState.state4 .leftWrapper .methodologyStateText .smallRow {
          width: 35.7%; }
        .methodologyState.state4 .leftWrapper .methodologyStateText .middleRow {
          width: 52%; }
          .methodologyState.state4 .leftWrapper .methodologyStateText .middleRow h4 {
            padding-top: 0;
            padding-bottom: 1.3rem; }
    .methodologyState.state4 .rightWrapper {
      width: 65%;
      float: right; }
      .methodologyState.state4 .rightWrapper .methodologyStateText {
        padding-top: 0;
        margin-top: -1.5rem; }
      .methodologyState.state4 .rightWrapper .p3Wrapper {
        width: 24.5%;
        float: right;
        padding-top: 0;
        margin-top: -3rem; }
  .methodologyState.state5 {
    width: 82.3rem;
    float: right;
    margin-right: 5.2rem;
    position: relative;
    z-index: 1; }
    .methodologyState.state5 .h0 {
      width: 36.8%;
      float: left; }
    .methodologyState.state5 h4 {
      padding-top: 0.7rem; }
    .methodologyState.state5 .methodologyStateText {
      width: 63%;
      float: right;
      padding-top: 3.4rem; }
      .methodologyState.state5 .methodologyStateText .p3Wrapper {
        padding-top: 1.8rem;
        width: 62.8%;
        position: relative; }
        .methodologyState.state5 .methodologyStateText .p3Wrapper .a3 {
          width: 11.4rem;
          position: absolute;
          right: -16.93rem;
          top: 0;
          color: rgba(255, 255, 255, 0.5);
          padding-top: 1.83rem;
          line-height: 1.8em; }
  .methodologyState.state6 {
    width: 83.85rem;
    float: right;
    margin-right: 8.85rem;
    margin-top: -2.4rem; }
    .methodologyState.state6 .h0 {
      width: 26.77%; }
    .methodologyState.state6 .methodologyStateText {
      width: 69.6%;
      padding-top: 5.8rem; }
    .methodologyState.state6 .leftWrapper {
      float: left;
      width: 31.2%; }
    .methodologyState.state6 .p3Wrapper {
      float: right;
      width: 61.1%;
      padding-top: 0; }
    .methodologyState.state6 .methodologyAboutVideoWrapper {
      float: right;
      padding-top: 1.5rem;
      width: 14.48rem; }
      .methodologyState.state6 .methodologyAboutVideoWrapper .contentLinksWrapper {
        float: none;
        width: auto;
        padding-top: 0;
        margin-top: -0.5rem; }
    .methodologyState.state6 .methodologyVideoWrapper {
      clear: left;
      width: 36.5rem;
      padding-top: 1rem;
      float: left; }
      .methodologyState.state6 .methodologyVideoWrapper .videoM {
        width: 9.375rem;
        height: 5.21rem;
        background: transparent no-repeat center center;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0; }
        .methodologyState.state6 .methodologyVideoWrapper .videoM:hover i {
          color: rgba(201, 29, 31, 0.9); }
        .methodologyState.state6 .methodologyVideoWrapper .videoM i {
          font-size: 2.5rem;
          color: #fff; }
      .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo {
        width: 34.6%;
        float: left;
        height: 8.02rem;
        position: relative; }
      .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
        width: 65%;
        float: right; }
      .methodologyState.state6 .methodologyVideoWrapper .contentLinksWrapper {
        float: none;
        padding-top: 0;
        width: 100%; }
  .methodologyState.state7 {
    width: 100%;
    float: right;
    padding-right: 4.78rem;
    position: relative;
    padding-top: 4rem; }
    .methodologyState.state7 .leftWrapper {
      width: 26.8%;
      float: left; }
      .methodologyState.state7 .leftWrapper .h0 {
        width: auto;
        -webkit-transform: rotateZ(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
        transform: rotateZ(-90deg) translateX(-100%);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        float: none;
        line-height: 0.5em;
        display: inline-block;
        position: absolute;
        left: 37rem;
        top: 4.3rem; }
    .methodologyState.state7 .rightWrapper {
      width: 46.5%;
      float: right;
      padding-top: 15.3rem;
      padding-right: 6rem; }
      .methodologyState.state7 .rightWrapper .leftColomn {
        width: 57%;
        float: left; }
      .methodologyState.state7 .rightWrapper .rightColomn {
        width: 29%;
        float: right; }
        .methodologyState.state7 .rightWrapper .rightColomn .methodologyStateText {
          padding-top: 0; }
        .methodologyState.state7 .rightWrapper .rightColomn .linkWrapp {
          margin-top: 4.53rem;
          position: relative;
          padding-left: 0.521rem;
          font-size: 0.77rem;
          color: #fff;
          float: left; }
          .methodologyState.state7 .rightWrapper .rightColomn .linkWrapp:before {
            content: '+';
            left: 0;
            top: -2.4rem;
            position: absolute;
            font-size: 1.3rem; }
      .methodologyState.state7 .rightWrapper .methodologyStateText {
        padding-top: 3.33rem;
        width: 100%; }
      .methodologyState.state7 .rightWrapper .p3Wrapper {
        padding-top: 0; }
      .methodologyState.state7 .rightWrapper .goldLinksWrapper {
        width: 19.3%;
        float: right;
        font-size: 1.04rem; }
        .methodologyState.state7 .rightWrapper .goldLinksWrapper li:not(:last-of-type) {
          margin-bottom: 3.23rem;
          position: relative; }
          .methodologyState.state7 .rightWrapper .goldLinksWrapper li:not(:last-of-type):after {
            position: absolute;
            content: "+";
            left: -0.4rem;
            bottom: -2.7rem;
            font-size: 1.4rem;
            color: #B09766;
            line-height: 1em; }
        .methodologyState.state7 .rightWrapper .goldLinksWrapper .goldLink {
          overflow: hidden; }
        .methodologyState.state7 .rightWrapper .goldLinksWrapper .goldLinksText {
          color: #fff; }
  .methodologyState.state8 {
    width: 72.7rem;
    float: right;
    margin-right: 16.87rem;
    position: relative;
    z-index: 1; }
    .methodologyState.state8 .h0 {
      width: 48.3%;
      float: left; }
    .methodologyState.state8 h4 {
      padding-top: 0.7rem; }
    .methodologyState.state8 .methodologyStateText {
      width: 51.5%;
      float: right;
      padding-top: 3.4rem; }
      .methodologyState.state8 .methodologyStateText .p3Wrapper {
        padding-top: 1.8rem;
        width: 100%;
        position: relative; }
        .methodologyState.state8 .methodologyStateText .p3Wrapper .a3 {
          width: 11.4rem;
          position: absolute;
          right: -16.93rem;
          top: 0;
          color: rgba(255, 255, 255, 0.5);
          padding-top: 1.83rem;
          line-height: 1.8em; }
  .methodologyState .h0 {
    float: left;
    display: block; }
  .methodologyState .methodologyStateText {
    float: left;
    width: 56%;
    padding-top: 5.44rem; }
  .methodologyState h4 {
    padding-top: 1.3rem; }
  .methodologyState .p3Wrapper {
    padding-top: 4.1rem;
    width: auto; }
    .methodologyState .p3Wrapper .p3.smallText {
      font-size: 0.46rem; }
  .methodologyState .p3Wrapper .p3 {
    width: auto; }
  .methodologyState .p3Wrapper.colp1 .p3 {
    width: 100%; }
  .methodologyState .p3Wrapper.colp2 .p3 {
    width: 44.6%;
    float: left; }
  .methodologyState .p3Wrapper.colp2 .p3:not(:last-of-type) {
    margin-right: 10.7%; }
  .methodologyState .p3Wrapper.colp3 .p3 {
    width: 28%;
    float: left; }
  .methodologyState .p3Wrapper.colp3 .p3:not(:last-of-type) {
    margin-right: 5.7%; }

.expProjectsWrapper {
  margin-top: 5.57rem;
  float: right; }
  .expProjectsWrapper .expProject {
    width: 79.1rem;
    float: right;
    height: 38.12rem;
    background-size: cover;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 0.78rem;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s; }
    .expProjectsWrapper .expProject:not(:hover) {
      -webkit-filter: grayscale(0.25);
      filter: grayscale(0.25); }
    .expProjectsWrapper .expProject .a3.tip {
      top: 0.54rem; }
    .expProjectsWrapper .expProject .expProjectInfoWrapper {
      position: absolute;
      left: 3.23rem;
      bottom: 3.54rem; }
    .expProjectsWrapper .expProject .expProjectImg {
      float: left;
      height: 100%;
      width: 5.21rem; }
    .expProjectsWrapper .expProject .expProjectText {
      float: left;
      width: 21.56rem; }
      .expProjectsWrapper .expProject .expProjectText h4 {
        color: #fff; }

.mapWrapper {
  float: right;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  margin-top: -18.2rem;
  height: 70rem;
  overflow: hidden; }
  .mapWrapper.isActive {
    opacity: 1; }
  .mapWrapper .amerika {
    width: 50%;
    float: left;
    position: relative;
    margin-left: -3.1%; }
    .mapWrapper .amerika #mainland {
      position: absolute;
      top: 0;
      left: 0; }
  .mapWrapper .europe {
    width: 50%;
    float: right;
    position: relative;
    margin-top: 16rem;
    margin-right: -2rem; }
    .mapWrapper .europe #otherEurope {
      -webkit-transform: translateZ(1px);
      transform: translateZ(1px); }
    .mapWrapper .europe #europe {
      position: absolute;
      top: 0;
      right: 0; }

.no-svg .mapWrapper svg {
  opacity: 0; }

.no-svg .mapWrapper.isActive .amerika {
  background-position: 50% 50%;
  opacity: 1; }

.no-svg .mapWrapper .amerika {
  height: 55rem;
  background: transparent no-repeat center center;
  background-size: contain;
  background-image: url(../../img/amerika.png);
  -webkit-transition: background-position 1.5s ease-out, opacity 1.5s linear;
  transition: background-position 1.5s ease-out, opacity 1.5s linear;
  background-position: -30rem 0;
  opacity: 0; }

.no-svg .mapWrapper.isActive .europe {
  background-position: 50% 50%;
  opacity: 1; }

.no-svg .mapWrapper .europe {
  height: 47rem;
  background: transparent no-repeat center center;
  background-size: contain;
  background-image: url(../../img/europe.png);
  -webkit-transition: background-position 1.5s ease-out, opacity 1.5s linear;
  transition: background-position 1.5s ease-out, opacity 1.5s linear;
  background-position: 30rem 0;
  opacity: 0; }

.projectsWrapper {
  width: 100%;
  margin-top: 2rem;
  border-top: 1px solid #DBDBEA;
  border-bottom: 1px solid #DBDBEA;
  clear: both;
  padding-top: 8.59rem;
  overflow: hidden;
  padding-bottom: 9.6rem; }
  .projectsWrapper .projectsInfoWrapper {
    width: 58.4rem;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5.3rem; }
    .projectsWrapper .projectsInfoWrapper .tip {
      top: auto;
      bottom: 1.26rem;
      left: -21rem; }
    .projectsWrapper .projectsInfoWrapper h2 {
      width: 62%;
      position: relative; }
      .projectsWrapper .projectsInfoWrapper h2:after {
        position: absolute;
        content: '';
        right: 2.74rem;
        top: 2.1rem;
        width: 6.77rem;
        height: 0;
        display: block;
        border-top: 1px solid #31313F; }
  .projectsWrapper .projects {
    width: 49rem;
    float: right; }
    .projectsWrapper .projects .positionWrapper {
      float: left;
      width: 88%; }
    .projectsWrapper .projects .left {
      float: left;
      width: 41%; }
    .projectsWrapper .projects .right {
      float: right;
      width: 55%; }

.projectsUl {
  width: 100%; }
  .projectsUl li {
    padding-left: 2rem; }
    .projectsUl li:not(:first-of-type) {
      height: 1.6em;
      overflow: hidden; }
    .projectsUl li .linkUnderline:after {
      width: 0;
      -webkit-transition: width 0.5s 0s;
      transition: width 0.5s 0s; }
    .projectsUl li.isActive {
      height: auto; }
      .projectsUl li.isActive .projectPlus:after {
        height: 0 !important;
        opacity: 0.5 !important; }
      .projectsUl li.isActive .linkUnderline:after {
        width: 100%;
        -webkit-transition: width 0.5s 0.5s;
        transition: width 0.5s 0.5s; }
      .projectsUl li.isActive .p3 {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
        .projectsUl li.isActive .p3:after {
          width: 37%; }
    .projectsUl li .linkLi {
      position: relative; }
      .projectsUl li .linkLi .projectPlus {
        left: -2rem;
        top: 0.13rem;
        font-size: 0.92rem;
        width: 1.3em;
        height: 1.3em;
        cursor: pointer;
        position: absolute; }
        .projectsUl li .linkLi .projectPlus:before {
          position: absolute;
          content: "";
          height: 0;
          width: 70%;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border-top: 1px solid #DBDBEA; }
        .projectsUl li .linkLi .projectPlus:after {
          position: absolute;
          content: "";
          height: 70%;
          width: 0;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border-right: 1px solid #DBDBEA;
          opacity: 1;
          -webkit-transition: height 0.7s, opacity 0.7s;
          transition: height 0.7s, opacity 0.7s; }
    .projectsUl li .country {
      color: #AAAAAA; }
    .projectsUl li:first-of-type {
      padding-bottom: 2.29rem;
      padding-top: 4.43rem; }
    .projectsUl li .p3 {
      padding-top: 1.35rem;
      padding-bottom: 3.44rem;
      position: relative;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
      .projectsUl li .p3:after {
        position: absolute;
        content: "";
        height: 0;
        width: 0%;
        position: absolute;
        -webkit-transition: width 0.9s 0.4s;
        transition: width 0.9s 0.4s;
        left: 0;
        bottom: 1.65rem;
        border-top: 1px solid #DBDBEA; }

.backstageWrapper {
  width: 80rem;
  float: right;
  position: relative;
  /*&:hover a:not(:hover) {
		filter: grayscale(50%);
		opacity: 1;
		webkit-transition-delay: 0ms;
		transition-delay: 0ms;
	}*/ }

.backstage {
  width: 20rem;
  height: 20rem;
  float: left;
  overflow: hidden; }
  .backstage.backstageMore {
    float: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
    line-height: 20em;
    text-align: center; }
    .backstage.backstageMore a {
      color: #B8B8C7; }
  .backstage a {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: opacity 0.4s, -webkit-filter 0.4s;
    transition: opacity 0.4s, -webkit-filter 0.4s;
    transition: filter 0.4s, opacity 0.4s;
    transition: filter 0.4s, opacity 0.4s, -webkit-filter 0.4s; }

.video.play {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  clear: both;
  text-align: center;
  height: 30rem;
  background: #fff no-repeat center center;
  background-size: cover; }
  .video.play .fullVideoWrapp {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    text-align: center; }
    .video.play .fullVideoWrapp iframe {
      width: 100% !important;
      height: 100% !important;
      min-height: 44rem !important; }

.play {
  cursor: pointer; }
  .play i {
    position: relative;
    z-index: 1;
    font-size: 5.5rem;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
  .play:hover i {
    color: rgba(201, 29, 31, 0.9); }

.caseStudyWrapper {
  width: 62.6654rem;
  float: right;
  margin-right: 16.554rem;
  padding-top: 5.2154rem;
  position: relative; }
  .caseStudyWrapper.project3 {
    width: 56.5rem;
    margin-bottom: 2.5rem; }
    .caseStudyWrapper.project3 .titleWrapper h3 {
      width: 60%; }
      .caseStudyWrapper.project3 .titleWrapper h3 br {
        display: none; }
  .caseStudyWrapper .a2 {
    padding-bottom: 4.1754rem; }
  .caseStudyWrapper .titleWrapper {
    display: block; }
    .caseStudyWrapper .titleWrapper .titleImgWrapper {
      width: 7.5%;
      float: left;
      height: 100%;
      position: relative; }
      .caseStudyWrapper .titleWrapper .titleImgWrapper img {
        width: 80%; }
    .caseStudyWrapper .titleWrapper h3 {
      width: 91.5%;
      float: left;
      display: block;
      position: relative;
      top: -0.5rem;
      line-height: 1.6em; }
  .caseStudyWrapper.middleWidth .titleWrapper {
    width: 55%; }
  .caseStudyWrapper.middleWidth .asideTextCaseStudy .p1 {
    width: 60%; }
  .caseStudyWrapper .asideTextCaseStudy {
    clear: both;
    padding-top: 2.6054rem; }
    .caseStudyWrapper .asideTextCaseStudy .p1 {
      width: 36.5%;
      float: left;
      padding-right: 5.42%; }
      .caseStudyWrapper .asideTextCaseStudy .p1.middleWidth {
        width: 60%; }
    .caseStudyWrapper .asideTextCaseStudy .bigIco {
      width: 27%;
      float: right;
      text-align: right; }
      .caseStudyWrapper .asideTextCaseStudy .bigIco img {
        width: 13.54rem; }

.TemoAestheticImgWrapper {
  width: 100%;
  background-color: #DFDBD8;
  padding: 3.33rem 0;
  clear: both;
  margin-top: 5.71rem;
  display: inline-block; }
  .TemoAestheticImgWrapper img {
    width: 80.73rem;
    display: block;
    margin: 0 auto;
    float: none; }

.imagesProjectWrapper {
  width: 100%;
  clear: both;
  margin-top: 9.11rem;
  display: inline-block;
  padding-bottom: 5.5rem; }
  .imagesProjectWrapper.carOnFly {
    background: #FAF9F9 url(/img/casestudy/1/logobg.png) no-repeat center 68.21rem;
    background-size: 76.61%; }
  .imagesProjectWrapper.isActive svg {
    visibility: visible !important; }
  .imagesProjectWrapper.project3 {
    background-color: #F2F3F7;
    padding-top: 15.44rem;
    margin-top: -11.25rem; }
    .imagesProjectWrapper.project3 .tabletImg {
      display: block;
      margin: 0 auto;
      width: 89.74rem; }
    .imagesProjectWrapper.project3 .project3Wrapper {
      width: 89.64rem;
      margin: 0 auto;
      position: relative;
      left: 2rem;
      padding-top: 4.69rem; }
    .imagesProjectWrapper.project3 .leftColoumn {
      float: left;
      width: 53.46%; }
      .imagesProjectWrapper.project3 .leftColoumn img:not(:first-of-type) {
        margin-top: 3.12rem; }
      .imagesProjectWrapper.project3 .leftColoumn img:last-of-type {
        margin-top: 1.56rem; }
      .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(1) {
        width: 100%; }
      .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(2) {
        width: 75.87%; }
      .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(3) {
        width: 89.24%; }
      .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(4) {
        width: 70.98%; }
    .imagesProjectWrapper.project3 .rightColoumn {
      float: right;
      width: 40.38%; }
      .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(1) {
        width: 100%; }
      .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(2) {
        width: 93.96%;
        margin-top: 1.56rem; }
      .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(3) {
        width: 80%;
        margin-left: -20.72%;
        margin-top: 2.37rem; }
      .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(4) {
        width: 76.40%;
        margin-left: -20.72%;
        margin-top: 2.37rem; }
  .imagesProjectWrapper .mobileSliderWrapper {
    width: 59.30rem;
    margin: -8.85rem auto 0 auto;
    height: 40.36rem;
    background-image: url(/img/casestudy/1/mobile.png);
    background-repeat: no-repeat;
    padding-top: 5.68rem;
    background-size: 29.6%;
    position: relative; }
    .imagesProjectWrapper .mobileSliderWrapper .slide {
      height: 30.05rem;
      width: 16.95rem;
      background-size: cover;
      background-repeat: no-repeat;
      float: left;
      margin-right: 1.72rem;
      background-position: center top; }
      .imagesProjectWrapper .mobileSliderWrapper .slide svg {
        margin-top: -5.5rem;
        visibility: hidden;
        width: 100%; }
      .imagesProjectWrapper .mobileSliderWrapper .slide:first-of-type {
        margin-left: 0.3rem; }
      .imagesProjectWrapper .mobileSliderWrapper .slide.onlyMob {
        display: none; }
  .imagesProjectWrapper .desktopImgWrapper {
    width: 83.33%;
    margin: 1.04rem auto 0 auto;
    overflow: hidden; }
    .imagesProjectWrapper .desktopImgWrapper .bigImg {
      width: 72.25%;
      height: 46.69rem; }
    .imagesProjectWrapper .desktopImgWrapper .smallImg {
      width: 22.50%;
      height: 52.65rem; }
    .imagesProjectWrapper .desktopImgWrapper div {
      float: left;
      display: block;
      background: transparent no-repeat center center;
      background-size: cover; }
      .imagesProjectWrapper .desktopImgWrapper div:nth-of-type(odd) {
        margin-right: 4%; }
      .imagesProjectWrapper .desktopImgWrapper div:nth-of-type(4) {
        margin-top: 6.25rem; }
  .imagesProjectWrapper .otherMobile {
    width: 83.33%;
    margin: 4.53rem auto 0 auto;
    position: relative;
    overflow: hidden; }
    .imagesProjectWrapper .otherMobile .mobi {
      float: left;
      width: 20.375%;
      margin-right: 1.46rem;
      height: 30rem; }
    .imagesProjectWrapper .otherMobile .leftCol {
      float: left;
      margin-right: 1.46rem;
      width: 18.75%; }
      .imagesProjectWrapper .otherMobile .leftCol div {
        width: 100%;
        height: 22.5rem; }
        .imagesProjectWrapper .otherMobile .leftCol div:not(:last-of-type) {
          margin-bottom: 1.46rem; }
    .imagesProjectWrapper .otherMobile div {
      float: left;
      background: transparent no-repeat center center;
      background-size: cover; }
  .imagesProjectWrapper .smallLogos .logo1 {
    position: absolute;
    top: 0;
    right: 0; }
  .imagesProjectWrapper .smallLogos .logo2 {
    position: absolute;
    bottom: 0;
    right: 0; }

.caronflyBig {
  margin-top: 5.71rem;
  width: 100%;
  background: transparent no-repeat center center;
  background-size: cover;
  float: right;
  clear: both; }

.casestudyTextWrapper {
  width: 36.46rem;
  float: right;
  margin-right: 42.50rem;
  margin-top: 5.71rem; }
  .casestudyTextWrapper h3 {
    margin-top: 4rem;
    margin-bottom: 2.30rem; }

.section {
  text-align: center;
  width: 100%; }

.backstageContainer {
  width: 100%;
  padding-bottom: 7.55rem;
  overflow: hidden;
  border-bottom: 1px solid #DBDBEA; }
  .backstageContainer .moreBackStage {
    cursor: pointer; }

.imagesProjectWrapperAlt {
  width: 100%;
  padding-top: 6.46rem;
  clear: both;
  overflow: hidden; }
  .imagesProjectWrapperAlt .imgWrapper {
    position: relative;
    display: block;
    float: right;
    background: transparent no-repeat center center;
    background-size: cover; }
    .imagesProjectWrapperAlt .imgWrapper img {
      max-width: 100%; }
    .imagesProjectWrapperAlt .imgWrapper.mediumImg {
      width: 44.86%;
      height: 19.74rem;
      margin-bottom: 1.6rem; }
      .imagesProjectWrapperAlt .imgWrapper.mediumImg .number {
        bottom: -1rem; }
    .imagesProjectWrapperAlt .imgWrapper.smallImg {
      width: 26%;
      margin-right: 1.09rem;
      height: 19.74rem;
      margin-bottom: 1.6rem; }
      .imagesProjectWrapperAlt .imgWrapper.smallImg .number {
        bottom: -1rem; }
    .imagesProjectWrapperAlt .imgWrapper.bigImg {
      width: 100%;
      margin-bottom: 1.09rem;
      float: left;
      height: 67.19rem; }
      .imagesProjectWrapperAlt .imgWrapper.bigImg .number {
        top: -1.3rem; }
    .imagesProjectWrapperAlt .imgWrapper.rightImg {
      width: 100%;
      height: 29.22rem; }
      .imagesProjectWrapperAlt .imgWrapper.rightImg .number {
        top: -1.3rem;
        left: 0;
        right: auto; }
    .imagesProjectWrapperAlt .imgWrapper .number {
      position: absolute;
      right: 0;
      font-family: "Playfair Display";
      color: #31313F;
      font-size: 0.83rem;
      font-weight: 300;
      line-height: 1em; }
  .imagesProjectWrapperAlt .leftCol {
    width: 75.94%;
    float: left; }
  .imagesProjectWrapperAlt .rightCol {
    width: 19.22%;
    float: right;
    margin: 26.04rem 1.25% auto 0; }
    .imagesProjectWrapperAlt .rightCol .goldLinksWrapper {
      width: 38.21%;
      float: left;
      font-size: 1.04rem;
      margin-top: 5rem;
      margin-left: 1.72rem; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .linkUnderline {
        display: inline; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type {
        margin-bottom: 3.23rem;
        position: relative; }
        .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type:after {
          position: absolute;
          content: "+";
          left: -0.4rem;
          top: -1.7rem;
          font-size: 1.4rem;
          color: #31313F;
          line-height: 1em; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLink {
        overflow: hidden; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLinksText {
        color: #31313F;
        position: relative; }
  .imagesProjectWrapperAlt .coloumnText {
    margin-top: 4.06rem;
    clear: both;
    width: 74.01rem;
    float: right;
    margin-right: 4.4rem;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3.44rem;
    -moz-column-gap: 3.44rem;
    column-gap: 3.44rem; }

.imagesProject3Text {
  width: 57.5rem; }
  .imagesProject3Text h2 {
    padding-bottom: 0rem; }
  .imagesProject3Text.aboutMeWrapper .p1 {
    padding-top: 1.6rem; }
  .imagesProject3Text .aboutMeLeftCol {
    width: 77%; }

.imagesProject3WrapperAlt {
  width: 100%;
  height: 56.25rem;
  background: transparent no-repeat center center;
  background-size: cover;
  position: relative;
  margin-top: 4rem;
  clear: both;
  display: inline-block;
  margin-bottom: 2.6rem; }
  .imagesProject3WrapperAlt .smallImgWrapper {
    top: 24.70rem;
    left: 26.04rem;
    position: absolute;
    width: 11.98rem; }
    .imagesProject3WrapperAlt .smallImgWrapper img {
      width: 100%; }
      .imagesProject3WrapperAlt .smallImgWrapper img:not(:last-of-type) {
        margin-bottom: 0.52rem; }

.video-frame {
  width: 90% !important;
  height: 42.25rem !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
  max-height: 100% !important; }
  .video-frame .video .video-close {
    display: none !important; }
  .video-frame .video iframe {
    width: 100% !important;
    height: 56.25rem !important;
    max-height: 100% !important; }

.servicesWrapper {
  width: 74.01rem;
  float: right;
  margin-top: 10.06rem;
  margin-right: 4.4rem;
  margin-bottom: 12.29rem; }
  .servicesWrapper.project3 {
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .servicesWrapper h4 {
    margin-top: 1.78rem;
    margin-bottom: 2.54rem; }
  .servicesWrapper .servicesUl {
    width: 100%; }
    .servicesWrapper .servicesUl .li {
      float: left;
      width: 13.33rem;
      padding-left: 1.88rem;
      height: 15.73rem; }
      .servicesWrapper .servicesUl .li .number {
        height: 3.70rem;
        width: 3.70rem;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #B8B8C7;
        line-height: 3.7rem;
        text-align: center;
        font-family: "Open Sans";
        color: #31313F;
        font-size: 1.35rem;
        margin-left: -1.88rem;
        font-weight: 300; }
      .servicesWrapper .servicesUl .li h5 {
        padding-top: 1rem;
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 1.15rem; }
      .servicesWrapper .servicesUl .li .p4 {
        padding-top: 0.5rem; }
      .servicesWrapper .servicesUl .li:not(:last-of-type) {
        margin-right: 0.54rem; }

.presentProjects {
  width: 100%;
  clear: both; }
  .presentProjects .project {
    width: 50%;
    height: 49.48rem;
    float: left;
    display: block; }
    .presentProjects .project:hover .projectInfo .projectsNav .a3 {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.5s, visibility 0s 0s;
      transition: opacity 0.5s, visibility 0s 0s; }
    .presentProjects .project .projectImg {
      background: transparent no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 24.84rem; }
    .presentProjects .project .projectInfo {
      height: 24.64rem;
      border-bottom: 1px solid #D0D2D8;
      position: relative; }
      .presentProjects .project .projectInfo .textWrapper {
        width: 34.79rem;
        padding-top: 3.35rem;
        margin-left: 10.4rem; }
        .presentProjects .project .projectInfo .textWrapper h3 {
          margin-top: 0.5rem; }
      .presentProjects .project .projectInfo .projectsNav .a3 {
        position: absolute;
        bottom: 3rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s; }
        .presentProjects .project .projectInfo .projectsNav .a3:before {
          content: "";
          width: 1.4rem;
          height: 0;
          border-top: 1px solid #DBDBEB;
          position: absolute;
          display: block;
          top: -1.1rem;
          left: 0;
          right: 0;
          margin: auto; }
        .presentProjects .project .projectInfo .projectsNav .a3 b {
          color: #646472; }
    .presentProjects .project.firstProject .projectInfo {
      border-right: 1px solid #D0D2D8; }

/*path {
	fill:none;
	pointer-events:all;
	display: block;
	transition: stroke-width 0.7s, stroke 0.7s;
}
path:hover {
	stroke: #D2D800;
	stroke-width: 5;
	transform: translateZ(1px);
}*/
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 4; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage .owl-item:last-of-type {
    margin-right: 0 !important; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: -moz-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.fullpageWrapper .videoSection {
  background: transparent no-repeat center center;
  background-size: cover; }
  .fullpageWrapper .videoSection .fp-tableCell {
    background-color: rgba(255, 201, 38, 0.7); }
    .fullpageWrapper .videoSection .fp-tableCell .h0 {
      color: #011224;
      font-size: 9.2rem;
      width: 45.08%;
      margin: 0 19.79% 0 auto;
      text-align: left;
      position: relative; }
      .fullpageWrapper .videoSection .fp-tableCell .h0 .a3.tip {
        color: #fff;
        top: 3.5rem;
        font-family: "Crimson Text";
        letter-spacing: 0.06rem;
        text-align: left; }
        .fullpageWrapper .videoSection .fp-tableCell .h0 .a3.tip:before {
          top: 0.3rem;
          right: auto;
          left: -3rem;
          background-color: #fff; }

.fullpageWrapper .infoSection {
  background: transparent no-repeat center center;
  background-size: cover; }
  .fullpageWrapper .infoSection .fp-tableCell {
    vertical-align: top; }
  .fullpageWrapper .infoSection .methodologyState.state1 {
    width: 80%;
    margin: 0 auto;
    float: none; }
  .fullpageWrapper .infoSection .methodologyState .h0 {
    color: #fff;
    width: auto; }
  .fullpageWrapper .infoSection .methodologyState .methodologyStateText {
    text-align: left; }
    .fullpageWrapper .infoSection .methodologyState .methodologyStateText h1 {
      color: #fff; }
    .fullpageWrapper .infoSection .methodologyState .methodologyStateText .p3Wrapper .p3 {
      color: #fff; }
  .fullpageWrapper .infoSection .methodologyState.state6 {
    float: none;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%; }
    .fullpageWrapper .infoSection .methodologyState.state6 .contentLinksWrapper .contentLink {
      text-align: left; }
    .fullpageWrapper .infoSection .methodologyState.state6 h3 {
      color: #fff;
      text-align: left;
      font-size: 1.16rem;
      line-height: 1.45em; }
    .fullpageWrapper .infoSection .methodologyState.state6 .contentLinkText:before {
      background-color: black; }
    .fullpageWrapper .infoSection .methodologyState.state6 .contentLinkText ul {
      text-align: left; }
      .fullpageWrapper .infoSection .methodologyState.state6 .contentLinkText ul a {
        color: #fff; }
    .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper {
      width: 65%;
      padding-top: 0; }
      .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
        width: 78%;
        float: left; }
      .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo {
        width: 22%; }
    .fullpageWrapper .infoSection .methodologyState.state6 .methodologyAboutVideoWrapper .contentLinksWrapper {
      margin-top: 0rem; }

.fullpageWrapper .imageSection {
  background-color: #021224; }
  .fullpageWrapper .imageSection .imgYellow {
    background: transparent no-repeat center center;
    background-size: cover;
    width: 68.07%;
    height: 80%;
    margin: -3.5% auto 0 auto;
    position: relative; }
    .fullpageWrapper .imageSection .imgYellow .a3.tip {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      bottom: -4rem;
      top: auto;
      color: #FFCA00; }
      .fullpageWrapper .imageSection .imgYellow .a3.tip:before {
        left: 0;
        right: 0;
        top: -1rem;
        margin: auto;
        width: 1.3rem; }

.goldContactLink {
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .goldContactLink svg path {
    -webkit-transition: stroke 0.5s;
    transition: stroke 0.5s; }
  .goldContactLink:hover {
    color: #B09766; }
    .goldContactLink:hover svg path {
      stroke: #B09766 !important; }

.sharePageWrapper {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 1px;
  cursor: pointer; }
  .sharePageWrapper.leftPosition {
    left: 30px; }
    .sharePageWrapper.leftPosition .shareText {
      left: 37px;
      right: auto; }
  .sharePageWrapper .shareText {
    right: 50px;
    top: 2px;
    font-size: 11px;
    opacity: 0;
    display: block;
    width: 95px;
    cursor: pointer; }
  .sharePageWrapper .cute-fbHover {
    font-size: 33px;
    left: -10.6px;
    top: -8.2px;
    opacity: 0;
    cursor: pointer; }
  .sharePageWrapper .cute-shareFb {
    font-size: 18px;
    left: 0;
    top: 0;
    opacity: 1;
    cursor: pointer; }
  .sharePageWrapper span {
    position: absolute;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s; }
  .sharePageWrapper:hover .cute-fbHover {
    opacity: 1; }
  .sharePageWrapper:hover .shareText {
    opacity: 1; }
  .sharePageWrapper:hover .cute-shareFb {
    opacity: 0; }

.overflowWrapper {
  width: 100%;
  overflow: hidden; }

.awardWrapper {
  width: 100%;
  height: 100%;
  background: transparent no-repeat center 30%;
  background-size: cover;
  background-image: url(/img/awardsBg.png);
  text-align: center; }

.awardsState {
  width: 100%;
  text-align: center;
  padding-bottom: 16rem; }
  .awardsState .firstWrapper {
    position: absolute;
    right: 45px;
    top: 37px; }
    .awardsState .firstWrapper .cute-first {
      font-size: 5.1rem;
      color: #31313F; }
    .awardsState .firstWrapper .firstText {
      margin-top: 0.5rem;
      font: 400 0.43rem/1.3em "Playfair Display";
      letter-spacing: 0.02rem; }
  .awardsState .whiteBg {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); }
  .awardsState h6 {
    width: 70%;
    margin: 0 auto;
    font-size: 0.73rem;
    line-height: 2em;
    padding-top: 1rem; }
  .awardsState .textAwards {
    padding-bottom: 1.4rem; }
  .awardsState .methodologyState .whiteBg {
    background-color: #fff;
    overflow: hidden; }
  .awardsState .methodologyState.state1 {
    width: 80%;
    margin: 0 auto;
    float: none; }
  .awardsState .methodologyState .h0 {
    color: #fff;
    width: auto; }
  .awardsState .methodologyState h4 {
    padding-top: 0; }
  .awardsState .methodologyState .methodologyStateText {
    text-align: left; }
    .awardsState .methodologyState .methodologyStateText h1 {
      color: #fff; }
    .awardsState .methodologyState .methodologyStateText .p3Wrapper .p3 {
      color: #fff; }
  .awardsState .methodologyState.state6 {
    float: none;
    position: static;
    bottom: 0rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    padding: 0; }
    .awardsState .methodologyState.state6 .contentLinksWrapper {
      width: 100%;
      padding-right: 0; }
      .awardsState .methodologyState.state6 .contentLinksWrapper .contentLink {
        text-align: left; }
    .awardsState .methodologyState.state6 h3 {
      color: black;
      text-align: left;
      font-size: 1.16rem;
      line-height: 1.45em; }
    .awardsState .methodologyState.state6 .contentLinkText {
      padding-top: 1rem; }
      .awardsState .methodologyState.state6 .contentLinkText:before {
        display: none; }
      .awardsState .methodologyState.state6 .contentLinkText ul {
        text-align: left; }
        .awardsState .methodologyState.state6 .contentLinkText ul a {
          color: black; }
    .awardsState .methodologyState.state6 .methodologyVideoWrapper {
      width: 66%;
      padding-left: 10%;
      padding-top: 0; }
      .awardsState .methodologyState.state6 .methodologyVideoWrapper .videoM {
        left: auto;
        bottom: auto;
        top: 1.3rem;
        right: 1.3rem;
        cursor: pointer; }
      .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
        width: 78%;
        float: left; }
      .awardsState .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo {
        width: 22%; }
    .awardsState .methodologyState.state6 .methodologyAboutVideoWrapper {
      width: 24%; }
      .awardsState .methodologyState.state6 .methodologyAboutVideoWrapper .contentLinksWrapper {
        margin-top: 0rem; }

.table {
  display: table;
  height: 100%;
  width: 100%; }
  .table .tableCell {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
    height: 100% !important; } }

body.isLoaded .headImage {
  -webkit-animation: filter 1.2s linear 1;
  animation: filter 1.2s linear 1;
  opacity: 1; }

body.isLoaded .plus.isOpen {
  -webkit-transform: translateZ(1px) rotateX(0deg) scale(1) rotateZ(45deg);
  transform: translateZ(1px) rotateX(0deg) scale(1) rotateZ(45deg);
  border-color: #fff !important;
  z-index: 101; }

body.isLoaded .plus.isActive {
  visibility: visible;
  -webkit-transition: visibility 0s 0s, -webkit-transform 0.5s;
  transition: visibility 0s 0s, -webkit-transform 0.5s;
  transition: transform 0.5s, visibility 0s 0s;
  transition: transform 0.5s, visibility 0s 0s, -webkit-transform 0.5s; }
  body.isLoaded .plus.isActive:after {
    height: 100%; }
  body.isLoaded .plus.isActive:before {
    width: 100%; }
  body.isLoaded .plus.isActive:hover {
    border-color: #021224 !important; }
  body.isLoaded .plus.isActive.isOpen:hover {
    border-color: #D2D800; }
