@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .noTablet {
    display: none; }
  .h0 {
    font-size: 7rem; }
  html {
    font-size: 1.05vw; }
  h2 {
    font-size: 3.45rem; }
  h3 {
    font-size: 2.7rem;
    line-height: 1.55em; }
  h4 {
    font-size: 2.1rem; }
  h5 {
    font-size: 2rem; }
  .p1 {
    font-size: 1.55rem; }
  .p2 {
    font-size: 1.5rem; }
  .p3 {
    font-size: 1.35rem; }
  .a2 {
    font-size: 0.88rem; }
  .a3 {
    font-size: 1.1rem; }
  .aboutContainer .aboutMeRightBlock {
    margin-top: 3rem; }
  .aboutContainer .aboutMeRightBlock h4 br {
    display: none; }
  .backstageWrapper {
    width: 75rem; }
    .backstageWrapper .backstage {
      width: 37.5rem;
      height: 37.5rem; }
      .backstageWrapper .backstage.backstageMore {
        font-size: 3.5rem;
        line-height: 37.5rem; }
  .wrapperMainInfo.fullwidth .headImage {
    width: 100%; }
    .wrapperMainInfo.fullwidth .headImage h2 {
      font-size: 2.2rem;
      padding-left: 21.4%; }
    .wrapperMainInfo.fullwidth .headImage h6 {
      font-size: 1.2rem;
      padding-left: 21.4%; }
  .menuWrapper nav {
    top: 10%;
    bottom: auto;
    height: auto; }
    .menuWrapper nav:after, .menuWrapper nav:before {
      height: 100%; }
    .menuWrapper nav li {
      width: 30.4rem;
      height: 7.2rem; }
  .captionImg {
    bottom: -2.45rem; }
    .captionImg:before {
      left: -2.2rem;
      width: 1.9rem;
      top: 0.7rem; }
  .img1 {
    font-size: 1.43rem; }
  .container {
    margin-top: 4.9rem;
    width: 78rem; }
  .wrapperMainInfo {
    height: 59.125rem; }
    .wrapperMainInfo .indexNavWrapper {
      display: none; }
  .plus {
    visibility: visible !important; }
    .plus:before {
      width: 100%; }
    .plus:after {
      height: 100%; }
  .facebook {
    position: absolute;
    float: none;
    margin-left: 3rem;
    margin-top: 9.4rem;
    height: 4.4rem; }
  .aboutMeWrapper {
    width: 75rem;
    padding-right: 2rem;
    padding-top: 9.2rem;
    /*&.caseStudyMargin {
			width: 79rem;
		}*/ }
    .aboutMeWrapper.imagesProject3Text {
      width: 75rem; }
    .aboutMeWrapper.aboutSmallLeftCol {
      width: 71.2rem; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
        width: 100%; }
      .aboutMeWrapper.aboutSmallLeftCol h2 a.linkUnderline:hover:after {
        width: 0%; }
      .aboutMeWrapper.aboutSmallLeftCol h2 a.linkUnderline:after {
        bottom: 0.2em;
        color: #DBDBEA;
        -webkit-transition: width 0.5s;
        transition: width 0.5s; }
      .aboutMeWrapper.aboutSmallLeftCol .p1 a {
        text-decoration: underline;
        color: #DBDBEA;
        display: inline-block; }
        .aboutMeWrapper.aboutSmallLeftCol .p1 a:hover {
          text-decoration: none; }
        .aboutMeWrapper.aboutSmallLeftCol .p1 a span {
          color: #31313F; }
    .aboutMeWrapper .aboutMeLeftCol {
      width: 100%;
      float: none;
      position: relative; }
    .aboutMeWrapper .aboutMeRightCol {
      width: 100%;
      float: none;
      position: relative;
      padding-top: 4rem; }
      .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock {
        width: 50%;
        float: left; }
        .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock:nth-of-type(odd) {
          padding-right: 5%; }
        .aboutMeWrapper .aboutMeRightCol .aboutMeRightBlock.casestudy {
          width: 100%; }
  .otherMobile {
    display: none; }
  .imagesProjectWrapper .desktopImgWrapper {
    width: 83.33%;
    margin: 1.04rem auto 0 auto;
    overflow: hidden; }
    .imagesProjectWrapper .desktopImgWrapper .bigImg {
      width: 100%;
      height: 50.7rem; }
    .imagesProjectWrapper .desktopImgWrapper .smallImg {
      width: 48%;
      margin-top: 2.25rem;
      height: 80.65rem; }
      .imagesProjectWrapper .desktopImgWrapper .smallImg:nth-of-type(2) {
        margin-right: 3%; }
    .imagesProjectWrapper .desktopImgWrapper div {
      float: left;
      display: block; }
      .imagesProjectWrapper .desktopImgWrapper div:nth-of-type(even), .imagesProjectWrapper .desktopImgWrapper div:nth-of-type(odd) {
        margin-right: 0%; }
      .imagesProjectWrapper .desktopImgWrapper div:nth-of-type(4) {
        margin-top: 2.25rem; }
  .imagesProject3WrapperAlt {
    height: 65.25rem; }
    .imagesProject3WrapperAlt .smallImgWrapper {
      top: auto;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 20rem;
      overflow: hidden; }
      .imagesProject3WrapperAlt .smallImgWrapper img {
        height: 20rem;
        width: auto;
        margin-right: 4rem; }
        .imagesProject3WrapperAlt .smallImgWrapper img:not(:last-of-type) {
          margin-bottom: 0; }
  .imagesProjectWrapper {
    width: 100%;
    clear: both;
    margin-top: 4.11rem;
    display: inline-block;
    padding-bottom: 5.5rem;
    overflow: hidden; }
    .imagesProjectWrapper.carOnFly {
      background: none; }
    .imagesProjectWrapper.project3 {
      background-color: #F2F3F7;
      padding-top: 15.44rem;
      margin-top: -15rem; }
      .imagesProjectWrapper.project3 .tabletImg {
        display: block;
        margin: 0 auto;
        width: 89.74rem; }
      .imagesProjectWrapper.project3 .project3Wrapper {
        width: 89.64rem;
        margin: 0 auto;
        position: static;
        left: 0;
        padding-top: 4.69rem; }
      .imagesProjectWrapper.project3 .leftColoumn {
        float: none;
        width: 100%;
        text-align: center; }
        .imagesProjectWrapper.project3 .leftColoumn img:not(:first-of-type) {
          margin-top: 2.5rem; }
        .imagesProjectWrapper.project3 .leftColoumn img:last-of-type {
          margin-top: 1.56rem; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(1) {
          width: 100%; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(2) {
          width: 95%; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(3) {
          width: 100%; }
        .imagesProjectWrapper.project3 .leftColoumn img:nth-of-type(4) {
          width: 95%; }
      .imagesProjectWrapper.project3 .rightColoumn {
        float: right;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(1) {
          width: 100%; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(2) {
          width: 95%;
          margin-top: 2.5rem; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(3) {
          width: 44%;
          margin-left: 0;
          margin-top: 2.5rem;
          float: left;
          margin-right: 3%;
          margin-left: 4.5%; }
        .imagesProjectWrapper.project3 .rightColoumn img:nth-of-type(4) {
          width: 44%;
          margin-left: 0;
          margin-top: 2.5rem;
          float: left; }
    .imagesProjectWrapper .mobileSliderWrapper {
      width: 54.50rem;
      margin: 0rem auto 6rem auto;
      height: 64.36rem;
      padding-top: 8.68rem;
      background-size: 52.6%;
      background-position: top center; }
      .imagesProjectWrapper .mobileSliderWrapper .slide {
        height: 47.70rem;
        width: 27.08rem;
        margin-right: 0rem; }
        .imagesProjectWrapper .mobileSliderWrapper .slide:first-of-type {
          margin-left: 0; }
        .imagesProjectWrapper .mobileSliderWrapper .slide svg {
          margin-top: -12.5rem; }
        .imagesProjectWrapper .mobileSliderWrapper .slide.onlyMob {
          display: block; }
          .imagesProjectWrapper .mobileSliderWrapper .slide.onlyMob.small {
            height: 38rem; }
  .caseStudyWrapper {
    width: 72rem;
    float: right;
    margin-right: 3rem;
    padding-top: 5.2154rem;
    position: relative; }
    .caseStudyWrapper.project3 {
      width: 72rem;
      margin-bottom: 2.5rem; }
      .caseStudyWrapper.project3 .titleWrapper .titleImgWrapper {
        width: 10%; }
        .caseStudyWrapper.project3 .titleWrapper .titleImgWrapper img {
          width: 100%; }
      .caseStudyWrapper.project3 .titleWrapper h3 {
        width: 88%;
        padding-right: 12%;
        float: right; }
        .caseStudyWrapper.project3 .titleWrapper h3 br {
          display: none; }
    .caseStudyWrapper.middleWidth .titleWrapper {
      width: 100%; }
      .caseStudyWrapper.middleWidth .titleWrapper h3 {
        width: 100%; }
    .caseStudyWrapper.middleWidth .asideTextCaseStudy .p1 {
      width: 100%; }
  .contentLinksWrapper {
    width: 75rem;
    padding-right: 2rem;
    margin-bottom: -6.5rem; }
    .contentLinksWrapper.project3 .contentLink {
      padding-left: 0rem !important; }
    .contentLinksWrapper.casestudy {
      width: 75.14rem; }
      .contentLinksWrapper.casestudy .contentLink {
        margin-bottom: 3rem; }
        .contentLinksWrapper.casestudy .contentLink:first-of-type {
          padding-left: 0; }
        .contentLinksWrapper.casestudy .contentLink:last-of-type {
          padding-bottom: 3rem; }
    .contentLinksWrapper .contentLink {
      display: block;
      float: left;
      margin-bottom: 6.5rem; }
      .contentLinksWrapper .contentLink:first-of-type {
        padding-left: 5rem; }
      .contentLinksWrapper .contentLink .contentLinkText {
        padding-top: 4.4rem; }
        .contentLinksWrapper .contentLink .contentLinkText:before {
          top: 2.68rem; }
        .contentLinksWrapper .contentLink .contentLinkText nav {
          margin-top: 1.45rem; }
      .contentLinksWrapper .contentLink.col2, .contentLinksWrapper .contentLink.col3, .contentLinksWrapper .contentLink.col4 {
        width: 100%;
        padding-right: 0; }
      .contentLinksWrapper .contentLink.col1 {
        width: 50%; }
        .contentLinksWrapper .contentLink.col1:nth-of-type(odd) {
          padding-left: 4rem; }
  .aboutMeWrapper.aboutSmallLeftCol {
    width: 73rem;
    padding-top: 2.2rem;
    margin-right: 1.5em; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeLeftCol {
      width: 100%;
      margin-bottom: 3.2rem; }
    .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol {
      width: 100%; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco {
        position: static;
        float: none;
        width: 100%; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco {
          width: 12%;
          margin-bottom: 2rem; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .contactIco #contactIco2 {
          width: 15%;
          margin-bottom: 2rem; }
      .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock {
        width: 100%;
        float: none;
        padding-left: 0; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 {
          font-size: 1.8rem; }
          .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock h4 br {
            display: none; }
        .aboutMeWrapper.aboutSmallLeftCol .aboutMeRightCol .aboutMeRightBlock:nth-of-type(even) {
          padding-left: 0; }
  .menuWrapper nav li a {
    font-size: 3.5rem; }
  .a3.tip {
    width: 12.2rem;
    left: -15.5rem;
    top: 2.24rem; }
    .a3.tip:before {
      width: 3.6rem; }
  .partnersWrapper {
    padding-right: 2rem;
    width: 75rem;
    float: right;
    margin-right: 0; }
    .partnersWrapper .p2 {
      padding-top: 4.2rem; }
  .partnersWrapper {
    padding-bottom: 8.3rem;
    margin-top: 2.4rem; }
    .partnersWrapper .partnerTable {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: auto;
      padding-top: 5rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: auto; }
      .partnersWrapper .partnerTable .partner {
        width: 33%;
        text-align: center !important;
        vertical-align: middle;
        padding: 2.4rem 0; }
        .partnersWrapper .partnerTable .partner img {
          max-height: 8rem;
          max-width: 57%; }
  .mapWrapper {
    margin-top: -15.2rem;
    height: 67.3rem; }
  .lastProjectWrapper {
    padding-right: 2rem;
    width: 75rem;
    margin-right: 0; }
    .lastProjectWrapper .leftColLastProject {
      width: 100%;
      float: none; }
      .lastProjectWrapper .leftColLastProject .a3.tip {
        top: 5.55rem; }
    .lastProjectWrapper .rightColLastProject {
      margin-top: 4rem;
      width: 100%;
      float: none; }
      .lastProjectWrapper .rightColLastProject .p3 {
        padding-top: 0rem; }
  .expProjectsWrapper {
    float: none;
    margin-top: 5rem; }
    .expProjectsWrapper .expProject {
      width: 100%;
      height: 57.8rem; }
      .expProjectsWrapper .expProject .expProjectInfoWrapper {
        left: 2.23rem;
        bottom: 1.54rem; }
      .expProjectsWrapper .expProject .expProjectText {
        width: 55rem; }
        .expProjectsWrapper .expProject .expProjectText h4 {
          font-size: 1.6rem;
          line-height: 2.1rem;
          margin-top: 1rem; }
      .expProjectsWrapper .expProject .expProjectImg {
        width: 8.7rem;
        min-width: 70px;
        min-height: 74px; }
        .expProjectsWrapper .expProject .expProjectImg img {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto; }
      .expProjectsWrapper .expProject .a3.tip {
        display: none; }
  .fullImg {
    margin-top: 0rem;
    height: 49.125rem; }
  footer .footerNavWrapper {
    width: 75rem;
    margin-bottom: 11rem;
    float: right; }
    footer .footerNavWrapper .a2 {
      font-size: 0.9rem; }
  footer .footerWrapperContainer {
    width: 75rem; }
  footer .goTopWrapper {
    display: block;
    width: 3rem;
    height: 3rem; }
  footer .footerWrapper {
    margin: 0 0 9.6rem 0;
    width: 55.4rem; }
    footer .footerWrapper .tip {
      left: -17.5rem; }
    footer .footerWrapper h2 {
      width: 80%; }
      footer .footerWrapper h2:after {
        top: 3.1rem;
        right: 5rem; }
  footer .asideFooter {
    width: 92%; }
    footer .asideFooter .footerSmall {
      font-size: 1.1rem; }
    footer .asideFooter .earthWrapper .map {
      width: 3.6rem;
      vertical-align: middle;
      height: 6.5rem; }
    footer .asideFooter .earthWrapper .p3 {
      vertical-align: middle;
      font-size: 1.1rem;
      color: black;
      margin-top: -0.8rem;
      margin-left: 0.7rem; }
  footer .footerNav.center {
    padding-left: 7%; }
  footer .footerNav h5:not(.noPadding) {
    padding-top: 3.7rem; }
  footer .footerNav.col1 {
    width: 9.09%; }
  footer .footerNav.col2 {
    width: 18.18%; }
  footer .footerNav.col3 {
    width: 31.815%; }
  footer .footerNav.col4 {
    width: 36.36%; }
  footer .footerNav.col5 {
    width: 36.36%; }
  a.cuteLink, .wrapper nav li:after {
    font-size: 1.2rem;
    letter-spacing: 0.5rem; }
  .projectsWrapper .projects {
    width: 75rem; }
    .projectsWrapper .projects .right .projectsUl:last-of-type li:first-of-type {
      border-bottom: 1px solid #DBDBEA; }
    .projectsWrapper .projects .positionWrapper {
      width: 92%; }
    .projectsWrapper .projects .left, .projectsWrapper .projects .right {
      float: none;
      width: 100%; }
    .projectsWrapper .projects .projectsUl {
      overflow: hidden;
      height: 5rem; }
      .projectsWrapper .projects .projectsUl.isOpen {
        height: auto; }
        .projectsWrapper .projects .projectsUl.isOpen li:first-of-type {
          border-bottom: 1px solid #DBDBEA; }
      .projectsWrapper .projects .projectsUl.isOpen li:first-of-type .a2:after {
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg); }
      .projectsWrapper .projects .projectsUl .linkLi .projectPlus {
        font-size: 1.7rem;
        width: 2.4rem;
        height: 2.4rem;
        left: -3rem;
        top: 0.34rem; }
      .projectsWrapper .projects .projectsUl li {
        height: 2.6rem;
        width: 100%;
        padding-left: 3rem; }
        .projectsWrapper .projects .projectsUl li:not(:first-of-type) {
          margin: 1rem 0; }
        .projectsWrapper .projects .projectsUl li:nth-of-type(2) {
          margin-top: 2.5rem; }
        .projectsWrapper .projects .projectsUl li:last-of-type {
          margin-bottom: 2.5rem; }
        .projectsWrapper .projects .projectsUl li:first-of-type {
          padding-top: 0;
          padding-bottom: 0;
          height: 5rem;
          border-top: 1px solid #DBDBEA;
          width: 100%;
          padding-left: 0;
          cursor: pointer; }
          .projectsWrapper .projects .projectsUl li:first-of-type:hover .a2:after {
            border-bottom: 1px solid #B09766;
            border-right: 1px solid #B09766; }
          .projectsWrapper .projects .projectsUl li:first-of-type .a2 {
            line-height: 5rem;
            font-size: 1.35rem;
            position: relative; }
            .projectsWrapper .projects .projectsUl li:first-of-type .a2:after {
              content: "";
              width: 1.1rem;
              height: 1.1rem;
              display: block;
              position: absolute;
              right: 0.78rem;
              top: 0;
              bottom: 0;
              margin: auto;
              border-bottom: 1px solid #DBDBEA;
              border-right: 1px solid #DBDBEA;
              -webkit-transform: rotateZ(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotateZ(-45deg);
              -webkit-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              -webkit-transition: -webkit-transform 0.5s;
              transition: -webkit-transform 0.5s;
              transition: transform 0.5s;
              transition: transform 0.5s, -webkit-transform 0.5s; }
        .projectsWrapper .projects .projectsUl li.isActive {
          height: auto; }
  .projectsWrapper {
    padding-top: 10.59rem; }
    .projectsWrapper .projectsInfoWrapper {
      width: 57.4rem; }
      .projectsWrapper .projectsInfoWrapper h2 {
        width: 85%; }
        .projectsWrapper .projectsInfoWrapper h2:after {
          top: 2.85rem;
          right: 9.64rem;
          width: 7.77rem; }
  .methWrapper {
    margin-top: 3rem; }
  .casestudyTextWrapper {
    width: 72.5rem;
    float: right;
    margin-right: 2.50rem;
    margin-top: 5.71rem; }
    .casestudyTextWrapper h3 {
      margin-top: 4rem;
      margin-bottom: 2.30rem; }
  .methState {
    width: 100rem;
    padding-left: 25rem;
    overflow: hidden;
    float: right;
    position: relative; }
    .methState .h0, .methState h1 {
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    .methState .squareImgMethodology {
      margin-bottom: 20rem;
      height: 45rem;
      width: 100%;
      margin-top: -2rem; }
      .methState .squareImgMethodology ul {
        left: 0;
        bottom: -17.4rem;
        width: 100%; }
      .methState .squareImgMethodology li {
        width: 32%;
        height: 16rem;
        margin-right: 0; }
        .methState .squareImgMethodology li:not(:last-of-type) {
          margin-right: 2% !important; }
    .methState .a3, .methState .smallText {
      display: none; }
    .methState .fullImg.methodologyFullImg,
    .methState .fullImg.methodologyFullImg2 {
      margin-left: -25rem;
      width: 100rem;
      margin-bottom: 3.5rem; }
    .methState .fullImg.methodologyFullImg {
      margin-top: -15.5rem; }
    .methState .fullImg.methodologyFullImg2 {
      margin-top: -4rem; }
    .methState h4 {
      padding-top: 1rem;
      width: 90%; }
    .methState .state4AfterImgText {
      float: none;
      width: 100%;
      padding-right: 4%;
      padding-bottom: 6rem; }
    .methState.isActive .h0, .methState.isActive h1 {
      color: #B09766; }
    .methState.isActive .methodologyState[class*=' state'] .h0 .openMethTab:after {
      height: 0;
      opacity: 0; }
    .methState .p3Wrapper {
      width: 100%; }
      .methState .p3Wrapper .p3:not(:first-of-type) {
        display: none; }
      .methState .p3Wrapper .p3 {
        width: 100% !important;
        padding-right: 4% !important;
        float: none !important;
        margin-right: 0 !important; }
    .methState:last-of-type {
      margin-bottom: 5.5rem; }
      .methState:last-of-type:after {
        position: absolute;
        content: "";
        left: 25rem;
        bottom: 0;
        width: 75rem;
        height: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:before {
      position: absolute;
      content: "";
      left: 25rem;
      top: 0;
      width: 75rem;
      height: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .methState:not(.isActive) h4,
    .methState:not(.isActive) .p3Wrapper,
    .methState:not(.isActive) .goldLinksWrapper,
    .methState:not(.isActive) .methodologyFullImg,
    .methState:not(.isActive) .methodologyFullImg2,
    .methState:not(.isActive) .state4AfterImgText,
    .methState:not(.isActive) .squareImgMethodology,
    .methState:not(.isActive) .methodologyVideoWrapper,
    .methState:not(.isActive) .methodologyAboutVideoWrapper,
    .methState:not(.isActive) .methodologySmallImg,
    .methState:not(.isActive) .linkWrapp,
    .methState:not(.isActive) .state2 .rightWrapper,
    .methState:not(.isActive) .state4 .leftWrapper,
    .methState:not(.isActive) .state7 .rightColomn,
    .methState:not(.isActive) .fullImg {
      display: none; }
    .methState .methodologyState {
      display: block;
      margin-top: 3rem;
      padding-bottom: 3rem;
      width: 100%;
      float: none; }
      .methState .methodologyState[class^='state'], .methState .methodologyState[class*=' state'] {
        width: 100%;
        margin-right: 0rem; }
        .methState .methodologyState[class^='state'] .h0, .methState .methodologyState[class*=' state'] .h0 {
          float: none;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          position: relative;
          text-indent: -2.4rem;
          line-height: .6em;
          display: inline-block;
          width: auto;
          right: 0; }
          .methState .methodologyState[class^='state'] .h0 .openMethTab, .methState .methodologyState[class*=' state'] .h0 .openMethTab {
            display: block;
            width: 4.2rem;
            height: 4.2rem;
            position: absolute;
            right: -5rem;
            top: 0.8rem;
            cursor: pointer;
            border-color: #fff; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:hover, .methState .methodologyState[class*=' state'] .h0 .openMethTab:hover {
              border-color: #B09766; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:before, .methState .methodologyState[class*=' state'] .h0 .openMethTab:before {
              width: 4.2rem;
              height: 0px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              content: "";
              border-top-width: 1px;
              border-bottom-width: 0;
              border-left-width: 0;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit; }
            .methState .methodologyState[class^='state'] .h0 .openMethTab:after, .methState .methodologyState[class*=' state'] .h0 .openMethTab:after {
              width: 0;
              height: 100%;
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              border-top-width: 0px;
              border-bottom-width: 0;
              border-left-width: 1px;
              border-right-width: 0;
              border-style: solid;
              border-color: inherit;
              content: "";
              -webkit-transition: height 0.5s, opacity 0.5s;
              transition: height 0.5s, opacity 0.5s;
              opacity: 1; }
        .methState .methodologyState[class^='state'] .methodologyStateText:before, .methState .methodologyState[class*=' state'] .methodologyStateText:before {
          display: none; }
        .methState .methodologyState[class^='state'] .methodologyStateText, .methState .methodologyState[class*=' state'] .methodologyStateText {
          width: 100%;
          float: none;
          padding-top: 1.5rem !important; }
        .methState .methodologyState[class^='state'] .leftWrapper, .methState .methodologyState[class^='state'] .rightWrapper, .methState .methodologyState[class*=' state'] .leftWrapper, .methState .methodologyState[class*=' state'] .rightWrapper {
          float: none;
          width: 100%; }
        .methState .methodologyState[class^='state'] .leftColomn, .methState .methodologyState[class^='state'] .rightColomn, .methState .methodologyState[class*=' state'] .leftColomn, .methState .methodologyState[class*=' state'] .rightColomn {
          float: none !important;
          width: 100% !important; }
      .methState .methodologyState.state7, .methState .methodologyState.state2 {
        padding-top: 0; }
        .methState .methodologyState.state7 .rightWrapper, .methState .methodologyState.state2 .rightWrapper {
          padding-top: 1.5rem; }
      .methState .methodologyState.state5 .p3Wrapper {
        padding-top: 3rem;
        padding-bottom: 2rem;
        width: 100%; }
        .methState .methodologyState.state5 .p3Wrapper .a3 {
          display: block;
          position: static;
          font-size: 1.8rem;
          width: 45%;
          margin: 0 auto;
          text-align: left;
          color: #B09766;
          padding-top: 3rem;
          padding-bottom: 3rem; }
      .methState .methodologyState.state5 h4 {
        padding-top: 3rem; }
      .methState .methodologyState.state2 .p3Wrapper {
        width: 50%; }
      .methState .methodologyState.state6 .p3Wrapper {
        padding-top: 3rem;
        padding-bottom: 2rem;
        width: 100%; }
      .methState .methodologyState.state6 .methodologyVideoWrapper {
        clear: left;
        width: 100%;
        padding-top: 3rem;
        float: left; }
        .methState .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
          margin-right: 5%; }
      .methState .methodologyState.state6 .methCol {
        width: 50rem;
        padding-left: 2rem; }
        .methState .methodologyState.state6 .methCol .contentLinkText {
          width: 100%; }
      .methState .methodologyState.state6 .methodologyVideo {
        width: 20%; }
        .methState .methodologyState.state6 .methodologyVideo .video {
          width: 19.25rem;
          position: static;
          display: block;
          height: 10.81rem;
          margin: 6.5rem 0 2rem 0rem; }
      .methState .methodologyState.state6 .methodologyAboutVideoWrapper {
        float: none;
        width: auto; }
        .methState .methodologyState.state6 .methodologyAboutVideoWrapper .methCol {
          padding-left: 0;
          margin-top: 4.2rem; }
      .methState .methodologyState.state6 .contentLinkText h3 {
        width: 100%;
        float: none; }
      .methState .methodologyState.state6 .contentLink:first-of-type nav {
        margin-left: 0; }
      .methState .methodologyState.state7 .methodologySmallImg {
        float: none;
        width: 85%;
        height: 55rem;
        margin-left: 0rem;
        position: static; }
      .methState .methodologyState.state7 .leftWrapper .h0 {
        top: 0;
        left: 0; }
      .methState .methodologyState.state7 .rightColomn {
        clear: both; }
      .methState .methodologyState.state7 .mobileBlock {
        display: block;
        padding-top: 1rem;
        padding-bottom: 3rem;
        margin-left: 3rem; }
        .methState .methodologyState.state7 .mobileBlock br {
          display: none; }
      .methState .methodologyState.state7 .smallText {
        display: block;
        font-size: 1rem;
        width: 50% !important;
        position: absolute;
        z-index: 1;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        margin-top: -5rem;
        margin-left: 2rem; }
      .methState .methodologyState.state7 .rightWrapper {
        padding-right: 0; }
        .methState .methodologyState.state7 .rightWrapper .linkWrapp {
          font-size: 2.5rem;
          margin-top: 7rem;
          padding-left: 1.5rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp .linkUnderline {
            color: #B09766;
            margin-left: 3rem; }
          .methState .methodologyState.state7 .rightWrapper .linkWrapp:before {
            font-size: 3.7rem;
            top: -5.5rem;
            left: 3.5rem;
            color: #B09766; }
      .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper {
        width: 40%;
        float: right;
        font-size: 2.6rem;
        padding-top: 14rem; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type) {
          margin-bottom: 5.23rem;
          position: relative; }
          .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper li:not(:last-of-type):after {
            position: absolute;
            color: #B09766;
            bottom: -4.5rem;
            font-size: 3rem;
            left: -.7rem; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLink {
          overflow: visible; }
        .methState .methodologyState.state2 .rightWrapper .goldLinksWrapper .goldLinksText {
          color: #fff;
          display: block;
          margin-bottom: 10rem;
          width: 70%;
          font-weight: 300; }
  .fullpageWrapper .videoSection .fp-tableCell .h0 {
    font-size: 12rem;
    width: 50%; }
    .fullpageWrapper .videoSection .fp-tableCell .h0 .a3.tip {
      display: none; }
  .fullpageWrapper .infoSection .methodologyState .methodologyStateText {
    width: 74%;
    padding-top: 2.8rem; }
    .fullpageWrapper .infoSection .methodologyState .methodologyStateText .p3Wrapper .p3 {
      width: 100%; }
      .fullpageWrapper .infoSection .methodologyState .methodologyStateText .p3Wrapper .p3:nth-of-type(2) {
        display: none; }
  .fullpageWrapper .infoSection .methodologyState.state6 {
    bottom: 0rem; }
    .fullpageWrapper .infoSection .methodologyState.state6 .contentLinksWrapper .contentLink:first-of-type {
      padding-left: 0rem; }
    .fullpageWrapper .infoSection .methodologyState.state6 h3 {
      font-size: 1.6rem; }
    .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper {
      width: 75%; }
      .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyContentLinksWrapper {
        width: 78%;
        float: left; }
      .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo {
        width: 22%; }
        .fullpageWrapper .infoSection .methodologyState.state6 .methodologyVideoWrapper .methodologyVideo .video {
          top: 3.6rem; }
  .fullpageWrapper .imageSection {
    background-color: #021224; }
    .fullpageWrapper .imageSection .imgYellow {
      background: transparent no-repeat center center;
      background-size: cover;
      width: 68.07%;
      height: 80%;
      margin: -3.5% auto 0 auto;
      position: relative; }
      .fullpageWrapper .imageSection .imgYellow .a3.tip {
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        bottom: -4rem;
        top: auto;
        color: #FFCA00; }
        .fullpageWrapper .imageSection .imgYellow .a3.tip:before {
          left: 0;
          right: 0;
          top: -1rem;
          margin: auto;
          width: 1.3rem; }
  .imagesProjectWrapperAlt .imgWrapper {
    position: relative;
    float: right; }
    .imagesProjectWrapperAlt .imgWrapper .number {
      display: none; }
    .imagesProjectWrapperAlt .imgWrapper.mediumImg {
      width: 51.86%;
      height: 25.74rem;
      margin-bottom: 1.6rem;
      margin-left: 4.5rem; }
    .imagesProjectWrapperAlt .imgWrapper.smallImg {
      width: 32%;
      margin-right: 1.09rem;
      height: 25.74rem;
      margin-bottom: 1.6rem; }
    .imagesProjectWrapperAlt .imgWrapper.bigImg {
      width: 100%;
      margin-bottom: 1.09rem;
      float: left;
      height: 67.19rem; }
    .imagesProjectWrapperAlt .imgWrapper.rightImg {
      width: 46.26%;
      float: left;
      height: 61.56rem; }
  .imagesProjectWrapperAlt .leftCol {
    width: 100%;
    float: left;
    margin-bottom: 4.5rem; }
  .imagesProjectWrapperAlt .rightCol {
    width: 88%;
    float: none;
    margin: 0 auto 5.5rem auto;
    overflow: hidden;
    position: relative; }
    .imagesProjectWrapperAlt .rightCol .goldLinksWrapper {
      width: 28.21%;
      font-size: 2.44rem;
      margin-top: 5rem;
      margin-left: 3.72rem;
      position: absolute;
      bottom: 0;
      left: 49%; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .linkUnderline {
        display: inline; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type {
        margin-bottom: 0rem;
        position: relative; }
        .imagesProjectWrapperAlt .rightCol .goldLinksWrapper li:last-of-type:after {
          position: absolute;
          content: "+";
          left: -1.2rem;
          top: -4.7rem;
          font-size: 4.2rem;
          color: #31313F;
          line-height: 1em; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLink {
        overflow: hidden; }
      .imagesProjectWrapperAlt .rightCol .goldLinksWrapper .goldLinksText {
        color: #31313F;
        position: relative; }
  .imagesProjectWrapperAlt .coloumnText {
    margin-top: 4.06rem;
    clear: both;
    width: 70.6rem;
    float: right;
    margin-right: 4.4rem;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem; }
  .servicesWrapper {
    width: 70.5rem;
    float: right;
    margin-top: 8.06rem;
    margin-right: 4.4rem;
    margin-bottom: 7.29rem; }
    .servicesWrapper.project3 {
      margin-top: 5rem;
      margin-bottom: 3rem; }
      .servicesWrapper.project3 .servicesUl {
        width: 1px;
        min-width: 100%; }
        .servicesWrapper.project3 .servicesUl .li:nth-of-type(8n+4) {
          margin-right: 13.33rem; }
        .servicesWrapper.project3 .servicesUl .li:nth-of-type(8n+5) {
          margin-left: 13.33rem; }
    .servicesWrapper h4 {
      margin-top: 1.78rem;
      margin-bottom: 2.54rem; }
    .servicesWrapper .servicesUl {
      width: 100%; }
      .servicesWrapper .servicesUl .li {
        float: left;
        width: 22.8rem;
        padding-left: 1.88rem;
        min-height: 25rem; }
        .servicesWrapper .servicesUl .li .number {
          height: 6.70rem;
          width: 6.70rem;
          line-height: 6.7rem;
          font-size: 2.35rem; }
        .servicesWrapper .servicesUl .li h5 {
          font-size: 2.15rem; }
        .servicesWrapper .servicesUl .li .p4 {
          padding-top: 0.5rem;
          font-size: 1.3rem; }
        .servicesWrapper .servicesUl .li:not(:last-of-type) {
          margin-right: 0.54rem; }
  .presentProjects .project .projectInfo .textWrapper h3 {
    margin-top: 4rem;
    font-size: 1.7rem; }
  .presentProjects .project.firstProject .projectInfo {
    border-right: 1px solid #D0D2D8; }
  .awardsState {
    padding-bottom: 26rem; }
    .awardsState .awardWrapper {
      background-size: 123% 147%; }
    .awardsState h4 {
      font-size: 2.2rem; }
    .awardsState h6 {
      font-size: 1rem;
      width: 85%; }
    .awardsState .contentLinksWrapper .contentLink:first-of-type {
      padding-left: 0; }
    .awardsState .methodologyState.state6 .methodologyVideoWrapper {
      padding-left: 5%; }
    .awardsState .methodologyState.state6 h3 {
      font-size: 1.4rem; }
    .awardsState .whiteBg {
      padding-bottom: 2rem; } }
