body {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.methodologyState {
  display: block;
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px; }
  .methodologyState .h0 {
    width: 36.45%;
    float: left;
    display: block; }
  .methodologyState .methodologyStateText {
    float: left;
    width: 56%;
    padding-top: 5.44vw; }
    .methodologyState .methodologyStateText h4 {
      padding-top: 1.3vw; }
  .methodologyState .p3Wrapper {
    padding-top: 4.1vw;
    height: 100px;
    width: auto; }
  .methodologyState .p3Wrapper .p3 {
    width: auto; }
  .methodologyState .p3Wrapper.colp3 .p3 {
    width: 28%;
    float: left; }
  .methodologyState .p3Wrapper.colp3 .p3:not(:last-of-type) {
    margin-right: 5.7%; }

.h0 {
  font: normal normal 12vw/1.4em "Playfair Display"; }
