@import "includes/_settings";

.h0 {
	font-family: $mainFont;
	font-weight: normal;
	font-size: 11.2rem;
	line-height: 1.4em;
}

h1 {
	font-family: $mainFont;
	font-weight: 400;
	font-size: 3.12rem;
	line-height: 1.4em;
	letter-spacing: 0.24px;
}

h2 {
	font-family: $mainFont;
	font-weight: 400;
	font-size: 2.87rem;
	line-height: 1.4em;
	letter-spacing: 0.24px;
}

h3 {
	font-family: $mainFont;
	font-weight: 400;
	font-size: 1.35rem;
	line-height: 1.3em;
	letter-spacing: 0.24px;
}

h4 {
	font-family: $mainFont;
	font-weight: 300;
	font-size: 1.15rem;
	line-height: 1.6em;
}

h5 {
	font-family: $mainFont;
	font-weight: 400;
	font-size: 0.93rem;
	line-height: 1.6em;
	letter-spacing: 0.02rem;
}

.p1 {
	font-family: $secondFont;
	font-weight: 300;
	font-size: 0.93rem;
	line-height: 2.2em;
}

.p2 {
	font-family: $secondFont;
	font-weight: 400;
	font-size: 0.83rem;
	line-height: 2.2em;
}

.p3 {
	font-family: $secondFont;
	font-weight: 400;
	font-size: 0.67rem;
	line-height: 2.4em;
	letter-spacing: 0.5px;
}

.p4 {
	font-family: $mainFont;
	font-weight: 400;
	font-size: 0.62rem;
	line-height: 2.2em;
	letter-spacing: 0.05rem;
}

.img1 {
	font-family: $thirdFont;
	font-weight: 400;
	font-size: 0.73rem;
	line-height: 1em;
	color: $lightGray;
}

.a2 {
	font-family: $secondFont;
	font-weight: 400;
	font-size: 0.47rem;
	line-height: 1em;
	color: $asideColor;
	letter-spacing: 0.22rem;
	text-transform: uppercase;
}

.a3 {
	font-family: $thirdFont;
	font-weight: 400;
	font-size: 0.62rem;
	line-height: 1.2em;
	color: $lightGray;
	position: absolute;
}

a.cuteLink {
	font-family: $secondFont;
	font-weight: 400;
	font-size: 0.55rem;
	line-height: 1em;
	color: $mainColor;
	letter-spacing: 0.28rem;
	transition: color 0.5s;
}

.menuWrapper {
	left: -100%;

	&.isOpen {
		left: 0;
	}
}

.menuWrapper {
	nav {
		li {
			a {
				font-family: $mainFont;
				font-weight: 400;
				font-size: 2rem;
				line-height: 1.8em;
			}
		}
	}
}

.slide svg {
	height: 100% !important;
}