@import "includes/_settings";

@media (max-width: 640px) {
	html {
		font-size: 1.06vw;
	}

	@-ms-viewport{
		width:device-width;
	}

	.notMobile {
		display: none;
	}

	.wrapperMainInfo {
		&.fullwidth {
			max-height: 100%;
			.headImage {
				h2 {
					padding-left: 0%;
					padding-top: 0;
					width: 75%;
					margin: 0 auto;
					text-align: center
				}

				h6 {
					padding-left: 16.5%;
					color: $rLight;
					bottom: 7.54rem;
					font-size: 3.2rem;

				}

				.captionImg {
					display: none;
				}
			}
		}

		.indexNavWrapper {
			width: 20%;
			float: left;
			position: absolute; 
			height: 100%;
		}

		.headImage {
			float: right;
			width: 79.166%;
			height: 100%;
			background: #fff no-repeat center center;
			background-size: cover;
			opacity: 1;
			transition: opacity 1.5s;
			overflow: hidden;
		}
	}

	.awardsState  {
		.firstWrapper {
			top: 6rem;
			right: 30px;

			.cute-first {
				font-size: 55px;
			}

			.firstText {
				font-size: 2.23rem;
				margin-top: 2rem;
			}
		}
	}


	.menuWrapper {

		.videoWrapp  {
			transition: visibility 0 0.3s;
		}

		&:not(.isOpen) .videoWrapp {
			visibility: hidden !important;
		}

		nav {
			z-index: 99999;
			position: fixed;
			height: auto;

			&:after, &:before {
				height: 100%;
			}

			li {
				width: 42.5rem;
				height: 10.6rem;

				&:first-of-type:before {
					bottom: 10.6rem;
				}

				&:last-of-type:before {
					bottom: -10.6rem;
				}
			}
		}

		&:after {
			z-index: 102;
			transform: translateZ(1px);
			position: fixed;
		}
	}

	.wrapperMainInfo {
		height: 94.4rem;

		.headImage  {
			width: 83.6%;
		}

		.captionImg {
			bottom: -7.4rem;
			font-size: 3.1rem;

			&:before {
				left: -3.5rem;
				width: 2.5rem;
				top: 1.2rem;
			}
		}
	}

	.a2 {
		font-size: 2.2rem;
		margin: 0 0 1.2em 0;
		letter-spacing: 2.5px;
		display: inline-block
	}

	.facebook {
		font-size: 11rem;
		top: 16rem;
		margin-left: -1.05rem;
	}

	.container {
		width: 77.5rem;
		margin-top: 19.7rem;
	}

	a.cuteLink, nav li:after {
		font-size: 2.6rem;
	}

	a.cuteLink {
		line-height: 1.5em;
	}

	nav li:after {
		position: relative;
		left: 1rem;
	}

	.wrapper nav {
		float: left;
		margin-top: 4rem !important;

		li {
			margin-right: 3rem;
			display: block;
			float: left;
		}
	}

	.contentLinkText {
		padding-top: 6.4rem !important;

		h3 {
			float: right;
			width: 84%;
		}

		&.mobileNoMargin {
			h3 {
				float: none;
				width: 100%;
			}

			nav {
				margin-left: 0 !important;
			}
		}

	}

	.contentLink  {
		&:first-of-type {
			nav {
				margin-left: 20%;
			}
		}

	}

	.contentLinksWrapper {
		width: 100%;
		padding-top: 0;

		&.casestudy {
			width: 79rem;

			.contentLink:not(:last-of-type) {
				margin-top: 0;
			}
		}
	}

	.facebook {
		float: none;
		position: absolute;
	}

	.h0 {
		font-size: 20rem;
		line-height: 0.6em;
		padding-bottom: 0.23em;
	}

	.p1, .p2, .p3 {
		font-size: 3.3rem;
	}

	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 5.28rem;
	}

	h3 {
		font-size: 4.4rem;
		line-height: 1.5em;
	}

	h4 {
		font-size: 4rem;
	}

	h5 {
		font-size: 4rem;
	}

	.wrapperMainInfo .indexNavWrapper {
		display: none;
	}

	.plus {
		visibility: visible !important;

		&:before {
			width: 100%;
		}

		&:after {
			height: 100%;
		}
	}
	
	.contentLinksWrapper {
		.contentLink {
			display: block;
			float: left;
			margin-bottom: 2.5rem;
			margin-top: 6rem;

			&.col2, &.col3, &.col4 {
				width: 100%;
			}

			&.col1 {
				width: 100%;
			}

		}
	}

	.aboutMeWrapper {
		width: 79rem;
		padding-right: 2rem;
		padding-top: 12.2rem;

		&.indexAbout {
			margin-right: 2rem;
			width: 77rem;
		}

		&.mobileMargin {
			margin-top: -15rem;
		}

		.aboutMeLeftCol {
			width: 100%;
			margin-bottom: 5.2rem;

			h2 {
				br {
					display: none;
				}
			}
		}

		.aboutMeRightCol  {
			width: 100%;

			.aboutMeRightBlock {
				width: 100%;
				margin-bottom: 2.5rem;
			}
		}
	}

	.a3.tip {
		display: none;
	}

	.menuWrapper nav {
		top: auto;
		bottom: 20%;

		li a {
			font-size: 6.5rem;
		}
	}

	.partnersWrapper {
		margin-right: 2.5rem;
		width: 81.5%;

		h2 {
			margin-bottom: 5rem;
		}
	}

	.partnersWrapper {
		.partnerTable {
			flex-wrap: wrap;
			height: auto;
			padding-top: 5rem;
			align-items: center;
			width: 100%;

			.partner {
				width: 50%;
				text-align: center !important;
				vertical-align: middle;
				padding: 3rem 0;

				img {
					max-height: 18rem;
					max-width: 80%;
				}
			}
		}
	}

	.lastProjectWrapper {
		width: 73rem;
		margin-bottom: 12.6rem;

		.leftColLastProject {
			width: 100%;
			float: none;

			.a3.tip {
				top: 5.55rem;
			}
		}

		.rightColLastProject {
			margin-top: 4rem;
			width: 100%;
			float: left;
		}
	}


	.fullImg {
		margin-top: 8.5rem;
		height: 57rem;

		&.caseStudyFullImgM {
			margin-top: 12rem;
		}
	}

	.betweenLine {
		margin-top: 4.7rem;
		margin-bottom: 3.72rem;
	}

	.container.bordered {
		width: 79.5rem;

		&:after {
			left: -5%;
			width: 105%;
		}
	}

	.aboutMeWrapper.aboutSmallLeftCol {
		padding-top: 8.2rem;

		.aboutMeLeftCol {
			width: 100%;
			margin-bottom: 3.2rem;
		}

		.aboutMeRightCol  {
			width: 100%;

			.contactIco {
				position: static;
				float: none;
				width: 100%;

				#contactIco {
					width: 22%;
					margin-bottom: 4rem;
				}

				#contactIco2 {
					width: 30%;
					margin-bottom: 4rem;
				}
			}

			.aboutMeRightBlock {
				width: 100%;
				float: none;
				padding-left: 0;

				h4 {
					font-size: 4.8rem;

					br {
						display: none;
					}
				}

				&:nth-of-type(even) {
					padding-left: 0;
				}
			}
		}
	}

	.caseStudyWrapper {
		width: 75.6rem;
		float: right;
		margin-right: 3.64rem;
		padding-top: 14rem;
		position: relative;

		&.paddingMobileIcon {
			padding-top: 30rem;
			margin-top: 5rem;
		}

		&.project3 {
			width: 75.5rem;

			.titleWrapper {
				h3 {
					width: 100%;
					margin-top: 2rem;
				}
			}
		}

		.a2 {
			padding-bottom: 4.1754rem;
		}

		&.middleWidth {
			.titleWrapper {
				width: 100%;
			}

			.asideTextCaseStudy {
				.p1 {
					width: 100%;
				}
			}
		}

		.titleWrapper {

			.titleImgWrapper {
				position: absolute;
				top: 5rem;
				text-align: center;
				width: auto;
				height: 19.38rem;
				left: -8rem;
				right: 0;
				margin: auto;

				img {
					width: 19.38rem;
				}
			}

			h3 {
				width: 91.5%;
				float: left;
				display: block;
				position: relative;
				top: -0.5rem;
				line-height: 1.6em;
				margin-top: 5rem;
				font-weight: bold;

				i {
					font-style: normal;
				}

				br {
					display: none;
				}
			}
		}

		.asideTextCaseStudy {
			clear: both;
			padding-top: 6.6054rem;

			.p1 {
				width: 100%;
				float: none;
				padding-right: 5.42%;
			}

			.bigIco {
				width: 100%;
				float: right;
				text-align: left;

				img {
					width: 56rem;
					margin: 10rem 0;
				}
			}
		}
	}

	.smallLogos {
		display: none;
	}

	.owl-item:last-of-type {
		margin-right: 0 !important;
	}

	.imagesProjectWrapper {
		overflow: hidden;
		padding-top: 47rem;
		background: none;
		margin-top: -40rem;

		&.project3 {
			background-color: #F2F3F7;
			padding-top: 20.44rem;
			margin-top: -15rem;

			.tabletImg {
				display: block;
				margin: 0 auto;
				width: 89.74rem;
			}

			.project3Wrapper {
				width: 89.64rem;
				margin: 0 auto;
				position: static;
				left: 0;
				padding-top: 4.69rem;

			}

			.leftColoumn {
				float: none;
				width: 100%;
				text-align: center;

				img:not(:first-of-type) {
					margin-top: 2.5rem;
				}

				img:last-of-type {
					margin-top: 1.56rem;
				}

				img:nth-of-type(1) {
					width: 100%;
				}

				img:nth-of-type(2) {
					width: 95%;
				}

				img:nth-of-type(3) {
					width: 100%;
				}

				img:nth-of-type(4) {
					width: 95%;
				}
			}

			.rightColoumn {
				float: right;
				width: 100%;
				margin-top: 2.5rem;
				text-align: center;

				img:nth-of-type(1) {
					width: 100%;
				}

				img:nth-of-type(2) {
					width: 95%;
					margin-top: 2.5rem;
				}

				img:nth-of-type(3) {
					width: 44%;
					margin-left: 0;
					margin-top: 2.5rem;
					float: left;
					margin-right: 3%;
					margin-left: 4.5%;
				}

				img:nth-of-type(4) {
					width: 44%;
					margin-left: 0;
					margin-top: 2.5rem;
					float: left;
				}
			}
		}

		&.carOnFly {
			background: none !important;
		}

		.mobileSliderWrapper {
			float: none;
			margin: -3rem auto 0 auto;
			height: 125.62rem;
			width: 63.5rem;;
			padding-top: 6.2rem;
			background: none;

			&:after {
				width: 53.4rem;
				height: 114rem;
				background-size: 54rem;
				display: none;
			}

			.owl-item:first-of-type {
				.slide {
					position: relative;
					z-index:1;
				}
				&:before {
					content: "";
					width: 68.5rem;
					height: 132.62rem;
					background-image: url(/img/casestudy/1/mobile.png);
					background-repeat: no-repeat;
					position: absolute;
					left: -1rem;
					top: -18rem;
					background-size: 55rem;
				}
			}

			.slide {
				height: 93.75rem;
				width: 53.2rem;
				background-size: cover;
				background-repeat: no-repeat;
				float: left;
				margin-right: 0;
				background-position: center top;

				&:first-of-type {
					margin-left: 0;
				}

				svg {
					margin-top: -14.5rem;
				}

				&.onlyMob {
					display: block;;
				}

				&.small {
					height: 74.75rem;
				}
			}
		}

		.desktopImgWrapper {
			width: 100%;
			margin: 1.04rem auto 0 auto;
			overflow: hidden;

			.bigImg {
				width: 100%;
			}

			.smallImg {
				width: 100%;
			}

			img {
				float: none;
				display: block;
				margin-bottom: 5rem;

				&:nth-of-type(odd) {
					margin-right: 0
				}

				&:nth-of-type(4) {
					margin-top: 0;
				}
			}
		}

		.otherMobile {
			display: none;
		}
	}

	.casestudyTextWrapper {
		margin-top: 12.8rem;
		width: 75.5rem;
		margin-right: 3.5rem;

		.contentLinkText {
			h3 {
				width: 100%;
				float: none;
				font-weight: bold;
				padding-bottom:7rem;

				i {
					font-style: normal;
				}
			}
		}
	}

	.video.play {
		height: 48rem;

		i {
			font-size: 12rem;
		}
	}
	
	.backstageWrapper {
		width: 79rem;
		.backstage {
			width: 39.5rem;
			height: 39.5rem;

			&.backstageMore {
				font-size: 3.5rem;
				line-height: 39.5rem;
			}
		}
	}

	.imagesProject3WrapperAlt {
		height: 65.25rem;

		.smallImgWrapper {
			top: auto;
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 20rem;
			overflow: hidden;

			img {
				height: 20rem;
				width: auto;
				margin-right: 4rem;

				&:not(:last-of-type) {
					margin-bottom: 0;
				}
			}
		}
	}

	.sharePageWrapper {
		top: 6rem;
		right: 1rem;
	}


	footer {
		padding-top: 12.81rem;

		.footerWrapperContainer {
			width: 79.5rem;
		}

		.goTopWrapper {
			width: 7rem;
			height: 7rem;
			margin: 0 auto 10rem auto;
			display: block;
		}

		.footerNavWrapper {
			width: 79rem;
			margin-right: 0;
			margin-bottom: 18rem;

			h5:not(.noPadding) {
				padding-top: 3.7rem;
			}

			.a2 {
				font-size: 2.5rem;
			}
		}

		.asideFooter  {
			width: 88%;
			padding-top: 4rem;

			.footerSmall {
				font-size: 2.6rem;
				padding-bottom: 4rem;
				padding-right: 2rem;
			}

			.earthWrapper {
				.map {
					width: 9.6rem;
					vertical-align: middle;
					position: relative;
					left: 2rem;
					height: 6.5rem;
				}

				.p3 {
					vertical-align: middle;
					display: block;
					font-size: 2.1rem;
					color: black;
					margin-top: -0.8rem;
					margin-left: 0.7rem;
				}

			}
		}

		.footerWrapper {
			width: 63.5rem;
			margin-bottom: 0rem;

			h2 {
				width: 100%;

				&:after {
					top: 4.1rem;
					right: 11rem;
				}
			}
		}

		.noTablet {
			display: none;
		}

		.footerNav  {
			margin-top: 12rem;

			.a2 {
				margin-bottom: 0.5rem;
			}

			&.center {
				padding-left: 0;

				h5 {
					clear: both;
				}

				div {
					float: left;
					margin-right: 1rem;

					&:after {
						content: ","
					}
				}
			}

			&.col1 {
				width: 80%;
			}

			&.col2 {
				width: 80%;
			}

			&.col3 {
				width: 80%;
			}

			&.col4 {
				width: 80%;
			}

			&.col5 {
				width: 80%;
			}
		}
	}

	.projectsWrapper {
		.projectsInfoWrapper  {
			width: 64.4rem;

			h2 {
				width: 97%;

				&:after {
					top: 4.1rem;
					right: 4.74rem;
				}
			}
		}
	}

	.expProjectsWrapper {
		float: none;
	

		.expProject  {
			width: 100%;
			height: 65rem;
			margin: 0;

			.expProjectInfoWrapper  {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}

			.expProjectText {
				width: 60rem;
				position: absolute;
				bottom: 5rem;
				left: 15rem;

				h4 {
					font-size: 3.4rem;
				}
			}

			.expProjectImg  {
				width: 17.7rem;
				min-width: 65px;
				min-height: 74px;
				position: absolute;
				right: 10px;
				top: 10px;
			}

			.a3.tip {
				display: none;
			}
		}
	}

	.fullImg {
		margin-top: 0rem;
		height: 59.125rem;
	}

	.projectsWrapper .projects {
		width: 79.25rem;

		.left, .right {
			float: none;
			width: 100%;
		}

		.right {
			.projectsUl:last-of-type li:first-of-type  {
				border-bottom: 1px solid $middleGray;
			}
		}

		.projectsUl {
			overflow: hidden;
			height: 9rem;

			&.isOpen {
				height: auto;

				li:first-of-type {
					border-bottom: 1px solid $middleGray;
				}
			}

			&.isOpen li:first-of-type .a2:after {
				transform: rotateZ(45deg) translateY(-1rem);
			}

			.linkLi {
				.projectPlus {
					font-size: 6.7rem;
					width: 6.4rem;
					height: 6.4rem;
					left: -7rem;
					top: 0.14rem;
				}
			}

			li {
				height: 7.6rem;
				width: 100%;
				padding-left: 7.5rem;

				&:not(:first-of-type) {
					margin: 2rem 0;
				}

				&:first-of-type {
					padding-top: 0;
					padding-bottom: 0;
					height: 9rem;
					border-top: 1px solid $middleGray;
					width: 100%;
					padding-left: 0;
					cursor: pointer;

					&:hover .a2:after {
						border-bottom: 1px solid $goldColor;
						border-right: 1px solid $goldColor;
					}
					
					.a2 {
						line-height: 9rem;
						font-size: 3rem;
						position: relative;
						width: 100%;

						&:after {
							content: "";
							width: 2.3rem;
							height: 2.3rem;
							display: block;
							position: absolute;
							right: 2.1/1.44+rem;
							top: 0;
							bottom: 0;
							margin: auto;
							border-bottom: 1px solid $middleGray;
							border-right: 1px solid $middleGray;
							transform: rotateZ(-45deg);
							transform-origin: 50% 50%;
							transition: transform 0.5s;
						}
					}
				}

				&.isActive {
					height: auto;
				}
			}
		}
	}

	.bx-wrapper {
		position: relative;
		margin: 0 auto;
		padding: 0;
		*zoom: 1;
	}

	.bx-wrapper .bx-viewport {
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
			-ms-transform: translatez(0);
			-o-transform: translatez(0);
			transform: translatez(0);
	}

	.bx-viewport {
		padding-top: 9rem;
		height: 118rem !important;
	}

	.imagesProjectWrapperAlt {

		.imgWrapper {
			position: relative;
			float: right;

			.number {
				display: none;
			}

			&.mediumImg {
				width: 51.86%;
				height: 25.74rem;
				margin-bottom: 1.6rem;
				margin-left: 4.5rem;
			}

			&.smallImg {
				width: 32%;
				margin-right: 1.09rem;
				height: 25.74rem;
				margin-bottom: 1.6rem;
			}

			&.bigImg {
				width: 100%;
				margin-bottom: 1.09rem;
				float: left;
				height: 67.19rem;
			}

			&.rightImg {
				width: 46.26%;
				float: left;
				height: 61.56rem;
			}
		}

		.leftCol {
			width: 100%;
			float: left;
			margin-bottom: 4.5rem;
		}

		.rightCol {
			width: 88%;
			float: none;
			margin: 0 auto 5.5rem auto;
			overflow: hidden;
			position: relative;

			.goldLinksWrapper {
				width: 38.21%;
				font-size: 5.04rem;
				margin-top: 5rem;
				margin-left: 3.72rem;
				position: absolute;
				bottom: 0;
				left: 49%;

				.linkUnderline {
					display: inline;
				}

				li:last-of-type {
					margin-bottom: 0rem;
					position: relative;

					&:after {
						position: absolute;
						content: "+";
						left: -1.7rem;
						top: -8.7rem;
						font-size: 6.8rem;
						color: $mainColor;
						line-height: 1em;

					}
				}

				.goldLink {
					overflow: hidden;
				}

				.goldLinksText {
					color: $mainColor;
					position: relative;
				}
			}
		}

		.coloumnText {
			margin-top: 4.06rem;
			clear: both;
			width: 74.01rem;
			float: right;
			margin-right: 4.4rem;
			column-count: 1;
			column-gap: 0rem;
		}
	}

	.methState {
		width: 100rem;
		padding-left: 21rem;
		overflow: hidden;
		float: right;
		position: relative;

		.h0, h1 {
			transition: color 0.3s;
		}

		.squareImgMethodology {
			margin-bottom: 14rem;
			height: 80rem;
			width: 100rem;

			ul {
				left: 0;
				bottom: 0;
				width: 100%;
			}

			li {
				width: 33.3%;
				height: 20rem;
				margin-right: 0 !important;
			}
		}

		.a3, .smallText  {
			display: none;
		}

		.fullImg.methodologyFullImg, 
		.fullImg.methodologyFullImg2 {
			margin-top: 1.5rem;
			margin-left: -25rem;
			width: 100rem;
			margin-bottom: 10rem;
		}

		h4 {
			padding-top: 4rem;
			width: 90%;
		}

		.state4AfterImgText {
			float: none;
			width: 100%;
			padding-right: 4%;
			padding-bottom: 6rem;
		}

		&.isActive {
			.h0, h1 {
				color: $goldColor;
			}

			.methodologyState[class*=' state'] .h0 .openMethTab:after {
				height: 0;
				opacity: 0;
			}
		}

		.p3Wrapper  {
			width: 100% !important;
			.p3:not(:first-of-type) {
				display: none;
			}

			.p3 {
				width: 100% !important;
				padding-right: 4% !important;
				float: none !important;
				margin-right: 0 !important;
			}
		}

		&:last-of-type {
			margin-bottom: 14rem;

			&:after {
				position: absolute;
				content: "";
				left: 21rem;
				bottom: 0;
				width: 79rem;
				height: 0;
				border-top: 1px solid rgba($rLight, $lighterLow);
			}
		}

		&:before {
			position: absolute;
			content: "";
			left: 21rem;
			top: 0;
			width: 79rem;
			height: 0;
			border-top: 1px solid rgba($rLight, $lighterLow);
		}

		&:not(.isActive) h4, 
		&:not(.isActive) .p3Wrapper, 
		&:not(.isActive) .goldLinksWrapper, 
		&:not(.isActive) .methodologyFullImg, 
		&:not(.isActive) .methodologyFullImg2, 
		&:not(.isActive) .state4AfterImgText,
		&:not(.isActive) .squareImgMethodology,
		&:not(.isActive) .methodologyVideoWrapper,
		&:not(.isActive) .methodologyAboutVideoWrapper,
		&:not(.isActive) .methodologySmallImg,
		&:not(.isActive) .linkWrapp,
		&:not(.isActive) .fullImg  {
			display: none;
		}

		.methodologyState {
			display: block;
			margin-top: 6rem;
			padding-bottom: 6rem;
			width: 100%;
			float: none;

			&[class^='state'], &[class*=' state'] {
				width: 100%;
				margin-right: 0rem;

				.h0 {
					float: none;
					transform: none;
					position: relative;
					text-indent: -6.5rem;
					line-height: .6em;
					display: inline-block;
					width: auto;
					right: 0;

					.openMethTab {
						display: block;
						width: 11.2rem;
						height: 11.2rem;
						position: absolute;
						right: -10rem;
						top: 3.8rem;
						cursor: pointer;
						border-color: $rLight;

						&:hover {
							border-color: $goldColor;
						}

						&:before {
							width: 11.2rem;
							height: 0px;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							margin: auto;
							content: "";
							border-top-width: 1px;
							border-bottom-width: 0;
							border-left-width: 0;
							border-right-width: 0;
							border-style: solid;
							border-color: inherit;
						}

						&:after {
							width: 0;
							height: 100%;
							position: absolute;
							right: 0;
							left: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							border-top-width: 0px;
							border-bottom-width: 0;
							border-left-width: 1px;
							border-right-width: 0;
							border-style: solid;
							border-color: inherit;
							content: "";
							transition: height 0.5s, opacity 0.5s;
							opacity: 1;
						}
					}
				}

				.methodologyStateText:before {
					display: none;
				}

				.methodologyStateText {
					width: 100%;
					float: none;
					padding-top: 1.5rem !important;
				}

				.leftWrapper, .rightWrapper {
					float: none;
					width: 100%;
				}

				.leftColomn, .rightColomn  {
					float: none !important;
					width: 100% !important;
				}
			}

			&.state7, &.state2  {
				padding-top: 0;

				.rightWrapper {
					padding-top: 1.5rem;
				}
			}

			&.state5 {
				.p3Wrapper  {
					padding-top: 6rem;
					padding-bottom: 2rem;

					.a3 {
						display: block;
						position: static;
						font-size: 4rem;
						width: 100%;
						color: $goldColor;
						padding-top: 5rem;
						padding-bottom: 5rem;
					}
				}
			}


			&.state6 {
				.p3Wrapper  {
					padding-top: 6rem;
					padding-bottom: 2rem;
				}

				.methodologyVideoWrapper,
				.methodologyVideo,
				.methodologyContentLinksWrapper,
				.methodologyAboutVideoWrapper {
					width: 100%;
					float: none;
					clear: both;
				}

				.methodologyVideo {
					height: auto;

					.videoM {
						width: 56.25rem;
						position: static;
						display: block;
						height: 32.81rem;
						margin: 8rem 0 2rem 4rem;

						i {
							font-size: 10rem;
						}
					}
				}

				.contentLinkText h3 {
					width: 100%;
					float: none;
				}

				.contentLink:first-of-type nav {
					margin-left: 0;
				}
			}

			&.state7 {
				.methodologySmallImg {
					float: none;
					width: 80rem;
					height: 80rem;
					margin-left: -8.5rem;
					position: static;
				}

				.leftWrapper .h0 {
					top: 0;
					left: 0;
				}

				.rightColomn {
					clear: both;
				}

				.mobileBlock {
					display: block;
					padding-top: 5rem;
					padding-bottom: 11rem;

					br {
						display: none;
					}
				}

				.rightWrapper {
					padding-right: 0;
					.linkWrapp {
						font-size: 6rem;
						margin-top: 12rem;

						.linkUnderline {
							color: $goldColor;
							margin-left: 3rem;
						}
						
						&:before {
							font-size: 7rem;
							top: -10rem;
							left: 1rem;
							color: $goldColor;
						}
					}
				}

			}

			&.state2 {
				.rightWrapper {
					.goldLinksWrapper {
						width: 100%;
						float: none;
						font-size: 7rem;
						padding-top: 14rem;

						li {
							width: auto;
							display: inline-block;
						}

						li:not(:last-of-type) {
							margin-bottom: 5.23rem;
							position: relative;

							&:after {
								position: absolute;
								content: "+";
								left: auto;
								bottom: 0rem;
								right: -7rem;
								font-size: 7rem;
								color: $goldColor;
								line-height: 1em;
							}
						}

						.goldLink {
							overflow: visible;
						}

						.goldLinksText {
							color: #fff;
							display: block;
							margin-bottom: 10rem;
						}
					}
				}
			}
		}
	}

	.servicesWrapper {

		&.project3 {
			margin-bottom: 12rem;
			margin-top: 12rem;
		}

		h4 {
			margin-top: 2.78rem;
			font-size: 5.5rem;
			margin-bottom: 7.54rem;
		}

		.servicesUl {
			width: auto;
			overflow: hidden;
			width: 74rem;

			.li {
				width: 74rem;
				padding-right: 18rem;
				padding-left: 0rem;
				height: auto;
				margin-bottom: 0rem;

				.number {
					height: 17.70rem;
					width: 17.70rem;
					line-height: 17.7rem;
					font-size: 7.35rem;
					margin-left: 0rem;
				}

				h5 {
					padding-top: 5rem;
					font-size: 5.45rem;
				}

				.p4 {
					padding-top: 0.5rem;
					font-size: 3rem;
					width: 100%;
				}

			}
		}
	}

	.presentProjects {
		border-top: 1px solid $lightGray;
		.project {
			width: 50%;
			float: left;
			height: auto;

			.projectImg {
				display: none;
			}

			.projectInfo {
				height: 35rem;
				text-align: center;
				line-height: 42rem;

				.onlyMob {
					display: inline;
					cursor: pointer;
				}

				.textWrapper {
					display: none;
				}

				.cute-arrowRight, .cute-arrowLeft {
					font-size: 10rem;
					color: $lineColor;
				}
			}
		}
	}

	#fp-nav {
		display: none;
	}

	.fullpageWrapper {
		.videoSection {
			.fp-tableCell {
				.h0 {
					font-size: 17rem;
					width: 65%;
					line-height: 1.2em;
					.a3.tip {
						display: none;
					}
				}
			}
		}

		.infoSection {
			.methodologyState {
				padding-bottom: 1rem;

				.h0 {
					margin-top: 5rem;
				}

				.methodologyStateText {
					width: 100%;
					float: none;
					padding-top: 2.8rem;
					clear: left;

					h1 {
						font-size: 6rem;
						width: 100%;
					}

					.p3Wrapper {
						.p3 {
							display: none;
							width: 100%;
							font-size: 2.4rem;

							br {
								display: none;
							}
						}
					}
				}

				&.state6 {
					bottom: 0rem;
					position: static;
					.contentLinksWrapper  {
						.contentLink {
							&:first-of-type nav {
								margin-left: 0;
							}

							.contentLinkText {
							}

							&:first-of-type {
								padding-left: 0rem;
							}
						}
					}

					h3 {
						font-size: 3.6rem;
						width: 100%;
						float: none;
					}

					.methodologyVideoWrapper  {
						width: 100%;

						.methodologyContentLinksWrapper  {
							width: 100%;;
							float: none;
							clear: both;

						}

						.methodologyVideo {
							width: 100%;
							height: auto;
							.videoM {
								top: auto;
								position: static;
								display: block;
								width: 40rem;
								margin: 4rem auto 0 auto;
								height: 20rem;

								i {
									font-size: 7rem;
								}
							}
						}
					}

					.methodologyAboutVideoWrapper  {
						float: none;
						width: 100%;
					}

				}
			}
		}

		.imageSection {
			background-color: #021224;

			.imgYellow {
				background: transparent no-repeat center center;
				background-size: cover;
				width: 68.07%;
				height: 80%;
				margin: -3.5% auto 0 auto;
				position: relative;

				.a3.tip {
					left: 0;
					right: 0;
					margin: auto;
					text-align: center;
					bottom: -4rem;
					top: auto;
					color: #FFCA00;

					&:before {
						left: 0;
						right: 0; 
						top: -1rem;
						margin: auto;
						width: 1.3rem;
					}
				}
			}
		}
	}

	.video-frame {
		height: 56.25rem !important;

		.video {
			iframe {
				height: 56.25rem !important;
			}
		}
	}

	.awardsState {
		padding-bottom: 85rem;

		.awardWrapper {
			background-size: 200% 167%;
			background-position: center -11rem;
		}

		h4 {
			font-size: 5.2rem;
		}

		h6 {
			font-size: 1.5rem;
			width: 85%;
			display: none;
		}

		.contentLinksWrapper .contentLink:first-of-type {
			padding-left: 0;
		}

		.methodologyState.state6 {
			.methodologyVideoWrapper  {
				padding-left: 5%;
			}


			h3 {
				font-size: 1.4rem;
			}
		}

		.whiteBg  {
			padding-bottom: 2rem;
		}


		.methodologyState {

			.whiteBg {
				background-color: #fff;
				overflow: hidden;
			}

			&.state1 {
				width: 80%;
				margin: 0 auto;
				float: none;
			}

			.h0 {
				color: #fff;
				width: auto;
			}

			h4 {
				padding-top: 0;
			}

			.methodologyStateText {
				text-align: left;

				h1 {
					color: #fff;
				}

				.p3Wrapper {
					.p3 {
						color: #fff;
					}
				}
			}

			&.state6 {
				margin-top: 0;

				.contentLinksWrapper  {
					width: 100%;
					padding-right: 0;
					.contentLink {
						text-align: left;
						margin-top: 0;

						.contentLinkText {
							padding-top: 0!important
						}
					}
				}

				h3 {
					color: black;
					text-align: left;
					font-size: 1.16rem;
					line-height: 1.45em;
				}

				.contentLinkText {
					padding-top: 1rem;
					&:before {
						display: none;
					}
					ul {
						text-align: left;
						a {
							color: black;
						}
					}
				}

				.methodologyVideoWrapper  {
					width: 100%;
					padding-left: 10%;
					padding-right: 10%;
					padding-top: 0;
					float: none;

					.videoM  {
						left: auto;
						bottom: auto;
						top: 1.3rem;
						right: 1.3rem;

						i {
							font-size: 7rem;
						}
					}

					.methodologyContentLinksWrapper  {
						width: 100%;
						float: none;

						h3 {
							font-size: 3.3rem;
							float: none;
							width: 100%;
							text-align: center;
						}

					}

					.methodologyVideo {
						width: 100%;
						float: none;
						height: auto;

						.videoM {
							width: 56.25rem;
							position: static;
							display: block;
							height: 32.81rem;
							margin: 4rem auto;

							i {
								font-size: 10rem;
							}
						}
					}

					nav {
						float: none;
						margin: 0;
						width: 100%;
						text-align: center;

						li {
							float: none;
							text-align: center
						}
					}
				}

				.methodologyAboutVideoWrapper {
					display: none;
					.contentLinksWrapper {
						margin-top: 0rem;
					}
				}
			}
		}
	}
	
	.awardWrapper {
		background-position: center top;

		h6 {
			font-size: 2rem;
			display: none;
		}

		h4 {
			font-size: 5.5rem;
		}

		.textAwards {
			padding-bottom: 1.4rem;
		}

	}

	.owl-carousel, .owl-stage-outer, .owl-stage {
		width: 1px;
		min-width: 100%;
	}
}