@import "includes/_settings";

@media only screen and (min-width: 1025px) {
	html {
		font-size: 1vw;
	}

	h2 {
		font-size: 2.9rem;
	}

	.owl-stage {
		transform: none !important;
		cursor: default !important;
	}

	.smallImgWrapper .owl-stage {
		width: 11.98rem !important;

		.owl-item {
			margin-top: 2.13rem;
		}
	}
	.project3 {
		.servicesUl {
			.owl-stage {
				width: 100% !important;
			}

				.owl-item {
					&:nth-of-type(8n+4) {
						margin-right: 13.33rem;
					}

					&:nth-of-type(8n+5) {
						margin-left: 13.33rem;
					}
				}
		}
	}
}
