@import "includes/_settings";
@import "includes/_text";
@import "includes/_animations";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.relative {
	position: relative;
}

a, a:hover {
	text-decoration: none;
	color: $mainColor;
}

body, html, .wrapper, .slimScrollDiv {
	width: 100%;
	height: 100%;
}

.wrapper,
.slimScrollDiv {
	min-height: 100%;
}

html {
	font-size: 1vw;
}

@font-face {
	font-family: 'cute';
	src:
		url('/fonts/cute.ttf?mgettj') format('truetype'),
		url('/fonts/cute.woff?mgettj') format('woff'),
		url('/fonts/cute.svg?mgettj#cute') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cute-"], [class*=" cute-"] {
	font-family: 'cute' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cute-video:before {
	content: "\e900";
}
.cute-play:before {
	content: "\e901";
}
.cute-fb:before {
	content: "\e902";
}
.cute-fbHover:before {
	content: "\e903";
}
.cute-pr1:before {
	content: "\e904";
}
.cute-pr2:before {
	content: "\e905";
}
.cute-pr3:before {
	content: "\e906";
}
.cute-arrowLeft:before {
	content: "\e907";
}
.cute-arrowRight:before {
	content: "\e908";
}
.cute-shareFb:before {
	content: "\e909";
}
.cute-first:before {
	content: "\e90a";
}


body {
	position: relative;
	opacity: 0;
	transition: opacity 1s;
	overflow: hidden;
	background-color: #fff;
	-webkit-tap-highlight-color: transparent;


	&.blur {
		background-color: transparent !important;
		animation: filterBody 0.5s linear 1;
		transition: none;
		animation-fill-mode: forwards;  
	}
}

.rythm {
	display: block;
	width: 100%;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	top: 22px;
	z-index: 999999;

	li {
		height: 1.35rem;
		border-bottom: 1px solid black;
		background-color: rgba(231,120,11,0.3);
	}
}

.indicate {
	bottom: 0;
	position: absolute;
}

.onlyMob {
	display: none;
}

body.reverseColor {
	background-color: $reverseBg;

	.h0, .p1, .p2, .p3, h1, h2, h3, h4, h5, h6, .linkUnderline, a.cuteLink {
		color: $rLight;
	}

	.linkUnderline.goldLink {
		color: $goldColor;

		&:hover {
			color: $rLight !important;
		}
	}

	h4 {
		font-family: $secondFont;
	}

	.aboutMeRightBlock h4 {
		font-family: $mainFont;
	}
	
	.wrapper {
		.plus.isActive {
			&:hover {
				border-color: $rLight !important;
			}
		}
	}

	.captionImg {
		color:  rgba($rLight, $lighterMiddle);

		&:before {
			background-color: rgba($rLight, $lighterLow);
		}
	}

	.container.bordered {
		&:after {
			background-color: rgba($rLight, $lighterLow);
		}
	}

	.aboutMeWrapper .a3 {
		color: rgba($rLight, $lighterHighly);

		&:before {
			background-color: rgba($rLight, $lighterMiddle);;
		}
	}

	footer {
		.a2 {
			color: rgba($rLight, $lighterHighly);
		}

		.betweenLine {
			border-color: transparent;
		}

		a {
			color: #fff;
		}

		.goTopWrapper {
			&:hover .goTop {
				border-color: #fff;
			}

			.goTop {
				border-color: $goldColor;
			}
		}

		.asideFooter {
			border-top-color: rgba($rLight, $lighterMiddle);

			.earthWrapper {
				.p3 {
					color: #fff;
				}

				.map {
					fill: $goldColor;
				}
			}
		}

		.footerSmall {
			color: rgba($rLight, 0.7);
		}

		.footerWrapper h2:after {
			border-top-color: transparent;
		}

		.footerWrapper .tip {
			color: rgba($rLight, $lighterHighly);

			&:before {
				background-color: transparent;
			}
		}
	}

	.contentLinksWrapper .contentLink .contentLinkText:before {
		background-color: rgba($rLight, $lighterLow);
	}
}

.plus {
	position: fixed;
	top: 2.8rem;
	left: 2.31rem;
	width: 10.5rem;
	height: 10.5rem;
	transform: translateZ(1px) rotateX(0deg);
	transition: transform 0.5s, visibility 0s 1s;
	z-index: 3;
	cursor: pointer;
	visibility: hidden;
	border-color: #D2D800;

	&:after {
		content: '';
		width: 0px;
		height: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border-top-width: 0;
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 1px;
		border-style: solid;
		border-color: inherit;
		transition: height 1s, border-color 1s;
	}

	&:before {
		content: '';
		width: 0;
		height: 0px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		border-top-width: 1px;
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		border-style: solid;
		border-color: inherit;
		transition: width 1s, border-color 1s;
	}
}

.menuWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	left: -1000%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	background-color: rgba(255,255,255,0.82);
	transition: opacity 0.6s, visibility 0s 0.6s;

	&.isOpen {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.6s, visibility 0s 0s;
		z-index: 100;
		left: 0;
	}

/*	&:after {
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;
		background-color: rgba(255,255,255,0.65);
	}*/

	.videoWrapp {
		width: 100%;
		height: 100%;
	}

	nav {
		position: absolute;
		left: 19rem;
		top: 0;
		margin: auto;
		bottom: 0;
		z-index: 103;
		transform: translateZ(0px);
		height: 21.6rem;

		&:before {
			width: 100rem;
			content: "";
			left: 100%;
			position: absolute;
			height: 100%;
			background-color: rgba(255,255,255,0.82);
			top: 0;
		}

		&:after {
			width: 100rem;
			top: 0;
			content: "";
			right: 100%;
			position: absolute;
			height: 100%;
			background-color: rgba(255,255,255,0.82);
		}

		li {
			display: block;
			width: 14.4rem;
			height: 3.6rem;
			position: relative;

			&:first-of-type {
				&:before {
					width: 300rem;
					left: -100rem;
					bottom: 100%;
					position: absolute;
					content: "";
					background-color: rgba(255,255,255,0.82);
					display: block;
					height: 100rem;
				}
			}

			&:last-of-type {
				&:before {
					width: 300rem;
					left: -100rem;
					top:100%;
					position: absolute;
					content: "";
					background-color: rgba(255,255,255,0.82);
					display: block;
					height: 100rem;
				}
			}

			img {
				width: 100%;
				height: 100%;
				display: block;

			}

			&:after {
				display: none;
			}

			a {
				font: normal 2rem/1.8em $mainFont;
				color: #936C3E;
				transition: color 0.5s;

				&:hover {
					color: #021224;
				}

				b,i {
					display: none;
				}
			}
		}
	}
}

.wrapperMainInfo {
	height: 50.625rem;
	width: 100%;
	position: relative;
	max-height: 94%;

	&.fullwidth {
		display: table;
		min-height: 100%;
		height: 100%;
		max-width: 100%;
		overflow: hidden;

		.share {
			position: absolute;
			right: 20rem;
			top: 20rem;
			color: #fff;
		}

		.headImage {
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			float: none;
			height: 100%;


			h2 {
				padding-left: 20%;
				color: $rLight;
				padding-top: 3%;
			}

			h6 {
				padding-left: 20%;
				color: $rLight;
				position: absolute;
				bottom: 3.54rem;
			}

			.captionImg {
				right: auto;
				left: 20%;
				margin-left: 1.16rem;
			}
		}
	}

	.indexNavWrapper {
		width: 20%;
		float: left;
		position: absolute; 
		height: 100%;
	}

	.headImage {
		float: right;
		width: 79.166%;
		height: 100%;
		background: #fff no-repeat center center;
		background-size: cover;
		opacity: 1;
		transition: opacity 1.5s;
		overflow: hidden;
	}
}

.indexNav {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg) translateY(100%);
	transform-origin: 0 100%;
	width: 100rem;
	height: 20rem;
	padding-top: 9.5rem;

	nav {
		padding-top: 1.3rem;
		position: absolute;
	}
}

nav {
	li {
	display: inline;

		&:after {
			font-family: $secondFont;
			font-weight: 400;
			font-size: 0.55rem;
			line-height: 1em;
			color: $mainColor;
			letter-spacing: 0.21rem;
		}
	}
}

.captionImg {
	bottom: -2.44rem;
	right: 3.64rem;
	position: absolute;

	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 1px;
		width: 0.9375rem;
		left: -1.16rem;
		top: 0.32rem;
		background-color: $lightGray;
	}
}

.container {
	float: right;
	width: 80.5rem;
	margin-top: 7.873rem;
	position: relative;

	&.bordered:after {
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 1px;
		background-color: $middleGray;
		position: absolute;
		transition: width 1.5s;
	}

	&.bordered.isActive:after {
		width: 100%;
	}
}

.slimScrollBar,
.slimScrollRail {
	transition: width 0.7s 0.7s;
	opacity: 1 !important;
	display: block !important;

	&.isActive, &:hover {
		width: 10px !important;
		transition: width 0.7s;
	}
}

.slimScrollBar.transition {
	transition: top 0.7s;
}

.scrollHover {
	width: 2.5rem;
	height: 100%;
	position: absolute;
	right: 0;
	display: block;
	top: 0;
	z-index: 90;
}

.facebook {
	float: left;
	margin-top: 6.25rem;
	margin-left: 3.95rem;
	font-size: 3.23rem;
	color: #31313F;
}

.aboutContainer {
	.fullImg {
		margin-top: 6rem;
	}
}

.contentLinksWrapper {
	width: 71.84rem;
	padding-right: 3.64rem;
	float: right;
	display: table;
	padding-top: 3rem;

	&.casestudy {
		width: 79.14rem;
		padding-top: 7rem;
		margin-bottom: -1rem;

		.p1 {
			position: relative;
			top: 1.5rem;
		}
	}
	
	.contentLink {
		display: table-cell;
		position: relative;

		&:not(:last-of-type) {
			padding-right: 4.5%;
		}

		&.col1 {
			width: 25%;
		}

		&.col2 {
			width: 50%;
		}

		&.col3 {
			width: 75%;
		}

		&.col4 {
			width: 100%;
		}

		.contentLinkText {
			padding-top: 1.4rem;
			position: relative;

			&.isActive:before {
				width: 100%;
			}

			&:before {
				position: absolute;
				content: "";
				top: 0.64rem;
				width: 100%;
				height: 1px;
				background-color: $middleGray;
				transition: width 1.5s;
			}

			nav {
				margin-top: 0.35rem;
			}
		}
	}
}

.aboutMeWrapper {
	width: 79.14rem;
	float: right;
	padding-top: 10.2rem;
	padding-right: 3.64rem;

	&.smallPadding {
		padding-top: 5.46rem;
		
		.p1 {
			padding-top: 2.6rem;
		}
	}

	&.topBorder {
		position: relative;
		margin-top: 3.4rem;

		&:before {
			content: "";
			width: 100%;
			height: 0;
			border-top: 1px solid #DBDBEA;
			position: absolute;
			top: 0;
			left: 0;
		}

		.abs {
			position: absolute;
			padding-bottom: 0;
			top: -3rem;
		}
	}

	&.caseStudyMargin {
		margin-top: 4.5rem;
	}

	.p1 {
		padding-top: 3.2rem;
	}

	&.aboutSmallLeftCol .aboutMeLeftCol {
		width: 59%;

		h2 a.linkUnderline{
			&:hover:after {
				width: 0%;
			}

			&:after {
				bottom: 0.2em;
				color:$lineColor;
				transition: width 0.5s;
			}
		}

		.p1 a {
			text-decoration: underline;
			color: $lineColor;
			display: block;

			&:hover {
				text-decoration: none;
			}

			span {
				color: $mainColor;
			}
		}
	}

	.aboutMeLeftCol {
		width: 69.2%;
		float: left;
		position: relative;
	}

	.a2 {
		padding-bottom: 2.6rem;
	}

	&.aboutSmallLeftCol .aboutMeRightCol {
		width: 36%;

		.aboutMeRightBlock {
			padding-left: 35%;
			position: relative;
		}

		.p3 {
			padding-top: 0.2rem;
		}
	}

	.contactIco {
		position: absolute;
		left: 0;
		top: 10%;
		text-align: center;
		width: 35%;

		#contactIco {
			width: 51%;
		}

		#contactIco2 {
			width: 70%;
		}
	}

	.aboutMeRightCol {
		width: 26.54%;
		float: right;
		padding-top: 1.33rem;

		.p3 {
			padding-top: 1.16rem;
			line-height: 2.5em;
		}

		&.isActive svg {
			visibility: visible;
		}

		svg {
			visibility: hidden;
		}

		&.grayBorders .aboutMeRightBlock:not(:last-of-type) {
			border-bottom: 1px solid $lineColor;
			padding-bottom: 2rem;
		}

		&.grayBorders .aboutMeRightBlock:not(:first-of-type) {
			margin-top: 3rem;
		}

		.aboutMeRightBlock:not(:last-of-type) {
			padding-bottom: 2.25rem;
		}
	}
}

.a3.tip {
	position: absolute;
	left: -10.5rem;
	width: 8.2rem;
	top: 1.65rem;
	text-align: right;

	&:before {
		content: "";
		background-color: $lightGray;
		width: 2.08rem;
		height: 1px;
		right: 0;
		position: absolute;
		top: -0.8em;
	}
}

.partnersWrapper {
	width: 1000px;
	width: 67.5rem;
	margin-right: 11.65rem;
	float: right;
	padding-top: 7.4rem;
	padding-bottom: 9.3rem;
	position: relative;
	z-index: 1;

	h2 {
		padding-top: 5.34rem;
	}

	.p2 {
		padding-top: 4.27rem;
	}

	.partnerTable {
		height: 100px;
		height: 5rem;
		padding-top: 6.77rem;
		display: flex;
		width: 106%;
		justify-content: space-between;
		align-items: center;
	}

	.partner {
		text-align: center;

		&:first-of-type {
			text-align: left;
		}

		&:last-of-type {
			text-align: right;
		}

		img {
			max-height: 5rem;
		}
	}
}

.social a {
	font-style: italic;
}

.footerNavWrapper .linkUnderline:after  {
	bottom: -1.5px;
}

.lastProjectWrapper {
	width: 72.92rem;
	margin-right: 6.2rem;
	float: right;
	margin-bottom: 0.6rem;

	.a2 {
		padding-bottom: 2.29rem;
	}

	&.paddingTop {
		padding-top: 6.41vw;
	}

	.leftColLastProject {
		width: 47.7%;
		float: left;
		position: relative;

		.tip {
			top: 3.65rem;
		}

		nav {
			padding-top: 1.25rem;
		}
	}

	.rightColLastProject {
		float: right;
		width: 21.35rem;
		text-align: left;

		.p3 {
			padding-top: 1.72rem;
		}
	}
}

.fullImg {
	width: 100%;
	height: 38.125rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	clear: both;
	overflow: hidden;
	margin-top: 6.5rem;
	display: inline-block;
	float: right;

	&.isActive {
		opacity: 1;
	}
}

.video-target {
	display: block;
	clear: both;
}

footer {
	clear: both;
	padding-top: 7.81rem;

	a {
		transition: color 0.5s;
	}

	.goTopWrapper {
		width: 4rem;
		height: 4rem;
		margin: 0 auto 5.5rem auto;
		clear: both;
		display: none;
		cursor: pointer;

		&:hover .goTop {
			border-color: black !important;
		}

		.goTop {
			border-color: #D9DD00;
			border-left-width: 1px;
			border-top-width: 1px;
			border-right-width: 0px;
			border-bottom-width: 0px;
			border-style: solid;
			width: 100%;
			height: 100%;
			transform: rotate(45deg);
			transform-origin: 50% 50%;
		}
	}

	&.footerBorder {
		position: relative;

		&:before {
			content: "";
			width: 100%;
			height: 0px;
			border-top: 1px solid $middleGray;
			position: absolute;
			top: 4rem;
			left: 0;
		}
	}

	.footerWrapperContainer {
		width: 79.5rem;
		float: right;
	}

	.footerWrapper {
		width: 58.35rem;
		margin-bottom: 9.6rem;
		position: relative;

		.tip {
			top: auto;
			bottom: 1.26rem;
			left: -21rem;
		}

		h2 {
			width: 62%;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				right: 2.74rem;
				top: 2.1rem;
				width: 6.77rem;
				height: 0;
				display: block;
				border-top: 1px solid $mainColor;
			}
		}
	}

	.footerNavWrapper {
		width: 58.35rem;
		margin: 0 auto;
		position: relative;
		margin-bottom: 16.1rem;
		overflow: hidden;
	}

	.footerNav {
		float: left;
		padding-right: 3.5%;

		h5:not(.noPadding) {
			padding-top: 1.7rem;
		}

		.seconda2 {
			padding-top: 3.125rem;
		}

		&.col1 {
			width: 7.14%;
		}

		&.col2 {
			width: 7.14%*2;
		}

		&.col3 {
			width: 7.14%*3;
		}

		&.col4 {
			width: 7.14%*4;
		}

		&.col5 {
			width: 7.14%*5;
		}

		&.col6 {
			width: 7.14%*6;
		}

		&.col7 {
			width: 7.14%*7;
		}

		&.col8 {
			width: 7.14%*8;
		}

		&.center{
			padding-left: 3%;

			a {
				font-style: italic;
			}
		}

	}

	.asideFooter {
		width: 90.625rem;
		margin: 2rem auto;
		border-top: 1px solid $lightGray;
		overflow: hidden;
		padding-top: 2rem;

		.footerSmall {
			font-size: 0.7rem;
			float: right;
			padding-bottom: 1.5rem;
		}

		.earthWrapper {
			float: left;

			.map {
				width: 2rem;
				vertical-align: middle;
				height: 1.4rem;
			}

			.p3 {
				vertical-align: middle;
				color: black;
				margin-top: -0.5rem;
				margin-left: 0.7rem;
			}
		}
	}
}

.betweenLine {
	width: 50%;
	height: 0;
	border-top: 1px solid $lightGray;
	margin-top: 1.72rem;
	margin-bottom: 1.72rem;
}

.fullImg.methodologyFullImg {
	margin-top: -12rem;
}

.fullImg.methodologyFullImg2 {
	margin-top: -26rem;
	position: relative;

	.a3.tip {
		left: 9.6rem;
		bottom: 4.17rem;
		top: auto;
		right: auto;
		color: rgba($rLight, $lighterHighly);

		&:before {
			background-color: rgba($rLight, $lighterLow);
		}
	}
}

.fullImg.smallPadding {
	margin-top: 0rem;
	margin-bottom: 1rem;
}

.methodologySmallImg {
	width: 36.46rem;
	height: 36.46rem;
	float: left;
	background: transparent no-repeat center center;
	background-size: cover;
	margin-top: 6.25rem;
	position: absolute;
	left: 0;
	top: -1.8rem;
}

.squareImgMethodology {
	background: transparent no-repeat center center;
	background-size: cover;
	width: 89.9rem;
	float: right;
	height: 59.9rem;
	margin-top: -5.5rem;
	position: relative;

	ul {
		position: absolute;
		left: 3.91rem;
		bottom: 3.91rem;
		
		li {
			float: left;
			width: 10.73rem;
			height: 7.188rem;
			background: transparent no-repeat center center;
			background-size: cover;

			&:not(:last-of-type) {
				margin-right: 0.512rem;
			}
		}
	}
}

.state4AfterImgText {
	width: 47rem;
	float: right;
	margin-right: 4.7rem;
	margin-top: 1rem;
}

.methWrapp {
	float: none;
	clear: both;
}

.methodologyState {
	display: block;
	margin-top: 30px;
	padding-bottom: 50px;

	.openMethTab {
		display: none;
	}

	&.state1 {
		width: 65.1rem;
		float: right;
		margin-right: 25rem;

		.h0 {
			width: 45.5%;
			float: left;
		}

		.methodologyStateText {
			width: 54%;
			float: right;
		}
	}

	&.state2 {
		width: 58.2rem;
		float: right;
		margin-right: 18.96rem;
		position: relative;
		padding-top: 4rem;

		.leftWrapper {
			width: 34.62%;
			float: left;
			position: relative;

			.h0 {
				width: auto;
				transform: rotateZ(-90deg) translateX(-100%);
				transform-origin: 0 0;
				float: none;
				line-height: 1em;
				display: inline-block;
				position: absolute;
				right: -24rem;
				top: 0;
			}
		}

		.rightWrapper {
			width: 65%;
			float: right;


			.methodologyStateText {
				float: right;
				width: 30.7%;
				padding-top: 0;
				margin-right: 13%;
				position: relative;

				&:before {
					position: absolute;
					content: "";
					top: -1.82rem;
					left: 0;
					width: 173%;
					height: 1px;
					background-color: rgba($rLight, $lighterLow);
				}
			}

			.p3Wrapper {
				padding-top: 0;
			}

			.goldLinksWrapper {
				width: 19.3%;
				float: right;
				font-size: 1.04rem;

				li:not(:last-of-type) {
					margin-bottom: 3.23rem;
					position: relative;
					margin-right: 9rem;

					&:after {
						position: absolute;
						content: "+";
						left: -0.4rem;
						bottom: -2.7rem;
						font-size: 1.4rem;
						color: $goldColor;
						line-height: 1em;

					}
				}

				.goldLink {
					overflow: hidden;
				}

				.goldLinksText {
					color: #fff;
				}
			}
		}
	}

	&.state3 {
		width: 93.7rem;
		float: right;
		margin-right: 3.125rem;

		.h0 {
			width: 36.45%;
		}

		.methodologyStateText {
			width: 63%;
		}

		.p3Wrapper {
			position: relative;

			.goldLink {
				overflow: hidden;
			}

			.a3 {
				position: absolute;
				width: 12.76rem;
				text-align: right;
				top: 4.1rem;
				left: -18rem;
				color: rgba($rLight, $lighterHighly);
			}
		}
	}

	&.state4 {
		width: 84.4rem;
		float: right;
		margin-right: 6.25rem;
		position: relative;
		z-index: 1;

		.leftWrapper {
			width: 34.62%;
			float: left;

			.methodologyStateText {
				width: 92%;
				padding-top: 8.14rem;

				.smallRow {
					width: 35.7%;
				}

				.middleRow {
					width: 52%;

					h4 {
						padding-top: 0;
						padding-bottom: 1.3rem;
					}
				}
			}
		}

		.rightWrapper {
			width: 65%;
			float: right;

			.methodologyStateText {
				padding-top: 0;
				margin-top: -1.5rem;
			}

			.p3Wrapper {
				width: 24.5%;
				float: right;
				padding-top: 0;
				margin-top: -3rem;
			}
		}
	}

	&.state5 {
		width: 82.3rem;
		float: right;
		margin-right: 5.2rem;
		position: relative;
		z-index: 1;

		.h0 {
			width: 36.8%;
			float: left;
		}

		h4 {
			padding-top: 0.7rem;
		}

		.methodologyStateText {
			width: 63%;
			float: right;
			padding-top: 3.4rem;

			.p3Wrapper  {
				padding-top: 1.8rem;
				width: 62.8%;
				position: relative;

				.a3 {
					width: 11.4rem;
					position: absolute;
					right: -16.93rem;
					top: 0;
					color: rgba($rLight, $lighterHighly);
					padding-top: 1.83rem;
					line-height: 1.8em;
				}
			}
		}
	}

	&.state6 {
		width: 83.85rem;
		float: right;
		margin-right: 8.85rem;
		margin-top: -2.4rem;

		.h0 {
			width: 26.77%;
		}

		.methodologyStateText {
			width: 69.6%;
			padding-top: 5.8rem;
		}

		.leftWrapper {
			float: left;
			width: 31.2%;
		}

		.p3Wrapper {
			float: right;
			width: 61.1%;
			padding-top: 0;
		}

		.methodologyAboutVideoWrapper {
			float: right;
			padding-top: 1.5rem;
			width: 14.48rem;

			.contentLinksWrapper {
				float: none;
				width: auto;
				padding-top: 0;
				margin-top: -0.5rem;
			}
		}

		.methodologyVideoWrapper {
			clear: left;
			width: 36.5rem;
			padding-top: 1rem;
			float: left;

			.videoM {
				width: 9.375rem;
				height: 5.21rem;
				background: transparent no-repeat center center;
				background-size: cover;
				position: absolute;
				bottom: 0;
				left:0;

				&:hover i {
					color: rgba(201,29,31,.9);
				}

				i {
					font-size: 2.5rem;
					color: #fff;
				}
			}

			.methodologyVideo {
				width: 34.6%;
				float: left;
				height: 8.02rem;
				position: relative;
			}

			.methodologyContentLinksWrapper {
				width: 65%;
				float: right;
			}

			.contentLinksWrapper {
				float: none;
				padding-top: 0;
				width: 100%;
			}
		}
	}

	&.state7 {
		width: 100%;
		float: right;
		padding-right: 4.78rem;
		position: relative;
		padding-top: 4rem;

		.leftWrapper {
			width: 26.8%;
			float: left;

			.h0 {
				width: auto;
				transform: rotateZ(-90deg) translateX(-100%);
				transform-origin: 0 0;
				float: none;
				line-height: 0.5em;
				display: inline-block;
				position: absolute;
				left: 37rem;
				top: 4.3rem;
			}
		}

		.rightWrapper {
			width: 46.5%;
			float: right;
			padding-top: 15.3rem;
			padding-right: 6rem;

			.leftColomn {
				width: 57%;
				float: left;
			}

			.rightColomn {
				width: 29%;
				float: right;

				.methodologyStateText {
					padding-top: 0;
				}

				.linkWrapp {
					margin-top: 4.53rem;
					position: relative;
					padding-left: 0.521rem;
					font-size: 0.77rem;
					color: $rLight;
					float: left;

					&:before {
						content: '+';
						left: 0;
						top: -2.4rem;
						position: absolute;
						font-size: 1.3rem;
					}
				}
			}

			.methodologyStateText {
				padding-top: 3.33rem;
				width: 100%;
			}

			.p3Wrapper {
				padding-top: 0;
			}

			.goldLinksWrapper {
				width: 19.3%;
				float: right;
				font-size: 1.04rem;

				li:not(:last-of-type) {
					margin-bottom: 3.23rem;
					position: relative;

					&:after {
						position: absolute;
						content: "+";
						left: -0.4rem;
						bottom: -2.7rem;
						font-size: 1.4rem;
						color: $goldColor;
						line-height: 1em;

					}
				}

				.goldLink {
					overflow: hidden;
				}

				.goldLinksText {
					color: #fff;
				}
			}
		}
	}

	&.state8 {
		width: 72.7rem;
		float: right;
		margin-right: 16.87rem;
		position: relative;
		z-index: 1;

		.h0 {
			width: 48.3%;
			float: left;
		}

		h4 {
			padding-top: 0.7rem;
		}

		.methodologyStateText {
			width: 51.5%;
			float: right;
			padding-top: 3.4rem;

			.p3Wrapper  {
				padding-top: 1.8rem;
				width: 100%;
				position: relative;

				.a3 {
					width: 11.4rem;
					position: absolute;
					right: -16.93rem;
					top: 0;
					color: rgba($rLight, $lighterHighly);
					padding-top: 1.83rem;
					line-height: 1.8em;
				}
			}
		}
	}

	.h0 {
		float: left;
		display: block;
	}

	.methodologyStateText {
		float: left;
		width: 56%;
		padding-top: 5.44rem;
	}

	h4 {
		padding-top: 1.3rem;
	}

	.p3Wrapper {
		padding-top: 4.1rem;
		width: auto;

		& .p3.smallText {
			font-size: 0.46rem;
		}
	}

	.p3Wrapper .p3 {
		width: auto;
	}

	.p3Wrapper.colp1 .p3 {
		width: 100%;
	}

	.p3Wrapper.colp2 .p3 {
		width: 44.6%;
		float: left;
	}

	.p3Wrapper.colp2 .p3:not(:last-of-type) {
		margin-right: 10.7%;
	}

	.p3Wrapper.colp3 .p3 {
		width: 28%;
		float: left;
	}

	.p3Wrapper.colp3 .p3:not(:last-of-type) {
		margin-right: 5.7%;
	}
}

.expProjectsWrapper {
	margin-top: 5.57rem;
	float: right;

	.expProject {
		width: 79.1rem;
		float: right;
		height: 38.12rem;
		background-size: cover;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		margin-top: 0.78rem;
		transition: filter 0.5s;

		&:not(:hover) {
			filter: grayscale(0.25);
		}

		.a3.tip {
			top: 0.54rem;
		}

		.expProjectInfoWrapper {
			position: absolute;
			left: 3.23rem;
			bottom: 3.54rem;
		}

		.expProjectImg {
			float: left;
			height: 100%;
			width: 5.21rem;
		}

		.expProjectText {
			float: left;
			width: 21.56rem;
			
			h4 {
				color: $rLight;
			}
		}
	}
}

.mapWrapper {
	float: right;
	width: 100%;
	opacity: 0;
	transition: opacity 0.6s;
	margin-top: -18.2rem;
	height: 70rem;
	overflow: hidden;


	&.isActive {
		opacity: 1;
	}

	.amerika {
		width: 50%;
		float: left;
		position: relative;
		margin-left: -3.1%;

		#mainland {
			position: absolute;
			top: 0;
			left:0;
		}
	}

	.europe {
		width: 50%;
		float: right;
		position: relative;
		margin-top: 16rem;
		margin-right: -2rem;

		#otherEurope {
			transform: translateZ(1px);
		}
		
		#europe {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.no-svg {

	.mapWrapper {
		svg {
			opacity: 0;
		}

		&.isActive .amerika {
			background-position: 50% 50%;
			opacity: 1;
		}

		.amerika {
			height: 55rem;
			background: transparent no-repeat center center;
			background-size: contain;
			background-image: url(../../img/amerika.png);
			transition: background-position 1.5s ease-out, opacity 1.5s linear;
			background-position: -30rem 0;
			opacity: 0;
		}

		&.isActive .europe {
			background-position: 50% 50%;
			opacity: 1;
		}
		
		.europe {
			height: 47rem;
			background: transparent no-repeat center center;
			background-size: contain;
			background-image: url(../../img/europe.png);
			transition: background-position 1.5s ease-out, opacity 1.5s linear;
			background-position: 30rem 0;
			opacity: 0;
		}
	}
}

.projectsWrapper {
	width: 100%;
	margin-top: 2rem;
	border-top: 1px solid $middleGray;
	border-bottom: 1px solid $middleGray;
	clear: both;
	padding-top: 8.59rem;
	overflow: hidden;
	padding-bottom: 9.6rem;

	.projectsInfoWrapper {
		width: 58.4rem;
		margin: 0 auto;
		position: relative;
		padding-bottom: 5.3rem;

		.tip {
			top: auto;
			bottom: 1.26rem;
			left: -21rem;
		}

		h2 {
			width: 62%;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				right: 2.74rem;
				top: 2.1rem;
				width: 6.77rem;
				height: 0;
				display: block;
				border-top: 1px solid $mainColor;
			}
		}
	}

	.projects {
		width: 49rem;
		float: right;

		.positionWrapper {
			float: left;
			width: 88%;
		}

		.left {
			float: left;
			width: 41%;;
		}

		.right {
			float: right;
			width: 55%;
		}
	}
}

.projectsUl {
	width: 100%;

	li {
		&:not(:first-of-type) {
			height: 1.6em;
			overflow: hidden;
		}

		.linkUnderline:after {
			width: 0;
			transition: width 0.5s 0s;
		}

		&.isActive {
			height: auto;

			.projectPlus:after {
				height: 0 !important;
				opacity: 0.5 !important;
			}

			.linkUnderline:after {
				width: 100%;
				transition: width 0.5s 0.5s;
			}

			.p3 {
				transform: scale(1);

				&:after {
					width: 37%;
				}
			}
		}

		padding-left: 2rem;

		.linkLi {
			position: relative;

			.projectPlus {
				left: -2rem;
				top: 0.13rem;
				font-size: 0.92rem;
				width: 1.3em;
				height: 1.3em;
				cursor: pointer;
				position: absolute;

				&:before {
					position: absolute;
					content: "";
					height: 0;
					width: 70%;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					border-top: 1px solid $middleGray;
				}

				&:after {
					position: absolute;
					content: "";
					height: 70%;
					width: 0;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					border-right: 1px solid $middleGray;
					opacity: 1;
					transition: height 0.7s, opacity 0.7s;
				}
			}
		}


		.country {
			color: $expGray;
		}

		&:first-of-type {
			padding-bottom: 2.29rem;
			padding-top: 4.43rem;
		}

		.p3 {
			padding-top: 1.35rem;
			padding-bottom: 3.44rem;
			position: relative;
			transform: scale(0);
			transition: transform 0.5s;

			&:after {
				position: absolute;
				content: "";
				height: 0;
				width: 0%;
				position: absolute;
				transition: width 0.9s 0.4s;
				left: 0;
				bottom: 1.65rem;
				border-top: 1px solid $middleGray;
			}
		}
	}
}

.backstageWrapper {
	width: 80rem;
	float: right;
	position: relative;

	/*&:hover a:not(:hover) {
		filter: grayscale(50%);
		opacity: 1;
		webkit-transition-delay: 0ms;
		transition-delay: 0ms;
	}*/
}

.backstage {
	width: 20rem;
	height: 20rem;
	float: left;
	overflow: hidden;

	&.backstageMore {
		float: none;
		position: absolute;
		right: 0;
		bottom: 0;
		font-family: $secondFont;
		font-weight: 400;
		font-size: 1rem;
		line-height: 20em;
		text-align: center;

		a {
			color: $asideColor;
		}

	}

	a {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		transition: filter 0.4s, opacity 0.4s;

	}
}

.video.play {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	clear: both;
	text-align: center;
	height: 30rem;
	background: #fff no-repeat center center;
	background-size: cover;

	.fullVideoWrapp {
		width: 100%;
		height: auto;
		overflow: hidden;
		display: inline-block;
		text-align: center;

		iframe {
			width: 100% !important;
			height: 100% !important;
			min-height: 44rem !important;
		}
	}
}

.play {
	cursor: pointer;

	i {
		position: relative;
		z-index: 1;
		font-size: 5.5rem;
		color: rgba(255,255,255,0.9);
		transition: color 0.5s;
	}

	&:hover i {
		color: rgba(201,29,31,0.9);
	}
}

.caseStudyWrapper {
	width: 62.6654rem;
	float: right;
	margin-right: 16.554rem;
	padding-top: 5.2154rem;
	position: relative;

	&.project3 {
		width: 56.5rem;
		margin-bottom: 2.5rem;
		.titleWrapper{
			h3 {
				width: 60%;
				br {
					display: none;
				}
			}
		}
	}


	.a2 {
		padding-bottom: 4.1754rem;
	}

	.titleWrapper {
		display: block;

		.titleImgWrapper {
			width: 7.5%;
			float: left;
			height: 100%;
			position: relative;

			img {
				width: 80%;
			}
		}

		h3 {
			width: 91.5%;
			float: left;
			display: block;
			position: relative;
			top: -0.5rem;
			line-height: 1.6em;
		}
	}

	&.middleWidth {
		.titleWrapper {
			width: 55%;
		}

		.asideTextCaseStudy {
			.p1 {
				width: 60%;
			}
		}
	}

	.asideTextCaseStudy {
		clear: both;
		padding-top: 2.6054rem;

		.p1 {
			width: 36.5%;
			float: left;
			padding-right: 5.42%;

			&.middleWidth {
				width: 60%;
			}
		}

		.bigIco {
			width: 27%;
			float: right;
			text-align: right;

			img {
				width: 13.54rem;
			}
		}
	}
}

.TemoAestheticImgWrapper {
	width: 100%;
	background-color: #DFDBD8;
	padding: 3.33rem 0;
	clear: both;
	margin-top: 5.71rem;
	display: inline-block;

	img {
		width: 80.73rem;
		display: block;
		margin: 0 auto;
		float: none;
	}
}

.imagesProjectWrapper {
	width: 100%;
	clear: both;
	margin-top: 9.11rem;
	display: inline-block;
	padding-bottom: 5.5rem;

	&.carOnFly {
		background: #FAF9F9 url(/img/casestudy/1/logobg.png) no-repeat center 68.21rem;
		background-size: 76.61%;
	}

	&.isActive {
		svg {
			visibility: visible !important;
		}
	}

	&.project3 {
		background-color: #F2F3F7;
		padding-top: 15.44rem;
		margin-top: -11.25rem;

		.tabletImg {
			display: block;
			margin: 0 auto;
			width: 89.74rem;
		}

		.project3Wrapper {
			width: 89.64rem;
			margin: 0 auto;
			position: relative;
			left: 2rem;
			padding-top: 4.69rem;

		}

		.leftColoumn {
			float: left;
			width: 53.46%;

			img:not(:first-of-type) {
				margin-top: 3.12rem;
			}

			img:last-of-type {
				margin-top: 1.56rem;
			}

			img:nth-of-type(1) {
				width: 100%;
			}

			img:nth-of-type(2) {
				width: 75.87%;
			}

			img:nth-of-type(3) {
				width: 89.24%;
			}

			img:nth-of-type(4) {
				width: 70.98%;
			}
		}

		.rightColoumn {
			float: right;
			width: 40.38%;

			img:nth-of-type(1) {
				width: 100%;
			}

			img:nth-of-type(2) {
				width: 93.96%;
				margin-top: 1.56rem;
			}

			img:nth-of-type(3) {
				width: 80%;
				margin-left: -20.72%;
				margin-top: 2.37rem;
			}

			img:nth-of-type(4) {
				width: 76.40%;
				margin-left: -20.72%;
				margin-top: 2.37rem;
			}
		}
	}

	.mobileSliderWrapper {
		width: 59.30rem;
		margin: -8.85rem auto 0 auto;
		height: 40.36rem;
		background-image: url(/img/casestudy/1/mobile.png);
		background-repeat: no-repeat;
		padding-top: 5.68rem;
		background-size: 29.6%;
		position: relative;

		.slide {
			height: 30.05rem;
			width: 16.95rem;
			background-size: cover;
			background-repeat: no-repeat;
			float: left;
			margin-right: 1.72rem;
			background-position: center top;

			svg {
				margin-top: -5.5rem;
				visibility: hidden;
				width: 100%;
			}

			&:first-of-type {
				margin-left: 0.3rem;
			}
			&.onlyMob {
				display: none;
			}
		}
	}

	.desktopImgWrapper {
		width: 83.33%;
		margin: 1.04rem auto 0 auto;
		overflow: hidden;

		.bigImg {
			width: 72.25%;
			height: 46.69rem;
		}

		.smallImg {
			width: 22.50%;
			height: 52.65rem;
		}

		div {
			float: left;
			display: block;
			background: transparent no-repeat center center;
			background-size: cover;

			&:nth-of-type(odd) {
				margin-right: 4%;
			}

			&:nth-of-type(4) {
				margin-top: 6.25rem;
			}
		}
	}

	.otherMobile {
		width: 83.33%;
		margin: 4.53rem auto 0 auto;
		position: relative;
		overflow: hidden;

		.mobi {
			float: left;
			width: 20.375%;
			margin-right: 1.46rem;
			height: 30rem;
		}

		.leftCol {
			float: left;
			margin-right: 1.46rem;
			width: 18.75%;

			div {
				width: 100%;
				height: 22.5rem;
				
				&:not(:last-of-type) {
					margin-bottom: 1.46rem;
				}
			}
		}

		div {
			float: left;
			background: transparent no-repeat center center;
			background-size: cover;
		}
	}

	.smallLogos {

		.logo1 {
			position: absolute;
			top: 0;
			right: 0;
		}

		.logo2 {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

.caronflyBig {
	margin-top: 5.71rem;
	width: 100%;
	background: transparent no-repeat center center;
	background-size: cover;
	float: right;
	clear: both;
}

.casestudyTextWrapper {
	width: 36.46rem;
	float: right;
	margin-right: 42.50rem;
	margin-top: 5.71rem;

		h3 {
			margin-top: 4rem;
			margin-bottom: 2.30rem;
		}
}

.section {
	text-align: center;
	width: 100%;
}

.backstageContainer {
	width: 100%;
	padding-bottom: 7.55rem;
	overflow: hidden;
	border-bottom: 1px solid $middleGray;

	.moreBackStage {
		cursor: pointer;
	}
}

.imagesProjectWrapperAlt {
	width: 100%;
	padding-top: 6.46rem;
	clear: both;
	overflow: hidden;

	.imgWrapper {
		position: relative;
		display: block;
		float: right;
		background: transparent no-repeat center center;
		background-size: cover;

		img {
			max-width: 100%;
		}

		&.mediumImg {
			width: 44.86%;
			height: 19.74rem;
			margin-bottom: 1.6rem;

			.number {
				bottom: -1rem;
			}
		}

		&.smallImg {
			width: 26%;
			margin-right: 1.09rem;
			height: 19.74rem;
			margin-bottom: 1.6rem;

			.number {
				bottom: -1rem;
			}
		}

		&.bigImg {
			width: 100%;
			margin-bottom: 1.09rem;
			float: left;
			height: 67.19rem;

			.number {
				top: -1.3rem;
			}
		}

		&.rightImg {
			width: 100%;
			height: 29.22rem;

			.number {
				top: -1.3rem;
				left: 0;
				right: auto;
			}
		}

		.number {
			position: absolute;
			right: 0;
			font-family: $mainFont;
			color: $mainColor;
			font-size: 0.83rem;
			font-weight: 300;
			line-height: 1em;
		}
	}

	.leftCol {
		width: 75.94%;
		float: left;

	}

	.rightCol {
		width: 19.22%;
		float: right;
		margin: 26.04rem 1.25% auto 0;

		.goldLinksWrapper {
			width: 38.21%;
			float: left;
			font-size: 1.04rem;
			margin-top: 5rem;
			margin-left: 1.72rem;

			.linkUnderline {
				display: inline;
			}

			li:last-of-type {
				margin-bottom: 3.23rem;
				position: relative;

				&:after {
					position: absolute;
					content: "+";
					left: -0.4rem;
					top: -1.7rem;
					font-size: 1.4rem;
					color: $mainColor;
					line-height: 1em;

				}
			}

			.goldLink {
				overflow: hidden;
			}

			.goldLinksText {
				color: $mainColor;
				position: relative;
			}
		}
	}

	.coloumnText {
		margin-top: 4.06rem;
		clear: both;
		width: 74.01rem;
		float: right;
		margin-right: 4.4rem;
		column-count: 3;
		column-gap: 3.44rem;
	}
}

.imagesProject3Text {
	width: 57.5rem;

	h2 {
		padding-bottom: 0rem;
	}

	&.aboutMeWrapper {
		.p1 {
			padding-top: 1.6rem;
		}
	}

	.aboutMeLeftCol {
		width: 77%;
	}

}

.imagesProject3WrapperAlt {
	width: 100%;
	height: 56.25rem;
	background: transparent no-repeat center center;
	background-size: cover;
	position: relative;
	margin-top: 4rem;
	clear: both;
	display: inline-block;
	margin-bottom: 2.6rem;

	.smallImgWrapper {
		top: 24.70rem;
		left: 26.04rem;
		position: absolute;
		width: 11.98rem;

		img {
			width: 100%;

			&:not(:last-of-type) {
				margin-bottom: 0.52rem;
			}
		}
	}
}

.video-frame {
	width: 90% !important;
	height: 42.25rem !important;
	left: 0 !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	margin: auto !important;
	max-height: 100% !important;

	.video {
		.video-close {
			display: none !important;
		}

		iframe {
			width: 100% !important;
			height: 56.25rem !important;
			max-height: 100% !important;
		}
	}
}

.servicesWrapper {
	width: 74.01rem;
	float: right;
	margin-top: 10.06rem;
	margin-right: 4.4rem;
	margin-bottom: 12.29rem;

	&.project3 {
		margin-top: 5rem;
		margin-bottom: 3rem;
	}

	h4 {
		margin-top: 1.78rem;
		margin-bottom: 2.54rem;
	}

	.servicesUl {
		width: 100%;

		.li {
			float: left;
			width: 13.33rem;
			padding-left: 1.88rem;
			height: 15.73rem;

			.number {
				height: 3.70rem;
				width: 3.70rem;
				border-radius: 50%;
				border: 1px solid $asideColor;
				line-height: 3.7rem;
				text-align: center;
				font-family: $secondFont;
				color: $mainColor;
				font-size: 1.35rem;
				margin-left: -1.88rem;
				font-weight: 300;
			}

			h5 {
				padding-top: 1rem;
				font-family: $secondFont;
				font-weight: 300;
				font-size: 1.15rem;
			}

			.p4 {
				padding-top: 0.5rem;
			}

			&:not(:last-of-type) {
				margin-right: 0.54rem;
			}
		}
	}
}

.presentProjects {
	width: 100%;
	clear: both;

	.project {
		width: 50%;
		height: 49.48rem;
		float: left;
		display: block;

		&:hover .projectInfo .projectsNav .a3 {
			opacity: 1;
			visibility: visible;
			transition: opacity 0.5s, visibility 0s 0s;
		}

		.projectImg {
			background: transparent no-repeat center center;
			background-size: cover;
			width: 100%;
			height: 24.84rem;
		}

		.projectInfo {
			height: 24.64rem;
			border-bottom: 1px solid $lightGray;
			position: relative;

			.textWrapper {
				width: 34.79rem;
				padding-top: 3.35rem;
				margin-left: 10.4rem;

				h3 {
					margin-top: 0.5rem;
				}
			}

			.projectsNav .a3 {
				position: absolute;
				bottom: 3rem;
				left: 0;
				right: 0;
				margin: auto;
				text-align: center;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.5s, visibility 0s 0.5s;

				&:before {
					content: "";
					width: 1.4rem;
					height: 0;
					border-top: 1px solid #DBDBEB;
					position: absolute;
					display: block;
					top: -1.1rem;
					left: 0;
					right: 0;
					margin: auto;
				}

				b {
					color: #646472;
				}
			}
		}

		&.firstProject .projectInfo {
			border-right: 1px solid $lightGray;
		}
	}
}

/*path {
	fill:none;
	pointer-events:all;
	display: block;
	transition: stroke-width 0.7s, stroke 0.7s;
}
path:hover {
	stroke: #D2D800;
	stroke-width: 5;
	transform: translateZ(1px);
}*/

.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}
.owl-carousel .fadeOut {
	animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.owl-height {
	transition: height 500ms ease-in-out;
}

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 4;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;

	.owl-item:last-of-type {
		margin-right: 0 !important;
	}
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	user-select: none;
	font-size: 30px;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
	display: none;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}

.no-js .owl-carousel {
	display: block;
}

.fullpageWrapper {
	.videoSection {
		background: transparent no-repeat center center;
		background-size: cover;

		.fp-tableCell {
			background-color: rgba(255,201,38,0.7);
			.h0 {
				color: #011224;
				font-size: 9.2rem;
				width: 45.08%;
				margin: 0 19.79% 0 auto;
				text-align: left;
				position: relative;

				.a3.tip {
					color: #fff;
					top: 3.5rem;
					font-family: $thirdFont;
					letter-spacing: 0.06rem;
					text-align: left;

					&:before {
						top: 0.3rem;
						right: auto;
						left: -3rem;
						background-color: #fff;
					}
				}
			}
		}
	}

	.infoSection {
		background: transparent no-repeat center center;
		background-size: cover;

		.fp-tableCell {
			vertical-align: top;
		}

		.methodologyState {
			&.state1 {
				width: 80%;
				margin: 0 auto;
				float: none;
			}

			.h0 {
				color: #fff;
				width: auto;
			}

			.methodologyStateText {
				text-align: left;

				h1 {
					color: #fff;
				}

				.p3Wrapper {
					.p3 {
						color: #fff;
					}
				}
			}

			&.state6 {
				float: none;
				position: absolute;
				bottom: 2rem;
				left: 0;
				right: 0;
				margin: auto;
				width: 80%;

				.contentLinksWrapper  {
					.contentLink  {
						text-align: left;
					}
				}

				h3 {
					color: #fff;
					text-align: left;
					font-size: 1.16rem;
					line-height: 1.45em;
				}

				.contentLinkText {
					&:before {
						background-color: black;
					}
					ul {
						text-align: left;
						a {
							color: #fff;
						}
					}
				}

				.methodologyVideoWrapper  {
					width: 65%;
					padding-top: 0;

					.methodologyContentLinksWrapper  {
						width: 78%;
						float: left;

					}

					.methodologyVideo {
						width: 22%;
					}
				}

				.methodologyAboutVideoWrapper {
					.contentLinksWrapper {
						margin-top: 0rem;
					}
				}
			}
		}
	}

	.imageSection {
		background-color: #021224;

		.imgYellow {
			background: transparent no-repeat center center;
			background-size: cover;
			width: 68.07%;
			height: 80%;
			margin: -3.5% auto 0 auto;
			position: relative;

			.a3.tip {
				left: 0;
				right: 0;
				margin: auto;
				text-align: center;
				bottom: -4rem;
				top: auto;
				color: #FFCA00;

				&:before {
					left: 0;
					right: 0;
					top: -1rem;
					margin: auto;
					width: 1.3rem;
				}
			}
		}
	}
}
 
.goldContactLink {
	transition: color 0.5s;
	
	svg path { 
		transition: stroke 0.5s;
	}

	&:hover {
		color: $goldColor;

		svg path {
			stroke: $goldColor !important;
		}
	}
}

.sharePageWrapper {
	position: absolute;
	right: 20px;
	top: 30px;
	color: #fff;
	width: 40px;
	height: 40px;
	padding: 1px; 
	cursor: pointer;

	&.leftPosition {
		left: 30px;

		.shareText {
			left: 37px;
			right: auto;
		}
	}

	.shareText {
		right: 50px;
		top: 2px;
		font-size: 11px;
		opacity: 0;
		display: block;
		width: 95px;
		cursor: pointer;
	}

	.cute-fbHover {
		font-size: 33px;
		left: -10.6px;
		top: -8.2px;
		opacity: 0;
		cursor: pointer;
	}

	.cute-shareFb {
		font-size: 18px;
		left: 0;
		top: 0;
		opacity: 1;
		cursor: pointer;
	}

	span {
		position: absolute;
		transition: opacity 0.7s;
	}

	&:hover {
		.cute-fbHover {
			opacity: 1;
		}

		.shareText {
			opacity: 1;
		}

		.cute-shareFb {
			opacity: 0;
		}
	}
}

.overflowWrapper {
	width: 100%;
	overflow: hidden;
}

.awardWrapper {
	width: 100%;
	height: 100%;
	background: transparent no-repeat center 30%;
	background-size: cover;
	background-image: url(/img/awardsBg.png);
	text-align: center;
}


.awardsState {
	width: 100%;
	text-align: center;
	padding-bottom: 16rem;

	.firstWrapper {
		position: absolute;
		right: 45px;
		top: 37px;

		.cute-first {
			font-size: 5.1rem;
			color: #31313F;
		}

		.firstText {
			margin-top: 0.5rem;
			font: 400 0.43rem/1.3em $mainFont;
			letter-spacing: 0.02rem;
		}
	}

	.whiteBg {
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}

	h6 {
		width: 70%;
		margin: 0 auto;
		font-size: 0.73rem;
		line-height: 2em;
		padding-top: 1rem;
	}

	.textAwards {
		padding-bottom: 1.4rem;
	}

	.methodologyState {
		.whiteBg {
			background-color: #fff;
			overflow: hidden;
		}

		&.state1 {
			width: 80%;
			margin: 0 auto;
			float: none;
		}

		.h0 {
			color: #fff;
			width: auto;
		}

		h4 {
			padding-top: 0;
		}

		.methodologyStateText {
			text-align: left;

			h1 {
				color: #fff;
			}

			.p3Wrapper {
				.p3 {
					color: #fff;
				}
			}
		}

		&.state6 {
			float: none;
			position: static;
			bottom: 0rem;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			padding: 0;

			.contentLinksWrapper  {
				width: 100%;
				padding-right: 0;
				.contentLink {
					text-align: left;
				}
			}

			h3 {
				color: black;
				text-align: left;
				font-size: 1.16rem;
				line-height: 1.45em;
			}

			.contentLinkText {
				padding-top: 1rem;
				&:before {
					display: none;
				}
				ul {
					text-align: left;
					a {
						color: black;
					}
				}
			}

			.methodologyVideoWrapper  {
				width: 66%;
				padding-left: 10%;
				padding-top: 0;

				.videoM  {
					left: auto;
					bottom: auto;
					top: 1.3rem;
					right: 1.3rem;
					cursor: pointer;
				}

				.methodologyContentLinksWrapper  {
					width: 78%;
					float: left;

				}

				.methodologyVideo {
					width: 22%;
				}
			}

			.methodologyAboutVideoWrapper {
				width: 24%;
				.contentLinksWrapper {
					margin-top: 0rem;
				}
			}
		}
	}

}

.table {
	display: table;
	height: 100%;
	width: 100%;

	.tableCell {
		vertical-align: middle;
		display: table-cell;
		height: 100%;
		width: 100%;
		text-align: center;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src*=".svg"] {
		width: 100%; 
		height: 100% !important;
	}
}

@import "includes/_onload";