@import "includes/_settings";

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.noTablet {
		display: none;
	}

	.h0 {
		font-size: 7rem;
	}

	html {
		font-size: 1.05vw;
	}

	h2 {
		font-size: 3.45rem;
	}

	h3 {
		font-size: 2.7rem;
		line-height: 1.55em;
	}

	h4 {
		font-size: 2.1rem;
	}

	h5 {
		font-size: 2rem;
	}

	.p1 {
		font-size: 1.55rem;
	}

	.p2 {
		font-size: 1.5rem;
	}

	.p3 {
		font-size: 1.35rem;
	}

	.a2 {
		font-size: 0.88rem;
	}

	.a3 {
		font-size: 1.1rem;
	}

	.aboutContainer {
		.aboutMeRightBlock {
			margin-top: 3rem;
		}


		.aboutMeRightBlock {
			h4 {
				br {
					display: none;
				}
			}
		}
	}

	.backstageWrapper {
		width: 75rem;
		.backstage {
			width: 37.5rem;
			height: 37.5rem;

			&.backstageMore {
				font-size: 3.5rem;
				line-height: 37.5rem;
			}
		}
	}

	.wrapperMainInfo.fullwidth {
		.headImage {
			width: 100%;

			h2 {
				font-size: 2.2rem;
				padding-left: 21.4%;
			}

			h6 {
				font-size: 1.2rem;
				padding-left: 21.4%;
			}
		}
	}

	.menuWrapper nav {
		top: 10%;
		bottom: auto;
		height: auto;

		&:after, &:before {
			height: 100%;
		}

		li {
			width: 30.4rem;
			height: 7.2rem;
		}
	}

	.captionImg {
		bottom: -2.45rem;

		&:before {
			left: -2.2rem;
			width: 1.9rem;
			top: 0.7rem;
		}
	}

	.img1 {
		font-size: 1.43rem;
	}

	.container {
		margin-top: 4.9rem;
		width: 78rem;
	}

	.wrapperMainInfo {
		height: 59.125rem;

		.indexNavWrapper {
			display: none;
		}
	}

	.plus {
		visibility: visible !important;

		&:before {
			width: 100%;
		}

		&:after {
			height: 100%;
		}
	}

	.facebook {
		position: absolute;
		float: none;
		margin-left: 3rem;
		margin-top: 9.4rem;
		height: 4.4rem;
	}

	.aboutMeWrapper {
		width: 75rem;
		padding-right: 2rem;
		padding-top: 9.2rem;

		/*&.caseStudyMargin {
			width: 79rem;
		}*/

		&.imagesProject3Text {
			width: 75rem;
		}

		&.aboutSmallLeftCol {
			width: 71.2rem;

			.aboutMeLeftCol {
				width: 100%;
			}

			h2 a.linkUnderline{

				&:hover:after {
					width: 0%;
				}

				&:after {
					bottom: 0.2em;
					color:$lineColor;
					transition: width 0.5s;
				}
			}

			.p1 a {
				text-decoration: underline;
				color: $lineColor;
				display: inline-block;

				&:hover {
					text-decoration: none;
				}

				span {
					color: $mainColor;
				}
			}
		}

		.aboutMeLeftCol {
			width: 100%;
			float: none;
			position: relative;
		}

		.aboutMeRightCol {
			width: 100%;
			float: none;
			position: relative;
			padding-top: 4rem;

			.aboutMeRightBlock {
				width: 50%;
				float: left;

				&:nth-of-type(odd) {
					padding-right: 5%;
				}

				&.casestudy {
					width: 100%;
				}
			}
		}
	}

	.otherMobile {
		display: none;
	}

	.imagesProjectWrapper {
		.desktopImgWrapper {
			width: 83.33%;
			margin: 1.04rem auto 0 auto;
			overflow: hidden;

			.bigImg {
				width: 100%;
				height: 50.7rem;
			}

			.smallImg {
				width: 48%;
				margin-top: 2.25rem;
				height: 80.65rem;

				&:nth-of-type(2) {
					margin-right: 3%;
				}
			}

			div {
				float: left;
				display: block;

				&:nth-of-type(even),
				&:nth-of-type(odd) {
					margin-right: 0%;
				}

				&:nth-of-type(4) {
					margin-top: 2.25rem;
				}
			}
		}
	}

	.imagesProject3WrapperAlt {
		height: 65.25rem;

		.smallImgWrapper {
			top: auto;
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 20rem;
			overflow: hidden;

			img {
				height: 20rem;
				width: auto;
				margin-right: 4rem;

				&:not(:last-of-type) {
					margin-bottom: 0;
				}
			}
		}
	}

	.imagesProjectWrapper {
		width: 100%;
		clear: both;
		margin-top: 4.11rem;
		display: inline-block;
		padding-bottom: 5.5rem;
		overflow: hidden;

		&.carOnFly {
			background: none;
		}

		&.project3 {
			background-color: #F2F3F7;
			padding-top: 15.44rem;
			margin-top: -15rem;

			.tabletImg {
				display: block;
				margin: 0 auto;
				width: 89.74rem;
			}

			.project3Wrapper {
				width: 89.64rem;
				margin: 0 auto;
				position: static;
				left: 0;
				padding-top: 4.69rem;

			}

			.leftColoumn {
				float: none;
				width: 100%;
				text-align: center;

				img:not(:first-of-type) {
					margin-top: 2.5rem;
				}

				img:last-of-type {
					margin-top: 1.56rem;
				}

				img:nth-of-type(1) {
					width: 100%;
				}

				img:nth-of-type(2) {
					width: 95%;
				}

				img:nth-of-type(3) {
					width: 100%;
				}

				img:nth-of-type(4) {
					width: 95%;
				}
			}

			.rightColoumn {
				float: right;
				width: 100%;
				margin-top: 2.5rem;
				text-align: center;

				img:nth-of-type(1) {
					width: 100%;
				}

				img:nth-of-type(2) {
					width: 95%;
					margin-top: 2.5rem;
				}

				img:nth-of-type(3) {
					width: 44%;
					margin-left: 0;
					margin-top: 2.5rem;
					float: left;
					margin-right: 3%;
					margin-left: 4.5%;
				}

				img:nth-of-type(4) {
					width: 44%;
					margin-left: 0;
					margin-top: 2.5rem;
					float: left;
				}
			}
		}

		.mobileSliderWrapper {
			width: 54.50rem;
			margin: 0rem auto 6rem auto;
			height: 64.36rem;
			padding-top: 8.68rem;
			background-size: 52.6%;
			background-position: top center;

			.slide {
				height: 47.70rem;
				width: 27.08rem;
				margin-right: 0rem;
				
				&:first-of-type {
					margin-left: 0;
				}

				svg {
					margin-top: -12.5rem;
				}

				&.onlyMob {
					display: block;

					&.small {
						height: 38rem;
					}
				}
			}
		}
	}

	.caseStudyWrapper {
		width: 72rem;
		float: right;
		margin-right: 3rem;
		padding-top: 5.2154rem;
		position: relative;

		&.project3 {
			width: 72rem;
			margin-bottom: 2.5rem;
			.titleWrapper{
				.titleImgWrapper {
					width: 10%;
					img {
						width: 100%;
					}
				}

				h3 {
					width: 88%;
					padding-right: 12%;
					float: right;

					br {
						display: none;
					}
				}
			}
		}

		&.middleWidth {
			.titleWrapper {
				width: 100%;

				h3 {
					width: 100%;
				}
			}

			.asideTextCaseStudy {
				.p1 {
					width: 100%;
				}
			}
		}
	}

	.contentLinksWrapper {
		width: 75rem;
		padding-right: 2rem;
		margin-bottom: -6.5rem;

		&.project3 .contentLink {
			padding-left: 0rem !important;
		}

		&.casestudy {
			width: 75.14rem;
			.contentLink {
				margin-bottom: 3rem;

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					padding-bottom: 3rem;
				}
			}
		}

		.contentLink {
			display: block;
			float: left;
			margin-bottom: 6.5rem;
			
			&:first-of-type {
				padding-left: 5rem;
			}

			.contentLinkText {
				padding-top: 4.4rem;

				&:before {
					top: 2.68rem;
				}

				nav {
					margin-top: 1.45rem;
				}
			}

			&.col2, &.col3, &.col4 {
				width: 100%;
				padding-right: 0;
			}

			&.col1 {
				width: 50%;

				&:nth-of-type(odd) {
					padding-left: 4rem;
				}
			}

		}
	}

	.aboutMeWrapper.aboutSmallLeftCol {
		width: 73rem;
		padding-top: 2.2rem;
		margin-right: 1.5em;

		.aboutMeLeftCol {
			width: 100%;
			margin-bottom: 3.2rem;
		}

		.aboutMeRightCol  {
			width: 100%;

			.contactIco {
				position: static;
				float: none;
				width: 100%;

				#contactIco {
					width: 12%;
					margin-bottom: 2rem;
				}

				#contactIco2 {
					width: 15%;
					margin-bottom: 2rem;
				}
			}

			.aboutMeRightBlock {
				width: 100%;
				float: none;
				padding-left: 0;

				h4 {
					font-size: 1.8rem;

					br {
						display: none;
					}
				}

				&:nth-of-type(even) {
					padding-left: 0;
				}
			}
		}
	}

	.menuWrapper {
		nav {
			// height: 37rem;
			li a {
				font-size: 3.5rem;
			}
		}
	}

	.a3.tip {
		width: 12.2rem;
		left: -15.5rem;
		top: 2.24rem;

		&:before {
			width: 3.6rem;
		}
	}

	.partnersWrapper {
		padding-right: 2rem;
		width: 75rem;
		float: right;
		margin-right: 0;
		
		.p2 {
			padding-top: 4.2rem;
		}
	}

	.partnersWrapper {
		padding-bottom: 8.3rem;
		margin-top: 2.4rem;

		.partnerTable {
			flex-wrap: wrap;
			height: auto;
			padding-top: 5rem;
			align-items: center;
			width: auto;

			.partner {
				width: 33%;
				text-align: center !important;
				vertical-align: middle;
				padding: 2.4rem 0;

				img {
					max-height: 8rem;
					max-width: 57%;
				}
			}
		}
	}

	.mapWrapper {
		margin-top: -15.2rem;
		height: 67.3rem;
	}

	.lastProjectWrapper {
		padding-right: 2rem;
		width: 75rem;
		margin-right: 0;


		.leftColLastProject {
			width: 100%;
			float: none;

			.a3.tip {
				top: 5.55rem;
			}
		}

		.rightColLastProject {
			margin-top: 4rem;
			width: 100%;
			float: none;

			.p3 {
				padding-top: 0rem;
			}
		}
	}

	.expProjectsWrapper {
		float: none;
		margin-top: 5rem;

		.expProject  {
			width: 100%;
			height: 57.8rem;

			.expProjectInfoWrapper {
				left: 2.23rem;
				bottom: 1.54rem;
			}

			.expProjectText {
				width: 55rem;

				h4 {
					font-size: 1.6rem;
					line-height: 2.1rem;
					margin-top: 1rem;
				}
			}

			.expProjectImg  {
				width: 8.7rem;
				min-width: 70px;
				min-height: 74px;

				img {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}

			.a3.tip {
				display: none;
			}
		}
	}

	.fullImg {
		margin-top: 0rem;
		height: 49.125rem;

	}

	footer {
		.footerNavWrapper {
			width: 75rem;
			margin-bottom: 11rem;
			float: right;

			.a2 {
				font-size: 0.9rem;
			}
		}

		.footerWrapperContainer {
			width: 75rem;
		}

		.goTopWrapper {
			display: block;
			width: 3rem;
			height: 3rem;
		}

		.footerWrapper {
			margin: 0 0 9.6rem 0;
			width: 55.4rem;

			.tip {
				left: -17.5rem;
			}

			h2 {
				width: 80%;

				&:after {
					top: 3.1rem;
					right: 5rem;
				}
			}
		}

		.asideFooter {
			width: 92%;

			.footerSmall  {
				font-size: 1.1rem;
			}

			.earthWrapper {
				.map {
					width: 3.6rem;
					vertical-align: middle;
					height: 6.5rem;
				}

				.p3 {
					vertical-align: middle;
					font-size: 1.1rem;
					color: black;
					margin-top: -0.8rem;
					margin-left: 0.7rem;
				}
			}
		}

		.footerNav {

			&.center {
				padding-left: 7%;
			}

			h5:not(.noPadding) {
				padding-top: 3.7rem;
			}

			&.col1 {
				width: 9.09%;
			}

			&.col2 {
				width: 9.09%*2;
			}

			&.col3 {
				width: 9.09%*3.5;
			}

			&.col4 {
				width: 9.09%*4;
			}

			&.col5 {
				width: 9.09%*4;
			}
		}
	}

	a.cuteLink, .wrapper nav li:after {
		font-size: 1.2rem;
		letter-spacing: 0.5rem;
	}

	.projectsWrapper .projects {
		width: 75rem;

		.right {
			.projectsUl:last-of-type li:first-of-type  {
				border-bottom: 1px solid $middleGray;
			}
		}

		.positionWrapper  {
			width: 92%;
		}

		.left, .right {
			float: none;
			width: 100%;
		}

		.projectsUl {
			overflow: hidden;
			height: 5rem;

			&.isOpen {
				height: auto;

				li:first-of-type {
					border-bottom: 1px solid $middleGray;
				}
			}

			&.isOpen li:first-of-type .a2:after {
				transform: rotateZ(45deg);
			}

			.linkLi {
				.projectPlus {
					font-size: 1.7rem;
					width: 2.4rem;
					height: 2.4rem;
					left: -3rem;
					top: 0.34rem;
				}
			}

			li {
				height: 2.6rem;
				width: 100%;
				padding-left: 3rem;

				&:not(:first-of-type) {
					margin: 1rem 0;
				}

				&:nth-of-type(2) {
					margin-top: 2.5rem;
				}

				&:last-of-type  {
					margin-bottom: 2.5rem;
				}

				&:first-of-type {
					padding-top: 0;
					padding-bottom: 0;
					height: 5rem;
					border-top: 1px solid $middleGray;
					width: 100%;
					padding-left: 0;
					cursor: pointer;

					&:hover .a2:after {
						border-bottom: 1px solid $goldColor;
						border-right: 1px solid $goldColor;
					}
					
					.a2 {
						line-height: 5rem;
						font-size: 1.35rem;
						position: relative;

						&:after {
							content: "";
							width: 1.1rem;
							height: 1.1rem;
							display: block;
							position: absolute;
							right: 0.78rem;
							top: 0;
							bottom: 0;
							margin: auto;
							border-bottom: 1px solid $middleGray;
							border-right: 1px solid $middleGray;
							transform: rotateZ(-45deg);
							transform-origin: 50% 50%;
							transition: transform 0.5s;
						}
					}
				}

				// &:nth-of-type(2n) {
				// 	float: left;
				// 	clear: left;
				// }

				// &:nth-of-type(2n+3) {
				// 	float: right;
				// 	clear: right;
				// }

				&.isActive {
					height: auto;
				}
			}
		}
	}

	.projectsWrapper {
		padding-top: 10.59rem;

		.projectsInfoWrapper  {
			width: 57.4rem;

			h2 {
				width: 85%;

				&:after {
					top: 2.85rem;
					right: 9.64rem;
					width: 7.77rem;
				}
			}
		}
	}

	.methWrapper {
		margin-top: 3rem;
	}

	.casestudyTextWrapper {
		width: 72.5rem;
		float: right;
		margin-right: 2.50rem;
		margin-top: 5.71rem;

			h3 {
				margin-top: 4rem;
				margin-bottom: 2.30rem;
			}
	}


	.methState {
		width: 100rem;
		padding-left: 25rem;
		overflow: hidden;
		float: right;
		position: relative;

		.h0, h1 {
			transition: color 0.3s;
		}

		.squareImgMethodology {
			margin-bottom: 20rem;
			height: 45rem;
			width: 100%;
			margin-top: -2rem;

			ul {
				left: 0;
				bottom: -17.4rem;
				width: 100%;
			}

			li {
				width: 32%;
				height: 16rem;
				margin-right: 0;

				&:not(:last-of-type) {
					margin-right: 2% !important;
				}
			}
		}

		.a3, .smallText  {
			display: none;
		}

		.fullImg.methodologyFullImg, 
		.fullImg.methodologyFullImg2 {
			margin-left: -25rem;
			width: 100rem;
			margin-bottom: 3.5rem;
		}

		.fullImg.methodologyFullImg {
			margin-top: -15.5rem;
		}

		.fullImg.methodologyFullImg2  {
			margin-top: -4rem;
		}

		h4 {
			padding-top: 1rem;
			width: 90%;
		}

		.state4AfterImgText {
			float: none;
			width: 100%;
			padding-right: 4%;
			padding-bottom: 6rem;
		}

		&.isActive {
			.h0, h1 {
				color: $goldColor;
			}

			.methodologyState[class*=' state'] .h0 .openMethTab:after {
				height: 0;
				opacity: 0;
			}
		}

		.p3Wrapper  {
			width: 100%;
			.p3:not(:first-of-type) {
				display: none;
			}

			.p3 {
				width: 100% !important;
				padding-right: 4% !important;
				float: none !important;
				margin-right: 0 !important;
			}
		}

		&:last-of-type {
			margin-bottom: 5.5rem;

			&:after {
				position: absolute;
				content: "";
				left: 25rem;
				bottom: 0;
				width: 75rem;
				height: 0;
				border-top: 1px solid rgba($rLight, $lighterLow);
			}
		}

		&:before {
			position: absolute;
			content: "";
			left: 25rem;
			top: 0;
			width: 75rem;
			height: 0;
			border-top: 1px solid rgba($rLight, $lighterLow);
		}

		&:not(.isActive) h4, 
		&:not(.isActive) .p3Wrapper, 
		&:not(.isActive) .goldLinksWrapper, 
		&:not(.isActive) .methodologyFullImg, 
		&:not(.isActive) .methodologyFullImg2, 
		&:not(.isActive) .state4AfterImgText,
		&:not(.isActive) .squareImgMethodology,
		&:not(.isActive) .methodologyVideoWrapper,
		&:not(.isActive) .methodologyAboutVideoWrapper,
		&:not(.isActive) .methodologySmallImg,
		&:not(.isActive) .linkWrapp,
		&:not(.isActive) .state2 .rightWrapper,
		&:not(.isActive) .state4 .leftWrapper,
		&:not(.isActive) .state7 .rightColomn,
		&:not(.isActive) .fullImg {
			display: none;
		}

		.methodologyState {
			display: block;
			margin-top: 3rem;
			padding-bottom: 3rem;
			width: 100%;
			float: none;

			&[class^='state'], &[class*=' state'] {
				width: 100%;
				margin-right: 0rem;

				.h0 {
					float: none;
					transform: none;
					position: relative;
					text-indent: -2.4rem;
					line-height: .6em;
					display: inline-block;
					width: auto;
					right: 0;

					.openMethTab {
						display: block;
						width: 4.2rem;
						height: 4.2rem;
						position: absolute;
						right: -5rem;
						top: 0.8rem;
						cursor: pointer;
						border-color: $rLight;

						&:hover {
							border-color: $goldColor;
						}

						&:before {
							width: 4.2rem;
							height: 0px;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							margin: auto;
							content: "";
							border-top-width: 1px;
							border-bottom-width: 0;
							border-left-width: 0;
							border-right-width: 0;
							border-style: solid;
							border-color: inherit;
						}

						&:after {
							width: 0;
							height: 100%;
							position: absolute;
							right: 0;
							left: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							border-top-width: 0px;
							border-bottom-width: 0;
							border-left-width: 1px;
							border-right-width: 0;
							border-style: solid;
							border-color: inherit;
							content: "";
							transition: height 0.5s, opacity 0.5s;
							opacity: 1;
						}
					}
				}

				.methodologyStateText:before {
					display: none;
				}

				.methodologyStateText {
					width: 100%;
					float: none;
					padding-top: 1.5rem !important;
				}

				.leftWrapper, .rightWrapper {
					float: none;
					width: 100%;
				}

				.leftColomn, .rightColomn  {
					float: none !important;
					width: 100% !important;
				}
			}

			&.state7, &.state2  {
				padding-top: 0;

				.rightWrapper {
					padding-top: 1.5rem;
				}
			}

			&.state5 {
				.p3Wrapper  {
					padding-top: 3rem;
					padding-bottom: 2rem;
					width: 100%;

					.a3 {
						display: block;
						position: static;
						font-size: 1.8rem;
						width: 45%;
						margin: 0 auto;
						text-align: left;
						color: $goldColor;
						padding-top: 3rem;
						padding-bottom: 3rem;
					}
				}

				h4 {
					padding-top: 3rem;
				}
			}

			&.state2 {
				.p3Wrapper  {
					width: 50%;
				}
			}


			&.state6 {
				.p3Wrapper  {
					padding-top: 3rem;
					padding-bottom: 2rem;
					width: 100%;
				}

				.methodologyVideoWrapper {
					clear: left;
					width: 100%;
					padding-top: 3rem;
					float: left;

					.methodologyContentLinksWrapper {
						margin-right: 5%;
					}
				}

				.methCol {
					width: 50rem;
					padding-left: 2rem;

					.contentLinkText {
						width: 100%;
					}
				}

				.methodologyVideo {
					width: 20%;

					.video {
						width: 19.25rem;
						position: static;
						display: block;
						height: 10.81rem;
						margin: 6.5rem 0 2rem 0rem;
					}
				}

				.methodologyAboutVideoWrapper  {
					float: none;
					width: auto;

					.methCol {
						padding-left: 0;
						margin-top: 4.2rem;
					}
				}

				.contentLinkText {
					h3 {
						width: 100%;
						float: none;
					}
				}

				.contentLink:first-of-type nav {
					margin-left: 0;
				}
			}

			&.state7 {
				.methodologySmallImg {
					float: none;
					width: 85%;
					height: 55rem;
					margin-left: 0rem;
					position: static;
				}

				.leftWrapper .h0 {
					top: 0;
					left: 0;
				}

				.rightColomn {
					clear: both;
				}

				.mobileBlock {
					display: block;
					padding-top: 1rem;
					padding-bottom: 3rem;
					margin-left: 3rem;

					br {
						display: none;
					}
				}

				.smallText {
					display: block;
					font-size: 1rem;
					width: 50% !important;
					position: absolute;
					z-index: 1;
					transform: translateY(-100%);
					margin-top: -5rem;
					margin-left: 2rem;
				}

				.rightWrapper {
					padding-right: 0;
					.linkWrapp {
						font-size: 2.5rem;
						margin-top: 7rem;
						padding-left: 1.5rem;

						.linkUnderline {
							color: $goldColor;
							margin-left: 3rem;
						}
						
						&:before {
							font-size: 3.7rem;
							top: -5.5rem;
							left: 3.5rem;
							color: $goldColor;
						}
					}
				}

			}

			&.state2 {
				.rightWrapper {
					.goldLinksWrapper {
						width: 40%;
						float: right;
						font-size: 2.6rem;
						padding-top: 14rem;

						li {
						}

						li:not(:last-of-type) {
							margin-bottom: 5.23rem;
							position: relative;

							&:after {
								position: absolute;
								color: $goldColor;
								bottom: -4.5rem;
								font-size: 3rem;
								left: -.7rem;
							}
						}

						.goldLink {
							overflow: visible;
						}

						.goldLinksText {
							color: #fff;
							display: block;
							margin-bottom: 10rem;
							width: 70%;
							font-weight: 300;
						}
					}
				}
			}
		}
	}

	.fullpageWrapper {
		.videoSection {
			.fp-tableCell {
				.h0 {
					font-size: 12rem;
					width: 50%;
					.a3.tip {
						display: none;
					}
				}
			}
		}

		.infoSection {
			.methodologyState {

				.h0 {

				}

				.methodologyStateText {
					width: 74%;
					padding-top: 2.8rem;

					.p3Wrapper {
						.p3 {
							&:nth-of-type(2) {
								display: none;
							}
							width: 100%;
						}
					}
				}

				&.state6 {
					bottom: 0rem;
					.contentLinksWrapper  {
						.contentLink {
							.contentLinkText {
							}

							&:first-of-type {
								padding-left: 0rem;
							}
						}
					}

					h3 {
						font-size: 1.6rem;
					}

					.methodologyVideoWrapper  {
						width: 75%;

						.methodologyContentLinksWrapper  {
							width: 78%;
							float: left;

						}

						.methodologyVideo {
							width: 22%;
							.video {
								top: 3.6rem;
							}
						}
					}

				}
			}
		}

		.imageSection {
			background-color: #021224;

			.imgYellow {
				background: transparent no-repeat center center;
				background-size: cover;
				width: 68.07%;
				height: 80%;
				margin: -3.5% auto 0 auto;
				position: relative;

				.a3.tip {
					left: 0;
					right: 0;
					margin: auto;
					text-align: center;
					bottom: -4rem;
					top: auto;
					color: #FFCA00;

					&:before {
						left: 0;
						right: 0;
						top: -1rem;
						margin: auto;
						width: 1.3rem;
					}
				}
			}
		}
	}

	.imagesProjectWrapperAlt {

		.imgWrapper {
			position: relative;
			float: right;

			.number {
				display: none;
			}

			&.mediumImg {
				width: 51.86%;
				height: 25.74rem;
				margin-bottom: 1.6rem;
				margin-left: 4.5rem;
			}

			&.smallImg {
				width: 32%;
				margin-right: 1.09rem;
				height: 25.74rem;
				margin-bottom: 1.6rem;
			}

			&.bigImg {
				width: 100%;
				margin-bottom: 1.09rem;
				float: left;
				height: 67.19rem;
			}

			&.rightImg {
				width: 46.26%;
				float: left;
				height: 61.56rem;
			}
		}

		.leftCol {
			width: 100%;
			float: left;
			margin-bottom: 4.5rem;
		}

		.rightCol {
			width: 88%;
			float: none;
			margin: 0 auto 5.5rem auto;
			overflow: hidden;
			position: relative;

			.goldLinksWrapper {
				width: 28.21%;
				font-size: 2.44rem;
				margin-top: 5rem;
				margin-left: 3.72rem;
				position: absolute;
				bottom: 0;
				left: 49%;

				.linkUnderline {
					display: inline;
				}

				li:last-of-type {
					margin-bottom: 0rem;
					position: relative;

					&:after {
						position: absolute;
						content: "+";
						left: -1.2rem;
						top: -4.7rem;
						font-size: 4.2rem;
						color: $mainColor;
						line-height: 1em;

					}
				}

				.goldLink {
					overflow: hidden;
				}

				.goldLinksText {
					color: $mainColor;
					position: relative;
				}
			}
		}

		.coloumnText {
			margin-top: 4.06rem;
			clear: both;
			width: 70.6rem;
			float: right;
			margin-right: 4.4rem;
			column-count: 1;
			column-gap: 0rem;
		}
	}

	.servicesWrapper {
		width: 70.5rem;
		float: right;
		margin-top: 8.06rem;
		margin-right: 4.4rem;
		margin-bottom: 7.29rem;

		&.project3 {
			margin-top: 5rem;
			margin-bottom: 3rem;

			.servicesUl {
				width: 1px;
				min-width: 100%;
				
				.li {
					&:nth-of-type(8n+4) {
						margin-right: 13.33rem;
					}

					&:nth-of-type(8n+5) {
						margin-left: 13.33rem;
					}
				}
			}
		}

		h4 {
			margin-top: 1.78rem;
			margin-bottom: 2.54rem;
		}

		.servicesUl {
			width: 100%;

			.li {
				float: left;
				width: 22.8rem;
				padding-left: 1.88rem;
				min-height: 25rem;

				.number {
					height: 6.70rem;
					width: 6.70rem;
					line-height: 6.7rem;
					font-size: 2.35rem;
				}

				h5 {
					font-size: 2.15rem;
				}

				.p4 {
					padding-top: 0.5rem;
					font-size: 1.3rem;
				}

				&:not(:last-of-type) {
					margin-right: 0.54rem;
				}
			}
		}
	}

	.presentProjects {

		.project {

			.projectInfo {
				.textWrapper {
					h3 {
						margin-top: 4rem;
						font-size: 1.7rem;
					}
				}
			}

			&.firstProject .projectInfo {
				border-right: 1px solid $lightGray;
			}
		}
	}

	.awardsState {
		padding-bottom: 26rem;

		.awardWrapper {
			background-size: 123% 147%;
		}

		h4 {
			font-size: 2.2rem;
		}

		h6 {
			font-size: 1rem;
			width: 85%;
		}

		.contentLinksWrapper .contentLink:first-of-type {
			padding-left: 0;
		}

		.methodologyState.state6 {
			.methodologyVideoWrapper  {
				padding-left: 5%;
			}


			h3 {
				font-size: 1.4rem;
			}
		}

		.whiteBg  {
			padding-bottom: 2rem;
		}
	}

}