@import "includes/_settings"; 

body {
	transition: all 0.3s;
}
.methodologyState {
	display: block;
	margin-top: 30px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 50px;

	.h0 {
		width: 36.45%;
		float: left;
		display: block;
	}

	.methodologyStateText {
		float: left;
		width: 56%;
		padding-top: 5.44vw;

		h4 {
			padding-top: 1.3vw;
		}
	}

	.p3Wrapper {
		padding-top: 4.1vw;
		height: 100px;
		width: auto;
	}

	.p3Wrapper .p3 {
		width: auto;
	}

	.p3Wrapper.colp3 .p3 {
		width: 28%;
		float: left;
	}

	.p3Wrapper.colp3 .p3:not(:last-of-type) {
		margin-right: 5.7%;
	}
}

.h0 {
	font: normal normal 12vw/1.4em $mainFont;
}