@keyframes filter {
	from {
		filter: blur(20px);
	}
	to {
		filter: blur(0px);
	}
}

@keyframes indexNav {
	from {
		padding-top: 8.5vw;
		opacity: 0;
	}
	to {
		padding-top: 9.5vw;
		opacity: 1;
	}
}

@keyframes filterBody {
	from {
		filter: blur(0px);
		opacity: 1;
	}
	to {
		filter: blur(20px);
		opacity: 0;
	}
}