body.isLoaded {
	.headImage {
		animation: filter 1.2s linear 1;
		opacity: 1;
	}

	.plus.isOpen {
		transform: translateZ(1px) rotateX(0deg) scale(1) rotateZ(45deg);
		border-color: $rLight !important;
		z-index: 101;
	}

	.plus.isActive {
		visibility: visible;
		transition: transform 0.5s, visibility 0s 0s;

		&:after {
			height: 100%;
		}
		

		&:before {
			width: 100%;
		}

		&:hover {
			border-color: $reverseBg !important;
		}

		&.isOpen:hover {
			border-color: #D2D800;
		}
	}
}