$mainFont: 'Playfair Display';
$secondFont: 'Open Sans';
$thirdFont: 'Crimson Text';

$mainColor: #31313F;
$asideColor: #B8B8C7;
$lineColor: #DBDBEA;
$lightGray: #D0D2D8;
$middleGray: #DBDBEA;
$goldColor: #B09766;
$expGray: #AAAAAA;

$reverseBg: #021224;
$rLight: #fff;
$lighterLow: .2;
$lighterMiddle: .3;
$lighterHighly: .5;