@import "includes/_settings";

h1,h2,h3,h4,h5,h6, .h0, .p1, .p2, .p3 {
	color: $mainColor;
}

.h0 {
	font: normal normal 11.2rem/1.4em $mainFont;
	letter-spacing: 0.03em;
}

h1 {
	font: 400 3.12rem/1.4em $mainFont;
	letter-spacing: 0.24px;
}

h2, .h2 {
	font: 400 2.87rem/1.41em $mainFont;
	letter-spacing: 0.24px;
}

h2 i, h3 i {
	font-style: italic;
}

h2 b, h3 b {
	font-weight: 700;
}

h3, .h3 {
	font: 400 1.35rem/1.3em $mainFont;
	letter-spacing: 0.24px;
}

h4, .h4 {
	font: 300 1.15rem/1.63em $mainFont;
}

h5, .h5 {
	font: 400 0.93rem/1.6em $mainFont;
	letter-spacing: 0.02rem;
}

h6, .h6 {
	font: 400 0.83rem/1.3em $mainFont;
	letter-spacing: 0.02rem;
}

.p1 {
	font: 300 0.93rem/2.2em $secondFont;
}

.p2 {
	font: 400 0.83rem/2.2em $secondFont;
}

.p3 {
	font: 400 0.67rem/2.4em $secondFont;
	letter-spacing: 0.5px;
}

.p4 {
	font: 300 0.57rem/2.2em $mainFont;
	letter-spacing: 0.05rem;
}

.img1 {
	font: normal 0.73rem/1em $thirdFont;
	color: $lightGray;
}

.a2 {
	font: normal 0.47rem/1em $secondFont;
	color: $asideColor;
	letter-spacing: 0.22rem;
	text-transform: uppercase;
}

.a3 {
	font: normal 0.62rem/1.2em $thirdFont;
	color: $lightGray;
	position: absolute;
}

.cuteLink {
	font: 400 0.55rem/1em $secondFont;
	color: $mainColor;
	letter-spacing: 0.28rem;
	transition: color 0.5s;
}

.linkUnderline {
	color: $mainColor;
	position: relative;
	display: inline;
	transition: color 0.5s;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		left:0;
		bottom: 0em;
		width: 100%;
		height: 0px;
		border-color: inherit;
		border-bottom-width: 1px;
		border-left-width: 0;
		border-right-width: 0;
		border-top-width: 0;
		border-style: solid;
		border-color: inherit;
		transition: border-color 0.5s;
	}
}

.p1 .linkUnderline:after {
	bottom: 0.06em;
}

nav li:not(:last-of-type):after {
	content: " / ";
}

.underline {
	position: relative;

	&:before {
		position: absolute;
		content: "";
		width: 100%;
		display: inline-block;
		height: 1px;
		background-color: $mainColor;
		left: 0;
		bottom: -0.14em;
	}
}