@import "includes/_settings";

h1,h2,h3,h4,h5,h6, .h0 {
	color: $mainColor;
}

h1 {
	font: 400 3.125vw/1.4em $mainFont;
	letter-spacing: 0.24px;
}

h2 {
	font: 400 2.87vw/1.4em $mainFont;
	letter-spacing: 0.24px;
}

h2 i, h3 i {
	font-style: italic;
}

h2 b, h3 b {
	font-weight: 700;
}

h3 {
	font: 400 1.35vw/1.3em $mainFont;
	letter-spacing: 0.24px;
}

h4 {
	font: 300 1.15vw/1.6em $secondFont;
}

.p3 {
	font: 400 0.667vw/2.4em $secondFont;
}

.img1 {
	font: normal 0.729vw/1em $thirdFont;
	color: $lightGray;
}

a.cuteLink {
	font: 400 0.47vw/1em $secondFont;
	color: $mainColor;
	letter-spacing: 0.21vw;
	transition: color 0.5s;
}

li:not(:last-of-type):after {
	content: " / ";
}